[2016-04-13 00:57] jamestalmage opened #2 "Should we even care what the type of the Error is?"
See here: https://github.com/sindresorhus/eslint-plugin-xo/blob/master/rules/throw-new-error.js#L3-L11

We filter on only that list of Errors. Shouldn't we just be asking that they either:

1. Rethrow an error that was passed in.
2. Use `new`

All these should be an error, right:

[code]

That last one might be hard to detect. So maybe throwing an identifier is just allowed, and we don't try stati

[2016-04-13 01:07] sindresorhus commented on #2
@jamestalmage ESLint already handles the case of throwing a non-error: http://eslint.org/docs/rules/no-throw-literal

[2016-04-13 01:14] jamestalmage commented on #2
Ah. yeah. I guess this doesn't cover many other cases then.

[2016-04-13 05:36] #2 closed

[2016-04-14 17:15] jamestalmage opened #3 "func-style like plugin"
See: http://eslint.org/docs/rules/func-style

My personal preference is to prefer `declaration` style, as it allows hoisting (and just looks better to me). The only issue is when you want to reassign:

[code]

ESLint's `func-style` rule does not accommodate the above exception when preferring declarations, so it is impractical to enforce.

---

Note:

You can get around ELint's rule by doing this:

[2016-04-14 20:22] jfmengels commented on #3
When writing in ES5, I prefer the `declaration` style, when writing with ES2015, I think I preferred (has been a while now) writing `expression` style for short functions (`const double = (x) => x * 2;`), and `declaration` style for longer ones.  With the `expression` one, you have the benefit that you know that the function won't be re-declared elsewhere if you've assigned it to a `const` variabl

[2016-04-14 20:50] jamestalmage commented on #3
Arrow functions would be excluded (that's an option even in ESLints plugin).

[2016-04-14 20:56] jfmengels commented on #3
With arrow function excluded... then maybe yeah.
We'll still have to mix decorated stuff like this anyway:
[code]
But yeah, why not.

[2016-04-14 21:25] jamestalmage commented on #3
The eslint rule (in `declaration` mode, with arrow functions excluded), only flags a `FunctionExpression` if it's immediate parent is a `VariableDeclarator`, so you only run afoul doing `var fn = function () {}`.

The ESLint behavior makes sense to me, but it doesn't make an exception for variables that are later reassigned. That is a rare occurrence, but if you are already in the habit of using f

[2016-04-14 21:26] jamestalmage commented on #3
A bit dated, but: https://kangax.github.io/nfe/

[2016-04-15 06:12] sindresorhus commented on #3
Why? I prefer arrow functions for everything as they're lexically scoped (no dumb implicit `this`) and you can use `const` with them to ensure they're never overridden.

[2016-04-15 07:02] jamestalmage commented on #3
Well, if you don't need the lexical binding there's no advantage. Actually there may be a performance hit if arrow functions are transpiled (to accommodate the binding, etc) - though that might not even true - not sure if Babel is smart enough to avoid binding if it isn't needed.

Still, I am not dogmatic about it.

This came up because I noticed we're mixing styles across the AVA codebase, and wa

[2016-04-15 07:51] sindresorhus commented on #3
Yes, I like to figure out a good default we can enforce for this too. I don't feel super strongly either way, just slightly prefer arrow functions. Also nested function declarations looks messy and having everything as variables looks cleaner and more consistent.

// @vdemedes @novemberborn @SamVerschueren

Still the advantage of `const` and no hoisting. I consider hoisting a misfeature. I prefer

[2016-04-15 08:17] sindresorhus opened #4 "Add option to the `throw-new-error` rule for working with custom errors"
From: https://github.com/sindresorhus/eslint-plugin-xo/commit/53b7133c910695557d9c4a10079fac791b32c4dc#commitcomment-17077491

##

New to making ESLint rules? Check out this quick guide on [how to get started](https://gist.github.com/sindresorhus/1656c46f23545deff8cc713649dcff26).

[2016-04-15 09:18] novemberborn commented on #3
I tend to use a mix of syntaxes. E.g. in [`package-hash`](https://github.com/novemberborn/package-hash/blob/69a328840818d336ae13af22f9af092208fcb49b/src/index.js), because I'm using `export function sync` I like declaration style for the other functions in the file.

In other files where there are few declarations I'm [more likely](https://github.com/novemberborn/copenhagen/blob/5ff8739b1736810657

[2016-04-15 10:35] jfmengels commented on #4
Would that be the default? Seems like a sensible one to me, as it's unlikely that someone throws something whose name ends with Error and is not an Error.

[2016-04-15 10:37] sindresorhus commented on #4
`[/Error$/]` would be the default.

[2016-04-15 18:14] jfmengels opened #5 "`filename-case` rule"
# Enforce a case style for file names

Enforces all linted files to have their names in a certain case style.

- `camelCase`: `fooBar.js` (default)
- `snakeCase`: `foo_bar.js`
- `kebabCase`: `foo-bar.js`

## Options

You can set the option in configuration like this:

[code]

I have just written it, thinking I would put it in a new random stuff plugin, but if you guys are interested in putting thi

[2016-04-15 18:36] sindresorhus commented on #5
Looks useful. Happy to have it added here :)

[2016-04-15 18:37] sindresorhus commented on #5
Is `camelCase` really the best default? Most filesystems are case-insensitive. I would think `kebabCase` would be better.

[2016-04-15 19:16] jamestalmage commented on #5
idea :+1:

`camel-case` as default. :+1:

[2016-04-15 19:18] sindresorhus commented on #5
Why?

[2016-04-15 19:31] jamestalmage opened #6 "import naming rule"
I like the practice of assigning imports to variables that are camel-cased versions of the package name:

[code]

We've been pretty consistent about using it in AVA, and I like knowing which package to lookup on `npm` without scrolling to the top (and I am disappointed when that doesn't work out).

There are exceptions though (perhaps so many it makes an enforcement rule impossible):

[code]

Mayb

[2016-04-15 19:32] jamestalmage commented on #5
I meant kebab

[2016-04-15 20:41] jfmengels commented on #6
I like the idea, but I think there are too many exceptions. I think simply enforcing [camel-case](http://eslint.org/docs/rules/camelcase) would go a long way in the right direction.

[2016-04-15 20:57] jfmengels commented on #5
Huh. I usually write files in camel-case. Makes it easier to just copy-paste the filename :D `const fooBar = require('./fooBar');`.
I'm often scared when I propose a rule to you guys, that it will land in XO with a default value I don't like :p

[2016-04-15 21:07] jamestalmage commented on #6
That was my concern as well. Still, it's a comment we leave on a lot of PR's. So a rule that got it right would be super helpful.

We already do that, and people still try to get creative with naming.

---

Maybe we could parse `Readme.md` from a given package and automatically allow users to follow the naming convention applied in the docs? That would cover `lodash` (and any well documented modul

[2016-04-15 21:18] jamestalmage commented on #5
You are coordinating two different systems: The possibly case insensitive file system, and the language spec for identifiers.

Dashed names are much more readable, almost as good as a space. ThereIsAReasonWeDoNotWriteLikeThisOutsideOfProgrammingLanguages.

[2016-04-15 21:41] jfmengels commented on #5
Ah yeah, forgot about OSX's case insensitivity... Ok, that makes good sense. I'll try to make a PR tomorrow.

[2016-04-15 22:03] jfmengels commented on #5
Or now.

[2016-04-15 22:12] jfmengels commented on #6
That'd make your linting succeed or fail on the whims of the maintainer (If they change the name, or a bit more probable if they change the docs in a way that is not parsable). Sounds like a hell of a lot of trouble too (though I like the idea in itself).

I don't have a better idea yet though :/

[2016-04-15 22:21] jamestalmage commented on #6
Good point.

We would always allow the camel casing of the name (so you are only subject to the whims of the maintainer when you break that pattern). The Readme parsing would only relax the rule by allowing additional alternatives.

[2016-04-17 09:15] #5 closed

[2016-04-17 09:26] sindresorhus commented on #6
I really like the idea. I've been doing exactly this for a long while now and it makes imports easier to reason about. I don't think we should parse the readme though. It's just too fragile and convoluted. XO shouldn't suddenly fail because an author slightly changed the readme in a patch release.

Yeah, I like that. Seems like a good compromise.

-

I also think we could add common conventions, l

[2016-04-17 12:40] jfmengels commented on #6
I'm not sure how it will turn out, but we could try it in a few projects and see if it's too painful to respect. Though I could see myself wanting this too for instance (which wouldn't pass with what you proposed)

[code]

I think we should allow little changes to the name too, like prepending/appending small stuff, so that it can be assigned to a different variable with the right name later. Exam

[2016-04-17 16:37] sindresorhus opened #8 "`prefer-includes` rule"
Prefer `.includes()` over `.indexOf()` when checking for existence. Since ESLint has no type analysis we'll have to assume all properties named `.indexOf()` have a `.includes()` counterpart. This is luckily true for all builtins: `String#includes`, `Array#includes`, `TypedArray#includes`, `Buffer#includes`.

See https://github.com/eslint/eslint/issues/4209 for more.

`.includes()` cases:
- `'fooba

[2016-04-17 22:09] jamestalmage commented on #8
Also the negation for `!arr.includes`

`== 0`

`=== 0`

`< 0`

[2016-04-18 05:32] sindresorhus opened #9 "Enforce import index style"
I want to enforce `require('.');` and `from '.';`. Before Node.js 4 you had to do `'./'`. In Node.js 4 you can do: `'.'`.

Should catch the following cases:
- `'./'`
- `'./index'`
- `'./index.js'`

Should be easy to implement auto-fixing for this rule.

[2016-04-18 05:54] sindresorhus opened #10 "Enforce error name in `catch`"
I want to enforce the use of `err` as the error name in try/catch and promises:

[code]

[code]

-

Should be easy to make it fixable.

[2016-04-18 06:00] sindresorhus opened #11 "Prefer `Array.isArray()` over `arr instanceof Array`"
The latter doesn't work across realms (frames/tabs in the browser, `vm` in Node.js). I still see people using the latter, so would be nice to prevent them.

-

Should be possible to make this autofixable.

-

New to making ESLint rules? Check out this quick guide on [how to get started](https://gist.github.com/sindresorhus/1656c46f23545deff8cc713649dcff26).

[2016-04-18 06:18] sindresorhus opened #12 "Explicit length check"
I want to enforce doing `if (arr.length > 0) {` over just `if (arr.length) {`. Same with `!arr.length`. I think we can safely assume `.length` is a number. I generally favor explicitness. Should be autofixable.

[2016-04-18 10:28] sindresorhus commented on #8
I assume you meant:

[code]

[2016-04-18 10:28] sindresorhus commented on #8
Would also be useful to catch cases where `.includes()` would be better than a regex:

[code]

Could be:

[code]

[2016-04-18 11:01] sindresorhus opened #13 "`prefer-starts-ends-with` rule"
[`.startsWith`](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/String/startsWith) instead of:
- `foo.indexOf('bar') === 0`
- `foo[0] === 'b'`
- `foo.charAt(0) === 'b'` (and `foo.charAt()`)
- `foo.slice(0, 2) === 'bar'` (and .substring & .substr)
- `/^bar/.test(foo)` (and `.match()`)

[`.endsWith`](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_

[2016-04-18 11:29] jfmengels commented on #13
You'd have to infer that `foo` is a string, which is hard :/

[2016-04-18 13:40] jamestalmage commented on #8
Indeed

[2016-04-18 14:25] sindresorhus commented on #13
Indeed. Wish ESLint had some kind of type inference analysis...

At least with the regex case you can safely assume a string. So maybe just that for now?

[2016-04-18 14:49] jfmengels commented on #13
Yeah, but much less interesting ^^'
(and it only applies when Regex is case sensitive too...)

[2016-04-18 18:34] jfmengels opened #15 "No template literals in normal strings"
https://github.com/eslint/eslint/issues/5850
Do we want to create a rule for this here?
I don't think it happens often but can be useful, and we might as well put it here as we have/want plenty of different type of rules.

[2016-04-18 18:40] sindresorhus commented on #15
Yeah. Doesn't have to happen often to be useful.

Might want to wait on this though (from linked issue):

[2016-04-18 19:23] jamestalmage commented on #9
Is it premature? Should we enforce `./` until `0.12` is phased out?

[2016-04-18 19:26] jfmengels commented on #9
Well, the rule could exist with an option of what is the preferred version, and could be rectivated later by default in XO.

[2016-04-18 19:29] jamestalmage commented on #9
Yeah. That's what I was thinking.

[2016-04-18 19:34] sindresorhus commented on #9
I don't see the point in an option. 0.12 is already being phased out. It went into maintenance mode early this month. I'd rather have a simple rule without any options that we can add to `esnext` in XO for now.

[2016-04-18 19:47] jamestalmage commented on #9
My thought is that most of what I work on still supports `0.12`, and will need to for the next 12 months.

 `.` vs `./` isn't that big of deal, but it would be nice to call out `./index` and `./index.js`.

Either way, the rule should also handle relative references to `index.js`:

- `../../index.js` -> `../../`

[2016-04-18 20:05] sindresorhus commented on #9
Alright. So how about we fail on `./index` and `./index.js` and allow `.` and `./`, but in a year we change it to only `.`?

[2016-04-18 20:11] jfmengels commented on #9
If it gets in XO with `esnext` and not as the default, I don't see why it couldn't be `.` already. Or give it an option to prefer `./` or `.`, that way, we won't have to change it in a year and "migrate" the codebases that use `esnext`.

[2016-04-18 20:31] sindresorhus commented on #9
I was hoping to not need an option, but I agree with @jfmengels. That sounds like the best solution. Should default to `.`, so we can just remove the option in a year.

[2016-04-18 22:26] jamestalmage commented on #9
You can still call `require` from transpiled code, and I don't think Babel handles converting `.` => `./`.

So simply using XO's `esnext` option is going to create some confusion I think.

IMO, the best thing to do would be to default to `./` as the requirement, and `.` should be an error. That keeps it consistent and backward compatible.

I don't see the point of trying to drop that trailing slas

[2016-04-19 06:45] #10 closed

[2016-04-19 06:56] sindresorhus commented on #9
Ok. I'm good with `./`.

We can change it to `.` later and I can use a codemod to update all my modules.

[2016-04-19 20:58] ljharb commented on #15
It's now closed, sadly. I'd love to be able to use this rule.

[2016-04-19 21:02] sindresorhus commented on #15
Alright. Let's do it then.

[2016-04-19 21:05] ljharb commented on #15
@sindresorhus it'd be awesome if it could be done standalone, and made a dep of this one, so i can use it in other packages without having to bring in this entire package :-)

[2016-04-19 21:20] jfmengels commented on #15
You wouldn't get much less by having a standalone module (there a not a lot of dependencies... yet), and maybe you'll want all the awesome rules that it has and will have? :D

More seriously, to me, it's a bit of a pain to create a new project for it. I agree that you might not want all the rest, but maintaining-wise, it's simpler to have it in a project that is actively maintained by several peop

[2016-04-19 22:03] ljharb commented on #15
I use `eslint-find-rules --unused` to ensure that all rules available are defined, so if I bring in a plugin with N rules, i have to add N lines to my eslint config.

If the authors don't mind, then once written, I'd be happy to spend the few minutes required to create a new project, and would be happy to copy the code and share ownership/maintainership of it, especially if this module could pull

[2016-04-19 22:16] jamestalmage commented on #15
Maybe we should build this project as a monorepo? Split each rule into its own package? It would be interesting to explore what AVA and XO could do to enable monorepo development:

- shared config
- easily test/lint all submodules/packages
- easily test/lint an individual submodule/package

[2016-04-19 22:22] jamestalmage commented on #9
:+1:

[2016-04-21 08:47] jfmengels commented on #15
Can be interesting.

Does AVA already do something monorepo-like, or are you suggesting it could start doing something in that vein?

[2016-04-21 12:22] sindresorhus commented on #15
I'm really not a big fan of monorepos. It would also add a lot of overhead. I think the rules we have now makes sense in one package. We currently have a nice setup with tests, docs and code coverage. I don't really see the problem depending on this plugin, even if you only want one rule. We currently only have 4 tiny dependencies. Dependencies matters less in a dev environment.

I would rather fi

[2016-04-23 10:39] kevva opened #16 "`return-early` rule"
As discussed in https://github.com/sindresorhus/execa/pull/15#discussion-diff-60815913. How I think when coding is to handle errors and exceptions as soon as possible and return early. If we take a look at the two examples below, the latter one makes more sense to me. `foobar()` in this case is the "real" body while the code in the `if` statements deal with exceptions. When using the style in the

[2016-04-23 16:16] SamVerschueren commented on #16
Like that style as well! Would be nice.

[2016-04-23 16:19] jfmengels commented on #16
:+1: for the idea.

I found this recently https://github.com/Shopify/javascript/blob/master/packages%2Feslint-plugin-shopify%2Fdocs%2Frules%2Fprefer-early-return.md, which handles a related case.

I would also handle the following:

[code]
but not
[code]

[2016-04-23 16:21] jfmengels commented on #16
I think I've already been bitten by http://eslint.org/docs/rules/no-negated-condition, that made it not possible to return early, so in XO you may have to relax the rule a bit (or create a new rule that handles both cases?).

[2016-04-23 16:32] jamestalmage commented on #16
`no-negated-condition` does not prevent the style @kevva is proposing. It just tells you to un-negate the condition and flip the [`consequent` and `alternate`](https://github.com/estree/estree/blob/master/spec.md#ifstatement) blocks.

[2016-04-23 16:34] jfmengels commented on #16
True, but it does in the case of my first example, which I think would be nice to also handle in this plugin (though it doesn't have to as there already exists a rule for it).

[2016-04-23 17:09] jamestalmage commented on #16
I disagree with the rule as proposed. I do agree with the sentiments from [@timoxley's blogpost](http://blog.timoxley.com/post/47041269194/avoid-else-return-early). But those are different from the code being discussed in https://github.com/sindresorhus/execa/pull/15#discussion-diff-60815913.

In Tim's blog he recommends against this:

[code]

In that case I agree with the refactor to use a return

[2016-04-24 09:53] jamestalmage opened #17 "Easy way for libraries to define deprecated methods and have them linted."
`escodematch` like specifiers in package.json - detailing deprecated methods.

Maintainers wouldn't have to write linter rules themselves. We make it easy, and automatically scan `package.json` of dependencies to find specifiers.

[2016-04-24 09:59] sindresorhus commented on #17
Interesting! Can you show an example of how it would look?

[2016-04-25 15:35] ayrton commented on #9
I wrote this earlier today for closed project, happy to open a PR:

[code]

[2016-04-25 15:48] jfmengels commented on #9
@ayrton Great! And yes, please make a PR :)

A few remarks already though:
- We would like support for `require` too
- You don't handle the case of `./index`

Thanks for doing this!

[2016-04-25 16:06] jfmengels commented on #8
I found the same rule in [`eslint-plugin-lodash`](https://github.com/wix/eslint-plugin-lodash/blob/master/docs%2Frules%2Fprefer-includes.md), though it's not necessarily all that portable.

I think I'll probably add the same rule to [eslint-plugin-lodash-fp](https://github.com/jfmengels/eslint-plugin-lodash-fp), because there is a lot of overlap but it does not always fit the bill for both... :/
I

[2016-04-25 16:08] sindresorhus commented on #8
Sure, sounds good. Although, if any logic could be reused it would be nice to have it in some kind of eslint-utils module of some kind (hint hint).

[2016-04-25 16:09] sindresorhus commented on #9
Also needs to handle `require()`.

[2016-04-25 17:16] sindresorhus commented on #17
Relevant: https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-deprecated.md and https://github.com/benmosher/eslint-plugin-import/issues/193

[2016-04-25 18:03] jamestalmage commented on #17
Oh wow. That's a cool way to do it.
Might be slow though. Doesn't it have to load and parse every dependency?

[2016-04-25 18:16] sindresorhus commented on #17
@benmosher ⬆️

[2016-04-25 18:27] sindresorhus opened #18 "Node module specific rules"
Would be cool to enforce some best practices and prevention of common pitfalls on the most popular Node.js modules.

For example, with [`meow`](https://github.com/sindresorhus/meow) I want to enforce using a template literal instead of a normal string as the first argument.

I'm thinking we can activate the rule if we detect an import of the specific module.

Any requests? Common pitfalls you've s

[2016-04-25 18:34] jamestalmage commented on #18
It all comes back to type analysis. The easier it is to infer that a given variable is of a given type, the easier it is to write this type of rule.

[2016-04-25 18:40] sindresorhus commented on #18
@jamestalmage Sure, but in this case, the template literal or string is always put inline in the function call. If not, we could always use path analysis as 99% certainly in the same file.

[2016-04-25 18:50] jamestalmage commented on #18
Oh - I meant ensuring `meow` was `meow`. But yes, it also applies to the template variable as well. Not against it - just saying adding a lot of type dependent rules without a good typing system is burdensome (echoing what we have already said)

[2016-04-25 18:56] benmosher commented on #17
It does parse every dependency, but if you're already using the other rules that do static analysis the plugin only parses each dependency at most once, so turning on the no-deprecated rule doesn't add much extra time.

I also wrote an ESLint memoizing parser as an experiment, to cut parse time in half by allowing ESLint proper and the import plugin to share the same parsed AST instead of each par

[2016-04-25 18:57] sindresorhus commented on #18
@jamestalmage Yeah, totally, but don't limit your brainstorming to type dependent rules. Lots of other things that could be useful. I should have found a better example in the issue description than a type dependent one.

[2016-04-25 18:59] benmosher commented on #17
BTW, it currently uses JSDoc but could use whatever. It's not obvious to me how prevalent JSDoc is, I mostly use it internally to flag myself and others with yellow rectangles around deprecated identifiers in Sublime.

[2016-04-25 19:07] jamestalmage commented on #18
My point was that type analysis is required for any "uses XXX appropriately" rule. You have to narrow down that a given variable is of type XXX. It's easy for `meow` since you basically always use the import directly.

[2016-04-25 19:16] sindresorhus commented on #17
@benmosher I assume the ESLint caching works fine with `eslint-plugin-import`?

[2016-04-25 20:10] benmosher commented on #17
Yes and no. If you change an imported file, the files that import it won't be invalidated so if any import issues have been introduced, they won't show up. I.E.:

Module A imports B. Lint A with --cache, then delete B, then re-lint A with --cache. I would expect it not to report B as missing since A's content still matches the last lint execution. I am not super-familiar with ESLint's caching thou

[2016-04-29 17:50] sindresorhus opened #19 "`filename-case` rule should gracefully handle linting from text"
If the ESLint (and the one proxied in XO) `fn.lintText()` method is used without passing the filename option, `context.getFilename()` returns `<text>`. The rule should gracefully handle that by returning early.

[2016-05-01 10:17] sindresorhus commented on #3
I agree that ES2015 exports should use a normal function.

This:

[code]

Looks better than this:

[code]

[2016-05-02 09:48] #19 closed

[2016-05-03 09:45] jfmengels commented on #12
Should also handle `if (!arr.length) {}` --> `if (arr.length === 0) {}`

[2016-05-03 17:13] jamestalmage commented on #12
We could also allow `if(Boolean(something.length))` for situations where `.length` was not a number.

I am not 100% sure on autofixing it though. It's definitely doable, but adding `> 0` potentially changes behavior. Not sure that we should apply autofixes unless we can guarantee it has no impact on behavior.

*almost* always, yes. But I could definitely see somebody doing something like this:

[c

[2016-05-03 18:18] jfmengels commented on #12
I agree with @jamestalmage about the autofixing part, especially since this would change the form of the AST. Current ESLint recommendations for autofixing is limited to fixing stuff like whitespace. I prefer waiting on the rework of the autofixing that they are working on.

We should only lint when the access to the property `length` is
- at the root of an if condition `if (a.length) {}`
- inside

[2016-05-03 18:43] sindresorhus commented on #12
They've actually backpedaled on that: https://mobile.twitter.com/geteslint/status/723909416957829122

They've said that will take a lot longer and in the meantime they're going to make it slower but more correct by trying to apply as many fixes as possible.

-

That being said, I agree with skipping on auto-fixing this rule.

[2016-05-03 18:49] jfmengels commented on #12
Ah, I thought that was still in the works. Okay, thanks.

[2016-05-03 20:04] jamestalmage commented on #12
Yeah, but the implementation is still a bit weird. You can't modify the AST directly, instead you replace nodes with straight text. Note the lack of `replace(someNode, someOtherNode)` type of function [here](https://github.com/eslint/eslint/blob/master/docs/developer-guide/working-with-rules-new.md#applying-fixes).

`insertTextAfter(node, ' > 0')` would almost work for this rule, except for a few

[2016-05-03 20:11] sindresorhus commented on #12
Yup, [CST](https://github.com/cst/cst) is the only real solution.

[2016-05-14 14:29] KingScooty opened #23 "PascalCase only for .jsx files??"
Is there a way to enforce PascalCase, but only for .jsx files?

[2016-05-14 14:36] jfmengels commented on #23
Not with our `filename-case` rule at this moment.
What is it that you would really want? Would you want to enforce PascalCase only for some files, and then some other case for the rest?

[2016-05-14 14:38] KingScooty commented on #23
Yeah, so kebab case for all files that aren't .jsx files.
Since jsx components are always defined with pascal case, i'd like to name the files accordingly too.

[2016-05-14 17:37] jamestalmage commented on #23
That seems really goofy. You could then conceivably have `some-item.js` and `SomeItem.jsx` in the same directory. That seems.like a bad plan. It also messes with alphabetical ordering

[2016-05-14 17:40] KingScooty commented on #23
Yeah, i guess. I don't make a habit of mixing the two filetypes together though. It just feels weird not using  a pascal case for jsx files, when they're always referred to in pascal case in the code. Maybe it's just me!

[2016-05-14 21:21] jamestalmage commented on #23
I always use kebab case for files, regardless. I find directory listings much easier to read that way.

[2016-05-14 21:31] jamestalmage opened #24 "Enforce "must use new" check inside constructor functions."
ES2015 Classes throw an error if you don't use `new` to instantiate them.

We have begun performing the same check manually in non-es2015 constructors, using a simple `if(!(this instance of ...))` check. It would be good to enforce that check if the function name was capitalized.
##

New to making ESLint rules? Check out this quick guide on [how to get started](https://gist.github.com/sindresorhus

[2016-05-15 11:47] sindresorhus opened #25 "`filename-case` rule false positive"
[code]

Should we maybe make an exception here? I don't see why we would enforce the number to be independent.

[2016-05-15 23:51] jamestalmage commented on #25
It should accept either variant.

[2016-05-16 10:15] sindresorhus opened #26 "Enforce error message style"
https://github.com/sindresorhus/ava/pull/835#discussion_r63331538

I want to say: `This is a failure, you should use a blimp`

Which of the following should it be:

- This is a failure, you should use a blimp
- This is a failure. You should use a blimp
- This is a failure. You should use a blimp.

Keep in mind that if we go for the last one, which looks the best, it becomes inconsistent with one s

[2016-05-16 10:18] sindresorhus opened #27 "Prevent using `Error` when doing type-checking"
I often forget to use a `TypeError` when doing type-checking in a module.

Example:

[code]

Would be nice to error the conditional only does type-checking and prevent the use of `Error`. Custom errors should be allowed.
##

New to making ESLint rules? Check out this quick guide on [how to get started](https://gist.github.com/sindresorhus/1656c46f23545deff8cc713649dcff26).

[2016-05-16 11:36] ntwb commented on #25
I raised a similar case in Gitter https://gitter.im/sindresorhus/ava?at=5726d196e10a59c06107afb2

...files named `i18n.js`, `l10n.js`, or `a11y.js` numeronyms could be ignored, at least in my head I treat these as a single word, and `i-18-n.js` looks pretty weird

[2016-05-16 12:53] jfmengels commented on #25
Yeah, I saw it pass in the Gitter, so I added it ;)

[2016-05-16 14:24] kevva commented on #26
#1 for one sentence error message and #3 for multiple sentences. I don't mind them being inconsistent tbh and it's usually what I do anyway.

[2016-05-16 17:35] jamestalmage commented on #27
List of typechecking constructs:

- `Array.isArray`
- `Buffer.isBuffer`
- `typeof obj === desired`

[2016-05-16 17:47] sindresorhus commented on #27
`instanceof` too, right?

[2016-05-16 18:30] jamestalmage commented on #27
Yep. Probably others. Somebody should scan the JS API looking for them.

[2016-05-16 18:42] jamestalmage commented on #27
- [`Function.prototype.isGenerator`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/isGenerator)

- `isNan()`
- `isFinite()`
- Use of [`Symbol.species`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/species) - (I don't fully understand this yet, so not sure)
- Popular / obvious `isXXX` constructs (allowing for `lo

[2016-05-19 06:24] jamestalmage opened #29 "Prefer default parameters"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/29)

Applies only to `es6` mode:

Bad:

[code]

Good:

[code]

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $60.00)

- [<img src='https://avatars3.githubusercontent.com/u/44827199?v=4' alt='i

[2016-05-19 07:49] sindresorhus commented on #29
Too bad I can't use default parameters in reusable modules in the near future...

[2016-05-19 10:58] sindresorhus opened #30 "`filename-case` rule should allow underscore prefixed names"
[code]

[2016-05-19 11:51] jfmengels commented on #30
Would we want to do the same for underscore suffixes? I don't know if people ever do that?

[2016-05-19 11:53] SamVerschueren commented on #30
I would just fix the prefix for now and wait until someone comes up with a use case. Never saw someone doing it except for a temporary backup maybe.

[2016-05-19 12:00] sindresorhus commented on #30
Nah, only prefix.

[2016-05-20 06:33] #25 closed

[2016-05-22 10:31] #30 closed

[2016-06-01 04:47] sindresorhus opened #32 "Exceptions to `no-process-exit` rule"
Sometimes it does make sense to use `process.exit()`:

[code]

[code]

I think we should make an exception when it's inside a `process` event listener.

[2016-06-01 08:23] jfmengels commented on #32
That would allow you to put a `process.exit` call anywhere in your program.

I'd say
- you could put all these event listener in your cli file (the one with a hashbang)
- that would be a valid case for adding a `eslint disable` comment, as it warrants IMO at least a comment to show that this file can cause your program to exit.

[2016-06-01 08:25] sindresorhus commented on #32
No, only directly inside the `process` event listener.

-

I think these cases should be allowed as they're valid use-cases for `process.exit()`. I don't see why we can't be user-friendly here.

[2016-06-01 08:26] sindresorhus commented on #32
It's not just CLI apps that use `uncaughtException`. Servers, worker, and apps too. Real world usage: https://github.com/sindresorhus/electron-config/blob/4ead4f9699bee920a7e60ea7e5a452eec3c24cda/fixture.js#L7

[2016-06-01 08:28] jfmengels commented on #32
:+1:

Do we want to handle only this:
[code]
or go the extra mile and handle this:
[code]

[2016-06-01 08:32] sindresorhus commented on #32
Only the former.

[2016-06-07 10:54] sindresorhus commented on #26
@jfmengels @jamestalmage @SamVerschueren Thoughts?

[2016-06-07 11:01] SamVerschueren commented on #26
Think I like `1` the most.

[2016-06-07 11:17] sindresorhus commented on #26
@SamVerschueren It's a bad example though. What if you have 3 sentences and comma isn't valid to separate them.

[2016-06-07 11:44] jfmengels commented on #26
Not a big fan of this rule. I understand the frustration, but this will be hard to treat well, and will only work well when writing errors in English. Sounds to me like a rule that will be disabled more often than the others.

[2016-06-07 12:24] SamVerschueren commented on #26
Just wondering why this actually is the case? Why can't we just end all the messages with a dot?

[2016-06-09 02:32] jamestalmage opened #36 "Rule proposal: `no-unnecessary-polyfills`"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24120%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/36)

A rule that examines the `engine` argument of `package.json`, and keeps a list of poly/ponyfills and which Node version makes them obsolete.

For instance, if you're using `object-assign`, but only targeting Node 4 and hig

[2016-06-09 17:04] sindresorhus commented on #36
Yes! :)

[2016-06-09 17:28] jamestalmage commented on #36
You could almost do this entirely by examining `package.json`.

Maybe there are some member functions of `lodash` where you would need to scan the code, but I think `package.json` gets us most of the way there.

[2016-06-09 17:50] SamVerschueren commented on #36
I'd suggest keeping a list of poly/ponyfills in an external package. Might come in handy in other packages as well.

[2016-06-09 19:43] sindresorhus commented on #26
@SamVerschueren It's common convention to not end error messages in a dot, but it becomes weird when you have multiple sentences.

[2016-06-09 19:45] sindresorhus commented on #26
@jfmengels Why will it be hard? And why do you think it will only work for English? It will work for any language that ends sentences with a `.`.

[2016-06-14 12:18] SamVerschueren opened #37 "`filename-case` complains about `s3fs.js`"
Is it my wrong or is the plugin a little bit too strict in this case? I don't really want to rename it to `s-3-fs.js` because it looks really weird.

![screen shot 2016-06-14 at 14 17 00](https://cloud.githubusercontent.com/assets/1913805/16042381/af0c58a6-323a-11e6-962f-7d3b4d55333b.png)

[2016-06-14 13:53] sindresorhus commented on #37
I think this was fixed in https://github.com/sindresorhus/eslint-plugin-xo/commit/198bb6a7deb946ab17d0b223e3dbfe3ef05779a2.

[2016-06-14 14:04] SamVerschueren commented on #37
Will check it again later today. Thought I reinstalled XO but will try it again.

[2016-06-14 14:11] sindresorhus commented on #37
@SamVerschueren It's not yet part of XO. I'm planning a new XO release soon.

[2016-06-14 14:15] SamVerschueren commented on #37
Oh ok. You can close it if you like or keep it open for tracking.

[2016-06-14 15:46] jfmengels commented on #37
I confirm that this should be fixed in 198bb6a. I'll close, but do re-open it if you find it to still be broken.

[2016-06-14 15:46] #37 closed

[2016-06-16 18:30] tarungarg546 opened #38 "FileName is not in kebab case for gulpFile"
Hey there,

I am using gulp-xo a gulp plugin for 'xo' which is essentially using eslint-plugin-xo and i am seeing following error when i tried to use gulp-xo.

This error is related to rule checking for kebab case and it seems like you guys are doing it and its from your end that this mistake is still there.

![capture](https://cloud.githubusercontent.com/assets/10435209/16128430/578eb23c-341e-11e

[2016-06-16 18:31] sindresorhus commented on #38
Rename your `gulpFile.js` to `gulpfile.js`.

[2016-06-16 18:31] #38 closed

[2016-06-17 21:41] jamestalmage opened #40 "Allow disabling of `xo/no-abusive-eslint-disable` via a comment"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/40)

I don't think it's possible currently.

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Sponsors (Total: $40.00)

- [<img src='https://avatars3.githubusercontent.com/u/44827199?v=4' alt='issuehunt' width=24 hei

[2016-06-17 21:49] sindresorhus commented on #40
Do you have an actual need for this? Curious when you'd need to disable it.

[2016-06-17 22:08] jamestalmage commented on #40
When you copy/paste in some code that you don't want to fix.

You could add to `ignore` in the XO config, but that's annoying to do if you plan on deleting it eventually.

[2016-06-17 22:38] jfmengels commented on #40
Hmm... I don't think it's possible.
I thought that maybe starting the file with `// eslint-disable-line xo/no-abusive-eslint-disable
` would do it, but it doesn't.

Sorry for the inconvenience :sweat_smile:

[2016-06-18 08:29] jamestalmage opened #41 "use strict or module syntax"
https://github.com/bmeck/UnambiguousJavaScriptGrammar/blob/master/README.md

The file should either contain `use strict` stanza at the top. Or have an `export` statement.

See the link above.

`export { }` declares module mode (and means export nothing).

Once that proposal is accepted - that brings other interesting opportunities for `xo` (i.e. turn on esnext in modules)

[2016-06-18 08:38] jfmengels commented on #41
I saw some disapproving comments from a TC39 member, so not sure this will pass. But :+1: with the idea. Let's wait until this gets approved, or do you think this is worth it anyway already?
https://twitter.com/domenic/status/743979089770463232
https://twitter.com/domenic/status/743981189732642816

[2016-06-18 08:42] jamestalmage commented on #41
No need to rush into anything. Just wanted to get the idea in the issue tracker.

[2016-06-19 08:59] jfmengels commented on #41
Actually, it's probably a better fit here https://github.com/benmosher/eslint-plugin-import/issues/384

[2016-06-19 15:16] jamestalmage commented on #41
Hmm. Enforcing `use strict` as the alternative seems out of scope for that library, but whatever. As long as we find a way to reliably tell me I've forgotten `use strict` - I'm good

[2016-06-19 15:39] jdalton commented on #41
ESLint already has `{parserOptions:{sourceType:"module"}}` which [will warn](https://github.com/nre/eslint/blob/97ac91c97de93549a6c2f619efabe43d56b8183e/lib/rules/strict.js#L27) if using "use strict" in ES modules. The UnambiguousJavaScriptGrammar would be used as an enhancement to auto detect if a file has at least an `import` or `export` declaration.

[2016-06-19 16:00] sindresorhus commented on #41
@jdalton That didn't work at least the last time I tried: https://github.com/sindresorhus/eslint-config-xo/issues/7#issuecomment-207536236

[2016-06-19 16:03] jdalton commented on #41
I followed the link but not sure which case did `sourceType:"module"` not work for?

[2016-06-19 16:04] jdalton commented on #41
They now also have `impliedStrict` as a [parser option](http://eslint.org/docs/user-guide/configuring#specifying-parser-options).

[2016-06-19 16:06] sindresorhus commented on #41
@jdalton Nvm, I misread your comment.

[2016-06-19 17:00] jamestalmage commented on #41
Based on [this comment](https://github.com/benmosher/eslint-plugin-import/issues/384#issuecomment-227003041)

I think there's room for this rule here. XO is a zero/minimal config linter that supports both module and script syntax. This rule would not require any configuration and enforce best practices in both script and module modes.

We have previously discussed adding a `enforce-use-strict` rul

[2016-06-19 17:07] jdalton commented on #41
If you think this is something to we can add to [external-impact](https://github.com/bmeck/UnambiguousJavaScriptGrammar/#external-impact) section a PR for that would be great!

[2016-06-22 07:49] jfmengels opened #42 "Rule proposal: No variable named after special name"
In my codebase at work, I often see variables/params named as `module` which is kind of dangerous in my opinion.

I'd like to propose a rule that forbids the use of "reserved" variables, or at least the "special" variables, such as: `module`, `exports`, `global`, `window` (?), ...

I'd also like to see the same thing but for node core modules, like `fs`, `path`, that would forbid the following for

[2016-06-22 09:23] sindresorhus commented on #42
:+1:

[2016-06-22 09:41] jfmengels commented on #42
I found a list of variables to be protected for Node here https://nodejs.org/api/globals.html. Don't know enough about front-end dev to protect anything but the same ones + `window`.

[2016-06-22 09:45] sindresorhus commented on #42
https://github.com/sindresorhus/globals

[2016-06-22 09:52] jfmengels commented on #42
Should have guessed it :smile:

[2016-07-01 19:06] benmosher commented on #41
@jamestalmage @jfmengels I think you're both right. I think a `"use strict"` rule makes sense here, and I think a `This module is at risk of parsing as a script` rule makes sense in the `import` plugin.

[2016-07-05 12:13] sindresorhus opened #43 "Upgrade to ESLint 3"
New rule format: http://eslint.org/blog/2016/07/eslint-new-rule-format

And bump the peerDependencies and devDependencies.

We have to make sure to set the `fixable` property for the one rule we have that is fixable.

[2016-07-26 09:16] jfmengels commented on #41
I'm closing as it's being implemented in `eslint-plugin-import`.

[2016-07-26 09:16] #41 closed

[2016-07-27 00:19] jfmengels commented on #15
Closing as it's being integrated in ESLint core rules https://github.com/eslint/eslint/pull/6767

[2016-07-27 00:19] #15 closed

[2016-07-27 09:36] jfmengels commented on #9
@ayrton Are you still up for making a PR for this? No worries if you are not.

[2016-07-31 11:07] #32 closed

[2016-08-02 09:45] #12 closed

[2016-08-02 14:46] ayrton commented on #9
@jfmengels I'm currently on holiday - so wouldn't mind if someone took over. Won't be able to work on it for another two weeks.

[2016-08-02 15:10] jfmengels commented on #9
@ayrton Sure, no problem. Maybe I'll tackle this, maybe I won't, you'll see when you come back :smile: Enjoy the holidays!

Now that I think about it and that we've worked with `eslint-plugin-import` a bit, I think this would be a better fit there. What do you think @benmosher?

[2016-08-02 17:46] benmosher commented on #9
Sounds like: https://github.com/benmosher/eslint-plugin-import/issues/394 which I'm up for.

I skimmed this thread, but is what you're looking for applicable only to `.` or also `./foo`?

[2016-08-02 17:54] jfmengels commented on #9
Hah. I actually :+1:'d that one. Totally slipped my mind.

Originally, this issue is only for the index of the current folder.

Now that you mention it, the same will be applicable to the parent (or its parent, etc.) `..` vs `../`.

I'd make this more generic and also apply it to `./foo`, to prevent `./foo/`,  `./foo/index` or `./foo/index.js`, but the index (also parent index?) is a bit special a

[2016-08-02 19:22] benmosher commented on #9
I'd be inclined not to support 0.12 since it's August, now. The majority of this thread is from before 0.12 phased into maintenance mode, IIRC. I could go either way, though. Would probably want the default to be 0.12-ignorant and put `./`+`../` exceptions behind a flag, if anything, just for consistency.

[2016-08-02 19:23] sindresorhus commented on #9
No point in supporting nor having an option for 0.12 at this point. Really! Even ESLint have dropped support for it.

[2016-08-02 19:26] jfmengels commented on #9
True. And if it does, they can disable this rule.

@sindresorhus Does that mean you'll start writing packages in Node v4 ES6 code from now on? Or soon?

[2016-08-02 19:30] sindresorhus commented on #9
@jfmengels I've been writing new modules with Node.js 4 as target for a while now.

[2016-08-05 13:57] sindresorhus commented on #8
ESLint closed the rule suggestion (https://github.com/eslint/eslint/issues/4209), again, so this can be implemented here now.

[2016-09-16 09:05] jfmengels opened #46 "Publish 1.0.0?"
Shall we publish v1.0.0?
I noticed `explicit-length-check` was added a month and a half ago, but still not published. (I tried adding it to one of my projects, that's how I noticed)
There are some breaking changes, so it's a good opportunity to bump the major version.
Or do you want to wait until #43 is done?

[2016-09-16 09:11] sindresorhus commented on #46
👍 Good idea, but should wait for #43 at least before doing a 1.0.0.

[2016-09-16 09:20] jfmengels commented on #46
Sounds good, putting it on my todo list.

[2016-09-16 11:51] #43 closed

[2016-09-16 12:14] sindresorhus commented on #46
Done

[2016-09-16 12:14] #46 closed

[2016-09-16 12:14] jfmengels commented on #46
Cool, thanks!

[2016-09-16 13:28] evilebottnawi opened #48 "Allow multiple `name` for `catch-error-name`"
Sometimes we have the following code:

[code]

And if enable rule `no-unused-vars` we have error. For ignoring this construction we can use http://eslint.org/docs/rules/no-unused-vars#caughterrorsignorepattern. But if i use `ignoreErr` i get error from `catch-error-name` rule.

[2016-09-16 13:34] sindresorhus commented on #48
Wonder if we can just read and use the setting from that rule.

[2016-09-16 13:38] evilebottnawi commented on #48
@sindresorhus it would be even better :smile:

[2016-09-20 07:30] sindresorhus opened #49 "Rule proposal: `no-for-loop`"
There's no reason to use normal `for` loops anymore for the common case.

The following:

[code]

Can now be written as:

[code]

Off-by-one errors is one of the most common bugs in software. [Swift actually removed this completely from the language.](https://github.com/apple/swift-evolution/blob/master/proposals/0004-remove-pre-post-inc-decrement.md)

We could probably ignore reverse loops and ot

[2016-09-20 07:40] SamVerschueren commented on #49
I agree! I never use the first example anymore since the `for...of` loop. It's much cleaner as well.

[2016-09-20 08:27] kevva commented on #49
Totally agree. Would even go as far as recommending against the use of `forEach`.

[2016-09-20 09:04] SamVerschueren commented on #49
The reason I prefer `for...of` instead of `forEach` is because of the callbacks. A normal for loop is easier to reason about because it doesn't switch to a different context and looks async. It's the same reason why `async/await` is easier to reason about instead of callbacks or promises.

[2016-09-20 09:21] jfmengels commented on #49
Okay, that makes sense. I use `map` and friends so often, that it's very easy for me to reason about it now, but that's probably not true for most people. IMO, `map` and `filter` are better alternatives to loops in those use cases (less code, less errors, function is re-usable), and since most loops do just that, they became my default construct. And once I got used to map and filter, forEach beca

[2016-09-20 09:27] kevva commented on #49
No arguing against `map`, `filter` etc. Just that `for...of` is a better (subjective ofc) choice than `forEach` in those cases where you need it :).

[2016-09-22 04:11] sindresorhus opened #50 "A better `no-nested-ternary` rule"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/50/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/50)

Since it was denied in ESLint: https://github.com/eslint/eslint/issues/3480

I think it would be better with a new rule that only errors on nested ternaries that are not wrapped in parens. For example: `parens-wra

[2016-09-22 04:12] sindresorhus commented on #50
@Qix-

[2016-09-22 06:39] SamVerschueren commented on #50
I agree that this should be allowed:

[code]

But should we prevent nesting multiple levels?

[code]

Because that is IMO not readable at all. So I'm 👍 on nesting with parens, but only one level. Or maybe a configurable level that defaults to 1.

[2016-09-22 06:52] sindresorhus commented on #50
Yes, forgot to mention that. Only one level. Shouldn't be configurable.

These should be allowed:

[code]

-

Unless I'm missing something, this rule could be fixable, by just wrapping the nested ternary in parens.

[2016-09-22 06:57] SamVerschueren commented on #50
👍

That would be great!

[2016-09-22 07:48] sindresorhus opened #51 "Prefer unicode escapes over hexadecimal escapes"
`\x1B` → `\u001B`

For consistency.

[Reading material.](https://mathiasbynens.be/notes/javascript-escapes#unicode)

-

Rule name suggestion?

-

Should be auto-fixable.

[2016-09-22 09:51] jfmengels commented on #50
Sounds good to me. So we allow only up to 1 ternary expression directly inside a ternary expression.

We could forbid additional ternary expressions inside different expressions that are inside a ternary. An exemple is more descriptive:
[code]
Should we do the additional work of forbidding that last case? My feeling would be no, as it sounds pretty error-prone and not the core idea of the rule.

[2016-09-22 10:24] sindresorhus commented on #50
No

[2016-09-22 10:25] sindresorhus commented on #50
Also open to a better rule name.

[2016-09-22 10:27] jfmengels commented on #50
I'm thinking along the lines of no-confusing-nested-ternary.

[2016-09-22 12:56] sindresorhus commented on #50
👍

[2016-09-22 21:26] Qix- commented on #50
Ehh why not just `no-confusing-ternary`?

[2016-09-22 21:27] jfmengels commented on #50
I'd be fine with `no-confusing-ternary`. Simply `unicorn/no-nested-ternary' would also work actually.

[2016-09-22 22:25] kevva commented on #50
If wrapped in parens, wouldn't that be false? Thinking of the following example above:

[code]

[2016-09-22 22:27] jfmengels commented on #50
Yeah you're right... I thought that we could just name it as the core rule as it's just allowing one "edge" case, but it might be more confusing that we then do accept that edge case.

[2016-09-22 23:20] Qix- commented on #50
That would be confusing for sure. The rule name should definitely be different.

[2016-09-24 22:26] jfmengels commented on #29
The bad and the good examples are pretty different actually, as default parameters only apply when `foo` is `undefined`, and the `||` operator when `foo` is falsy.
I agree that default parameters should be used instead of `||` when suitable, but `||` does have its use cases.

[2016-09-25 11:43] sompylasar commented on #50
Please could anyone explain why the community is bothered by the outer parens around complex expressions around the right-hand-side of assignments?

How
[code]
is more readable than
[code]
and  than
[code]
?

The latter looks most similar to the `if`:
[code]

[2016-10-10 07:28] sindresorhus opened #54 "`escape-case` rule"
In JS you can write escapes with either uppercase or lowercase value. Would be useful to have a rule to enforce the value to be uppercase. Don't want an option for this as lowercase is a bad practice.

For example `\xa9` and `\xA9` are equivalent, but the latter is clearer. `\ud834\udf06` and `\uD834\uDF06` are too.

The following should be supported (the values are just there as an example):
- `\

[2016-10-10 07:34] sindresorhus commented on #40
👍

[2016-10-10 07:52] sindresorhus opened #55 "`number-literal-case` rule"
[JS has different number literals.](http://www.2ality.com/2015/04/numbers-math-es6.html) Casing is of course not enforced, because why would you want consistency or readable numbers?...

This rule should enforce lowercase literal identifier and uppercase value.

No option for this as none of the failing cases makes sense.

Should be auto-fixable.

### Fail

[code]

### Pass

[code]

[2016-10-10 08:06] sindresorhus commented on #42
Actually, the first part is already covered by the [`no-global-assign`](http://eslint.org/docs/rules/no-global-assign) rule:

[code]

[code]

-

But I think preventing using the same name as built-in Node.js modules is a good idea too. Suggestion for rule name? `no-nodejs-builtin-assign`?

[2016-10-10 08:07] sindresorhus commented on #48
@jfmengels Do you know if that's possible?

[2016-10-10 09:08] sindresorhus commented on #55
For anyone wanting to try their hand at this, read: http://eslint.org/docs/developer-guide/working-with-rules

Go ahead and play around with some code in http://astexplorer.net/ (Make sure the parser is `espree`).

All you have to do here is to detect numbers and validate their raw source. For example, try `0b1010` in AST Explorer. You just need to tell ESLint that you want to listen to any `Expre

[2016-10-10 10:23] jfmengels commented on #48
Doesn't look like it no, except if we manually try to find the `.eslintrc` file (harder than it looks), parse it, etc.

The `context` object ESLint provides has a few methods, and I found the `defaults` methods, which returns the default ESLint config (with rule configurations and all). I have no idea how that could be useful, but that is something close to what we'd want to have. We could open an

[2016-10-10 12:33] jfmengels commented on #42
In part, yes, but not really, as it wouldn't save us from the following case, which is what I see in our codebase.

[code]

`no-nodejs-builtin-shadow`? To reference [`no-shadow`](http://eslint.org/docs/rules/no-shadow)

[2016-10-10 18:38] sindresorhus commented on #42
Ah, ok. So still value in having a rule for this then.

I would go with `no-shadow-nodejs-builtins` to match [`no-shadow-restricted-names`](http://eslint.org/docs/rules/no-shadow-restricted-names).

[2016-10-12 12:49] jfmengels opened #56 "Enforce length check style in the `explicit-length-check` rule"
`explicit-length-check` checks that `length` properties get compared to a value instead of checking the truthiness of the property.

In https://github.com/avajs/eslint-plugin-ava/pull/149#pullrequestreview-3799305, we remembered that there are some opinions on how that value then gets compared :sweat_smile:

For instance:

[code]

It could be nice to be able to specify how you want your comparison

[2016-10-13 19:16] pvskarthikeya commented on #11
Hey! I am new to this project. Can I work on this?

[2016-10-14 02:29] sindresorhus commented on #11
@pvskarthikeya Go ahead :)

See https://github.com/sindresorhus/eslint-plugin-unicorn/issues/55#issuecomment-252567394 on how to get started.

[2016-10-14 04:29] pvskarthikeya commented on #11
@sindresorhus Thanks for the info.

[2016-10-16 11:19] SamVerschueren commented on #55
I'm looking into this as I'm totally new to ESLint rules. I tried using `ExpressionStatement` but it doesn't seem to work.

I try to lint `const foo = 0xFF`, but it only works if when I use `Literal` as key. Am I doing something wrong here?

[code]

[2016-10-16 11:55] SamVerschueren commented on #55
I created a rule, not sure if I comply with everything regarding conventions etc. So any feedback (implementation, docs, plugin name, ...) is more then welcome as it's my first ESLint rule ever. I didn't publish it yet because I want some feedback first.

:tada: https://github.com/SamVerschueren/eslint-plugin-number-literal-case

// @jfmengels

[2016-10-16 22:09] jfmengels commented on #55
@SamVerschueren It all looks pretty good to me! Nice job!

Any reason you don't want to implement it in this plugin? From my experience, people tend to not like adding a lot of plugins (part f the reason why people ike `xo` and `standard`), so single-rule plugins tend to not be used much by the community. Even my relatively popular `eslint-plugin-import-order` got merged into `eslint-plugin-import

[2016-10-17 04:40] SamVerschueren commented on #55
Oh, I thought it was meant to be created separately. I will merge it in later today :).

[2016-10-17 19:18] pvskarthikeya commented on #11
#58 Hey @sindresorhus. Added a pull request.

[2016-10-17 19:20] #55 closed

[2016-10-19 07:07] SamVerschueren opened #59 "Enforce `Buffer.from` instead of `new Buffer`"
Since `new Buffer()` is being deprecated since Node.js >= 6, it might be nice if we could enforce this some day in the future. Not sure if it makes sense to already create this rule because ESLint can't target specific Node.js versions, right?

[2016-10-19 07:53] jfmengels commented on #59
You're right, it can't.

Well, it can be useful for people who will only target Node >= 6 versions for their app/libraries, so I'd say yes.

I wonder, are there any other similar constructs where `new XYZ()` is replaced by a method on `XYZ`? I don't know if it would make sense to generalize this.

[2016-10-19 07:59] sindresorhus commented on #59
`Buffer.from()` was backported to Node.js 4 (benefits of it being LTS), so we can safely enforce it.

[2016-10-19 08:34] kevva commented on #59
Oh, didn't know that. Nice!

[2016-10-19 09:14] SamVerschueren commented on #59
I want to take this one if that's ok?

[2016-10-19 09:40] sindresorhus commented on #59
@SamVerschueren Go ahead 🤘

[2016-10-19 09:44] jfmengels commented on #59
So this will be a rule specific to Buffer then?

[2016-10-19 09:47] sindresorhus commented on #59
@jfmengels Yes. We can add a more generic rule in the future if use-cases come up.

[2016-10-19 09:50] SamVerschueren commented on #59
Exactly, no need to add a "complex construct" which might never get used. We can always improve later on.

[2016-10-19 10:07] jfmengels commented on #59
Okay, sounds good to me.

[2016-10-19 12:24] kevva commented on #59
Make sure to take `Buffer.alloc` into account too. See https://github.com/kevva/to-ico/commit/22b447205d26db3cb8245d83e94fb09b90f79bee.

[2016-10-19 12:30] SamVerschueren commented on #59
Aha, good catch @kevva. It's not as simple as finding a `NewStatement` with `Buffer` and changing that to `Buffer.from()`.

[2016-10-19 18:11] rafayepes commented on #49
For of allows to break/return. Something not possible with forEach, map and the others.

[2016-10-19 18:37] xjamundx opened #60 "callback-error rule"
I was wondering if we could have `no-callback-literal` rule to correspond with the `no-throw-literal` rule.

Basically, if you're using the callback pattern this should never be okay:

[code]

instead you should do something more like this:

[code]

You can see the code here:
https://github.com/xjamundx/eslint-plugin-standard/pull/15

[2016-10-19 18:43] florianb commented on #54
I'd be happy to help -- unfortunately I am pretty unused to eslint-rules. So i guess i need some time t find out how to write a rule.

[2016-10-19 18:47] matijs commented on #51
Going to have a crack at this if that's ok.

[2016-10-19 19:18] sindresorhus commented on #51
@matijs Go ahead :) I just wrote a quick guide on how to get started: https://gist.github.com/sindresorhus/1656c46f23545deff8cc713649dcff26

[2016-10-19 19:19] sindresorhus commented on #54
@florianb Awesome! I just wrote a quick guide on how to get started: https://gist.github.com/sindresorhus/1656c46f23545deff8cc713649dcff26

[2016-10-19 19:37] not-an-aardvark commented on #49
For what it's worth, this is already possible to restrict without a custom rule:

[code]

[2016-10-19 19:48] Bebersohl commented on #54
@florianb I am also working on this. Let me know if you want to collaborate.

[2016-10-19 19:53] florianb commented on #54
Thanks for the hint @Bebersohl! 🤔 I'd probably pick another rule up to avoid things are done twice. But i'd really appreciate to collaborate by receiving and giving feedback. Probably you want to ping me if you have questions or if i can help in any way.

If you want i'd ping you too. 😸

[2016-10-19 19:55] florianb commented on #27
Okeydo - anybody working on this?

[2016-10-19 19:56] sindresorhus commented on #56
This sounds very complicated. I wonder if we could just enforce `a.length > 0` and wait adding options until someone complains?

[2016-10-19 19:56] sindresorhus commented on #27
@florianb Not that I know of. Go ahead :)

[2016-10-19 19:58] florianb commented on #27
Hoorayy.. Hacktoberfest for the win! 🍺

[2016-10-19 19:58] jfmengels commented on #56
Yes, it's way too complicated for what it is. I'm fine with just enforcing `a.length > 0`, and I'll cross my fingers hoping for nobody to complain.

[2016-10-19 20:29] niksy commented on #59
Just wanted to point out that eslint-plugin-node has similar rule for deprecated APIs if you need some hints on how to additionally approach this: https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/no-deprecated-api.md

[2016-10-20 06:14] SamVerschueren commented on #59
How should we call this rule?

- `no-new-buffer`
- `new-buffer-deprecated`
- `buffer-deprecated`
- ...

[2016-10-20 06:16] sindresorhus commented on #59
@SamVerschueren `no-new-buffer`

[2016-10-20 06:55] SamVerschueren commented on #49
@not-an-aardvark It's not about disallowing `for` loops entirely. It's about using `for...of` instead of a regular `for`.

[2016-10-20 07:27] #11 closed

[2016-10-20 07:49] SamVerschueren commented on #59
Should we also cover the case that someone could write this?

[code]

[2016-10-20 08:01] sindresorhus commented on #59
Nah, I've never seen anyone write that, and as you said, it's already covered by the `new-cap` rule.

[2016-10-20 08:04] jfmengels commented on #49
@SamVerschueren No, @not-an-aardvark's suggestion is correct. From an AST perspective, the `for` loop (ForStatement) is different than the `for of` (ForOfStatement) or `for in` (ForInStatement).

See the implementation for my `no-loops` rule: https://github.com/jfmengels/eslint-plugin-fp/blob/master/rules/no-loops.js#L19-L21

I really like this rule and the `no-restricted-properties` rule as they

[2016-10-20 08:11] sindresorhus commented on #49
@jfmengels What @SamVerschueren is saying is that the intent is not to simply forbid `ForStatement`, but to recommend a better alternative when applicable (maybe even autofix). Just forbidding it isn't very user-friendly. We also can't forbid all `ForStatement`. Just the ones with a good alternative.

[2016-10-20 09:04] SamVerschueren commented on #49
Thanks for clarifying, still very rookie in the AST thing :).

Still, like @sindresorhus pointed out, if you would disallow a `for` loop entirely, things like this aren't possible anymore. That's not something we want and can forbid.

[code]

So if we are going to implement this, we should definitely check if the `for` loop iterates over ALL the entires.

[2016-10-20 09:06] jfmengels commented on #49
Ah ok, thank for clarifying! :+1:

[2016-10-20 16:15] brandonweis commented on #24
@sindresorhus at your service!

[2016-10-20 16:35] sindresorhus commented on #24
@brandonweis Awesome! Read [this](https://gist.github.com/sindresorhus/1656c46f23545deff8cc713649dcff26) on how to get started. Let me know if you have any questions :)

[2016-10-20 19:07] anglee commented on #13
Hi! I am new here. Can I try to take care of this one?

[2016-10-20 19:11] sindresorhus commented on #13
@anglee Yes. Go ahead!

Check out this quick guide on [how to get started](https://gist.github.com/sindresorhus/1656c46f23545deff8cc713649dcff26). Let us know if you have any questions. Have fun :)

[2016-10-21 13:15] #59 closed

[2016-10-22 21:24] sindresorhus opened #65 "`prefer-string-slice` rule"
I prefer `.slice()` over `.substr()` and `.substring()`. `.slice()` has clearer behavior and has a counterpart with arrays. Also better to be consistent. Anything you do with `.substr()` or `.substring()` can be done with `.slice()`.

Read more: http://stackoverflow.com/questions/2243824/what-is-the-difference-between-string-slice-and-string-substring

I'm aware we can't do type checking, but I th

[2016-10-22 21:31] #51 closed

[2016-10-23 18:04] matijs commented on #65
Had a lot of fun doing #51, so wouldn't mind doing some work on this as well. Should be fixable as well with the fix being a bit more interesting than the one in #51 :)

[2016-10-23 19:55] jfmengels commented on #65
@matijs Go ahead and have fun :)

[2016-10-24 08:23] matijs commented on #65
So… regarding fixability…

If one or more of the arguments of `substr` or `substring` is a `Literal` it's easy. Not so much so if we're dealing with `FunctionExpression`s. Or am I missing something?

[2016-10-24 09:47] jfmengels commented on #65
@matijs I'm sorry, I don't understand. None of these methods take functions as expressions as far as I've checked. Do you mean when you use complex expressions as the arguments?

[2016-10-24 11:36] florianb commented on #27
How deep should i look for typechecks? How about multiple checks (`foo.isArray() || foo.isBuffer()`)?

[2016-10-24 12:30] matijs commented on #65
@jfmengels exactly, or well, anything other than an `Identifier` or a `Literal` really.

[2016-10-25 06:53] matijs commented on #65
I don't think this is fixable unless the arguments are `Literal`s, so… maybe half fixable. Is this worth pursuing?

[2016-10-25 12:29] jfmengels commented on #65
Hmm, I'm not sure how to fix this either.

Yeah, any fix is still useful.

[2016-10-25 18:02] busches commented on #60
So this rule already exists in `eslint-plugin-standard`? @sindresorhus where do you stand on duplicating rules that exist in other plugins already?

[2016-10-25 19:07] pvskarthikeya commented on #56
@sindresorhus @jfmengels I have started working on this. Looks a little complicated, will post if I need help. Thank you.

[2016-10-25 19:38] xjamundx commented on #60
It does not, I proposed it to both. The standard team is still evaluating. I think it's a good idea though and we use it in our project locally.

[2016-10-26 08:38] jfmengels commented on #60
Sounds like a good idea to me :+1:

[2016-10-26 08:49] sindresorhus commented on #60
I don't think it should be duplicated here. I'm also lukewarm on it as I personally use promises over callbacks these days.

[2016-10-26 08:51] jfmengels commented on #60
I agree that it should appear in only one plugin.

[2016-10-26 13:46] matijs commented on #65
See [this comment](https://github.com/sindresorhus/eslint-plugin-unicorn/pull/67#issuecomment-256304501) in the PR for thoughts on fixing.

[2016-10-27 12:43] jfmengels opened #69 "Rule proposal: no-labeled-statement"
In JavaScript, there is a little known feature called [labels](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Statements/label), which allows to do the equivalent of gotos.

The reason I want to forbid this is two-fold:
1. gotos are bad, and they should not be used
2. But mostly, it has become really easy to write these labeled statements instead of writing objects, with the introd

[2016-10-27 13:49] sindresorhus commented on #69
ESLint already has a built-in rule to prevent labels in general: [`no-labels`](http://eslint.org/docs/rules/no-labels). Would be natural to add an option there to also include labels in arrow functions. What do you think?

-

👍 Label name suggestion?

[2016-10-27 14:36] jfmengels commented on #69
Sounds good. I'm pretty amazed that it doesn't forbid it altogether with such a name. Putting it in my todo list.

I like `evaluating`, which ESLint uses.

[2016-10-30 08:31] jeremyjs commented on #8
I can attempt to tackle this in the name of Hacktoberfest. Has anyone else started on it?

[2016-11-01 17:22] #54 closed

[2016-11-02 05:56] sindresorhus opened #71 "`no-useless-template` rule"
I would like to prevent use of template literals when not needed. It's only needed when it contains an expansion `${}` or literal newlines.

We could also consider supporting the case of using template literal to reduce escaping when you for example enforce single-quotes, but the string also contains single-quotes. This would have to be an option where to user specifics the preferred quote type as

[2016-11-02 05:58] sindresorhus commented on #71
There's the built-in [`quotes`](http://eslint.org/docs/rules/quotes) rule which can enforce a particular quote, but it only has an option to *always* allow `allowTemplateLiterals`, which I use, but I would like to only allow it when needed. Maybe worth opening an ESLint issue about adding an option for that?

[2016-11-02 14:02] jfmengels commented on #71
This would be much better in the built-in `quotes` rule IMO. I'm :+1: for opening an issue over there instead.

[2016-11-02 14:16] jfmengels opened #72 "Rule proposal: Disallow switch cases with multiple options"
What I'd wish to disallow is the following:
[code]
in favor of

[code]

I agree that the former version is better, but there is one case where the second is better, and that is code coverage.

Current coverage tools put markers on every statement / branches, and when the code passes through it, it considers that line/branch as reached and increments the code coverage. Kind of like this:
[code]

Th

[2016-11-02 14:19] florianb commented on #27
@sindresorhus, @jamestalmage: I have a working draft now and i am ready to implement the different expressions.

The question is which standard(s) should i consider? Only official standards like the ES5/6/7 specifications?

I have also a question about connected style-issues like f.e. the precedence of expressions in BinaryExpressions. I decided to test without checking if the literal is written b

[2016-11-02 15:14] jfmengels commented on #71
This should probably also not be enforced when there are line breaks in the template literal, like here:
[code]

[2016-11-03 06:09] sindresorhus commented on #27
The latest. ES2017.

It should be handled. Rules should not be dependent on each other.

In that case it's ambiguous and we don't report anything.

[2016-11-03 06:12] sindresorhus commented on #71
I don't have time to deal with the process of suggesting a new option on the ESLint tracker (it's a lot of work and bikeshedding). Would appreciate if anyone else could do it. See: http://eslint.org/docs/developer-guide/contributing/rule-changes

[2016-11-03 06:15] sindresorhus commented on #72
Sounds like the [`no-fallthrough`](http://eslint.org/docs/rules/no-fallthrough) rule?

[2016-11-03 06:36] florianb commented on #27
Thanks!

[2016-11-10 11:44] florianb commented on #72
I hope this issue is not about adding `no-fallthrough` in general -- i can hardly think of a better readable solution to check many occurences (like [here](https://github.com/sindresorhus/eslint-plugin-unicorn/pull/73/commits/f49b4fa3f8faa09c09eb8ece07710a192571cb44)).

Even though it could be Sindre is requiring to change that.

[2016-11-10 13:02] jfmengels commented on #72
No, I love `no-fallthrough`, and I highly recommend the use of multiple conditions in a switch statement.
I only want to recommend this when code coverage is important to you, but in general the multiple conditions is your use case.

I totally missed `no-fallthrough` (was searching for `switch` to find similar rules, but the rule title doesn't contain the term unfortunately :sweat_smile:).

That s

[2016-11-18 23:20] xjamundx commented on #60
Thanks for the feedback. Agree on promises as well :)

[2016-11-18 23:20] #60 closed

[2016-11-20 15:27] sindresorhus commented on #4
How about we just hardcode it to `/^(?:[A-Z][a-z0-9]*)*Error$/` without an option? I can't imagine any custom error that wouldn't match that.

[2016-11-20 19:41] jfmengels commented on #4
Yes, sounds good :+1:

[2016-11-23 05:06] sindresorhus opened #74 "Rule proposal: Enforce correct Error subclassing"
There are many things people do wrong when subclassing an error. We only care about the class syntax in this rule.

## Useless `this.message` assignment:

[code]

Could just be:

[code]

## Forgetting to set `this.name`

[code]

Without it just displays `Error` when thrown. Should be:

[code]

## Forgetting to pass `message` to `super()`

[code]

Should be:

[code]

## Use `this.constructor.name`

[2016-11-24 14:49] jfmengels commented on #74
I feel like what you want is simply a code snippet really.

I'm fine with this, but I rarely create my own errors (maybe I should). I had actually never seen errors being defined using the `class` keyword.

[2016-11-24 17:19] sindresorhus commented on #74
The thing is, even most snippets on the internet are doing it wrong.

I always used to just use `new Error()`, but it turns out it's often nice being able to differentiate errors.

It's a lot nicer than the previous way.

[2016-11-24 18:22] SamVerschueren commented on #74
Totally agree!!

[2016-11-24 18:29] sindresorhus commented on #74
I think I'm going to turn around on the `Use this.constructor.name` thing though. [Sam argued](https://twitter.com/SamVerschueren/status/801340705939554304) that it wouldn't work with minification. Not that I really care as I'm using Node.js, but that would make it less universal, so maybe better to just stick with a string? This rule could enforce that `this.name` is the same as the class name.

[2016-11-24 18:39] SamVerschueren commented on #74
Seems like a good idea!

[2016-11-24 18:47] SamVerschueren commented on #74
Name for this rule?

- `custom-error`
- `extends-error`

[2016-11-29 09:44] #74 closed

[2016-12-09 09:03] florianb commented on #72
@jfmengels - you are right. In my understanding you're proposing a stricter implementation of no-fallthrough. I think this belongs to eslint. I unfortunately couldn't find an issue discussing this specific topic (although there are some issues treating this as a [feature](https://github.com/eslint/eslint/issues/6588)).

[2016-12-09 13:04] jfmengels commented on #72
I actually just opened an issue on istanbul to discuss improving this :https://github.com/istanbuljs/istanbul-lib-instrument/issues/31.

This would be best solved at the coverage reporter level if possible. Let's see how that goes :)

[2016-12-23 20:34] RobertWHurst opened #77 "NPM package out of date"
Hi @sindresorhus! Just noticed that the NPM package does not contain all of the rules present in the repo at the time of writing this. Is it possible to slate a new release with the new features?

Thanks for putting this together. It's a great little module 🍻

[2016-12-24 12:01] sindresorhus commented on #77
We'll do a release when some more rules land. It has to be a major release, so not to keen on doing releases too often.

[2016-12-24 12:01] #77 closed

[2016-12-24 20:13] RobertWHurst commented on #77
@sindresorhus Okie dokie. Thanks!

[2017-01-07 02:19] tonytonyjan commented on #23
It's common to see mixed file naming in react projects.

[2017-01-10 09:30] sindresorhus opened #78 "Create a better `prefer-template` rule"
As usual the built-in one is flawed and as usual the ESLint team refuses to acknowledge that. Luckily we can just build something better. Ref: https://github.com/eslint/eslint/issues/6572#issuecomment-229927387

[2017-01-11 18:02] #13 closed

[2017-01-15 11:07] jfmengels commented on #78
I think it's too bad to limit this rule to only work for identifiers, but I agree that the core is too forceful at times. What do you think about looking at the length of the expression and report when using expressions (that are more complex than just a single variable) that use less than X characters (10, 15, 20?)?

This would result in something like this

### Fail

[code]

### Pass

[code]

I'

[2017-01-16 08:59] sindresorhus commented on #78
@jfmengels Length is very arbitrary though. I don't see why the above examples should be treated differently. It's not just the length that makes some template literals hard to read. Usually it's more about the complexity of the thing inside the template braces.

We could use multiple heuristics:

- No expressions.
- Only one property deep is allowed: `foo.bar`, but not `foo.bar.baz`.
- If a funct

[2017-01-17 17:13] florianb commented on #78
When trying to recognize string assembling expressions i takes me more effort to understand it the more the string is distracted by complexity.

Probably it is possible to estimate the distraction by the proportion of plain text and amount of expressions. I guess thats a little bit weird.. 😄

[2017-01-23 08:56] #27 closed

[2017-01-23 09:39] florianb commented on #42
Isn't this case somehow covered by eslints [`no-shadow`](http://eslint.org/docs/rules/no-shadow) (with `builtinGlobals: true`) and [no-shadow-restricted-names](http://eslint.org/docs/rules/no-shadow-restricted-names) rules?

But i must confess i wasn't able to completely dig through how the globals are evaluated.

[2017-02-01 10:45] pastelsky commented on #77
@sindresorhus any plans of updating the npm package, now that this repo has 2-3x more rules than the latest npm package?

[2017-02-01 11:00] sindresorhus commented on #77
Yes, soon.

[2017-02-05 18:40] sindresorhus opened #79 "Allow initial underscore in `filename-case` rule"
Reasoning: https://github.com/sindresorhus/xo/issues/172

I think it makes sense. Many ecosystems use `_` to mean a helper. We should just strip it before comparing the name.

[2017-02-05 18:43] sindresorhus commented on #24
I'm no all ES2015, so this rule is pretty moot for me. Even AVA is using native classes now.

[2017-02-05 18:43] #24 closed

[2017-02-06 09:20] dikmax opened #81 "prefer-starts-ends-with crashes"
I've tried new rule from `eslint-plugin-unicorn`, but it crashes.

[code]

[Link to line with error](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/rules/prefer-starts-ends-with.js#L16)

It could be because of babel-eslint parser. But anyway rule should not crash.

[2017-02-06 09:22] sindresorhus commented on #81
Can you share the line of your code (or something similar) that reproduces the crash?

[2017-02-06 09:24] dikmax opened #82 "prefer-type-error crashes"
One more crash with new rules from unicorn.

[code]

[Link to line with error](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/rules/prefer-type-error.js#L64)

Probably you should check for `undefined` instead of `null`.

[2017-02-06 09:40] dikmax commented on #81
I've debugged a little and found out that it crashes on this code.

[code]

Exacly on `reject(err)` statement.

[2017-02-06 09:46] SamVerschueren commented on #81
It has to check `if (callee.property)` as well because `reject(new Error('foo'))` is a `CallExpression` where the `callee` property doesn't have a `property` property.

[2017-02-06 09:48] sindresorhus commented on #82
Can you provide something that reproduces it? We need to that so we can make regression tests.

// @florianb

[2017-02-06 10:04] dikmax commented on #82
[code]

[2017-02-06 10:06] sindresorhus commented on #81
I'm working on a fix.

[2017-02-06 10:21] #81 closed

[2017-02-06 10:31] sindresorhus opened #83 "`escape-case` rule false positive with number only Unicode escapes"
For example `'\u2500'`.

[2017-02-06 10:35] sindresorhus opened #84 "Integration tests"
We should run all the rules using ESLint against a huge amount of code to ensure it never crashes. We could include the source of some larger projects.

I usually manually run master against AVA to as an ensurance, but I forgot this time.

This could have prevented https://github.com/sindresorhus/eslint-plugin-unicorn/issues/81 and https://github.com/sindresorhus/eslint-plugin-unicorn/issues/82.

[2017-02-06 10:48] sindresorhus commented on #81
@dikmax Sorry about the issues. I've opened https://github.com/sindresorhus/eslint-plugin-unicorn/issues/84 to make it a lot less likely we ship crashing issues in the future.

[2017-02-06 10:48] #82 closed

[2017-02-06 10:50] sindresorhus commented on #81
2.0.1 published

[2017-02-06 10:58] dikmax commented on #81
Cool! Thanks a lot!

[2017-02-06 11:21] jfmengels commented on #79
So should we allow it only at the start of the file name (what I'd probably go for), or also at the end?

[2017-02-06 11:23] sindresorhus commented on #79
Start only.

[2017-02-06 13:38] sindresorhus commented on #83
// @Bebersohl

[2017-02-06 17:43] lydell opened #85 "escape-case and no-hex-escape false positives – need to handle backslashes"
package.json:

[code]

test.js:

[code]

Output:

[code]

Expected: No errors.

[2017-02-18 08:50] sindresorhus opened #87 "Allow `_` as a name in `catch-error-name` rule if it's not used"
Thought of it when I saw: https://github.com/avajs/ava/pull/1265/files#diff-b72e3e25f31d6b3c3e5f40b5991dc5f6R43

Sometimes you don't need the error and you should be able to name it `_` to ignore it. This is a common pattern many use and it's used in some ESLint core rules too I think.

// @novemberborn

[2017-02-18 11:42] jfmengels commented on #87
Should we have `_` as an exception, or should the user be able to specify the names that should be allowed? I prefer the latter option, especially as it can be kind of confusing with people who use Lodash/underscore a lot.

[2017-02-18 14:14] novemberborn commented on #87
Perhaps allow any number of underscores?

[2017-02-20 18:45] sindresorhus commented on #87
I like that idea.

[2017-03-07 21:36] liubinyi commented on #4
Hi @sindresorhus @jfmengels , I would like to give a shot. please let me know if you have concerns on existing pr. Thanks

[2017-03-09 05:00] #83 closed

[2017-03-09 05:01] sindresorhus commented on #85
// @Bebersohl In case you have interest in looking into this

[2017-03-09 05:08] #4 closed

[2017-03-10 20:12] corbinu commented on #23
I would also like a per file extension option. Vue.js by default has capitol names for components and lowercase fro JS files.

[2017-03-25 19:38] sindresorhus commented on #85
I just encountered this myself. I had `internal\\child_process` which got reported and fixed as `internal\\cHild_process`...

[2017-03-25 20:07] sindresorhus commented on #85
// @florianb In case you want to take a look at this ;)

[2017-03-25 20:07] sindresorhus commented on #85
// @matijs

[2017-03-26 10:22] florianb commented on #85
Unless somebody else is taking it, i will dig in at monday.. 😊

[2017-03-26 10:46] matijs commented on #85
@florianb I'd like to fix no-hex-escape if that's alright with you :)

[2017-03-26 10:55] florianb commented on #85
You are welcome! ;) Happy hacking and thanks!
Matijs Brinkhuis <notifications@github.com> schrieb am 26.03.2017 12:46 nachm.:

@florianb<https://github.com/florianb> I'd like to fix no-hex-escape if that's alright with you :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/sindresorhus/eslint-plugin-unicorn/issues/85#issuecom

[2017-03-29 06:27] sindresorhus opened #90 "False positives in the `custom-error-definition` rule"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/90)

With the following error definition:

[code]

*From https://github.com/sindresorhus/p-retry/blob/f4830d72f85ad0ee122eec9f62c271974e3ccc05/index.js#L5-L20*

I get this:

[code]

The first problem is that the `Pass the error

[2017-03-29 13:24] SamVerschueren commented on #90
If `message` is being altered inside the constructor like in this case in the if statement, it shouldn't fail. Not sure if it can be done and how though. But I can always check.

[2017-03-31 10:04] florianb commented on #90
It is probably possible to prove if the message was "used" by checking if anything was assigned or a member-function or -attribute was called between `super()` and the usage of `this.message`.

Give me a hint if you need a helping hand @SamVerschueren.

[2017-03-31 13:32] sindresorhus commented on #90
I was thinking we just check whether the variable assigned to `this.message` got something assigned to itself earlier in the scope. I don't think we need to make it more complicated than that.

[2017-03-31 13:42] florianb commented on #90
You're right - i somehow thought message could be more than a string.

[2017-04-04 14:33] gajus commented on #12
Has anyone found this useful in practice?

Whats the practical advantage of:

[code]

over

[code]

?

After adding this rule, I've noticed more inconsistency in the code as a result of the addition. Specifically, all the code that previously was `array.length` now has become either `array.length > 1`  or `array.length !== 0`.

[2017-04-04 16:14] jamestalmage commented on #12
Perhaps we should enforce one or the other `> 0` or `!== 0`

[2017-04-04 16:19] gajus commented on #12
But whats the reason to have this rule in the first place?

i.e. whats wrong with `string.length` and `!string.length`?

I see how this rule would make sense in the context of a strictly typed language, e.g. `string.length !== 0` would throw an error if `.length` is undefined (actually... it wouldn't even in this case; anyway).

But in JavaScript context, there will be no difference between `!name

[2017-04-05 16:27] sindresorhus opened #91 "Prevent passing a function directly to iterator methods"
You have a dependency:

[code]

You use it like this (which many do):

[code]

The `unicorn` module now does a minor version that adds another argument:

[code]

Your code will now return something different and probably break for users:

[code]

Instead, you should do:

[code]

---

This would have prevented: https://github.com/avajs/ava/pull/1343

---

It should apply to:

- Array#map
- Array#fo

[2017-04-05 17:53] SamVerschueren commented on #91
Yes please! I really need and want this :).

[2017-04-23 16:33] sindresorhus commented on #12
@gajus More readable and strict code.

The inconsistency will be fixed with: https://github.com/sindresorhus/eslint-plugin-unicorn/issues/56

[2017-05-12 07:50] sindresorhus opened #92 "Require `new RegExp()` in instead of `RegExp()`"
`RegExp()` and `new RegExp()` are no different, but would be nice to enforce a consistent style. This rule should enforce `new RegExp()` as that's how it's commonly used and matches other constructors like `new Error()` and user-land constructors.  Should be fixable.

For reference, similar rule: https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/rules/throw-new-error.js

I think we

[2017-05-15 07:18] sindresorhus opened #93 "`catch-error-name` rule should allow for number postfix"
Sometimes I need to use a different name so not to shadow an earlier error. This rule should accept a number postfix from `2` to `9`.

For example:

[code]

---

`_` should be allowed as a name too.

[2017-06-02 21:18] milesj commented on #23
+1 to this.

In most projects, the name of the file matches the type of content in the file. If it's a class, pascal case, if it's a function, camel case, if it's a bin/exe, kebab case. Assuming that all files follow the same pattern is inherently wrong.

[2017-07-06 19:07] #56 closed

[2017-07-08 17:54] SamVerschueren opened #98 "Object.assign instead of manipulating input objects"
I myself did it wrong in the early days, and I definitely come across this issue quite a lot.

[code]

While it should've been

[code]

Not sure how easy it would be to detect this though.

[2017-07-08 17:55] sindresorhus commented on #98
Slightly relevant issue: https://github.com/sindresorhus/eslint-config-xo/issues/18

[2017-07-08 17:57] SamVerschueren commented on #79
Might be missing something here, but isn't it already the case? https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/test/filename-case.js#L63

[2017-07-08 17:58] sindresorhus commented on #98
Seems like it should be possible to detect the arguments and to find the cases where something is assigning to properties of those arguments. Could maybe use [code path analysis](http://eslint.org/docs/developer-guide/code-path-analysis).

[2017-07-08 18:03] sindresorhus commented on #79
Yes, was fixed in https://github.com/sindresorhus/eslint-plugin-unicorn/commit/87663a4f0db07e093adecb15f08db7f32d652de3.

[2017-07-08 18:03] #79 closed

[2017-07-08 18:33] SamVerschueren commented on #87
What's the easiest way to detect if a variable (identifier) is used inside a block? At first, I checked if the catch block was empty, if that was the case then `_` is allowed. But that's not 100% correct as it should be allowed as well whenever `_` is not used inside that block. Looking for some leads here :).

[2017-07-08 21:47] jfmengels commented on #87
@SamVerschueren You could use https://github.com/jfmengels/eslint-ast-utils/blob/master/readme.md#astutilscontainsidentifiername-node

[2017-07-09 04:17] SamVerschueren commented on #87
Nice! Thanks :)

[2017-07-10 15:25] #91 closed

[2017-07-10 15:53] #87 closed

[2017-07-10 16:04] #92 closed

[2017-07-12 05:42] SamVerschueren commented on #93
Should the number postfix only be allowed when the variable is shadowed? And if that is the case, should we make sure the number starts with 2 and goes up by 1? Like for example

[code]

This wouldn't be allowed and should be `err2`.

[2017-07-15 11:51] #9 closed

[2017-07-15 12:22] SamVerschueren commented on #84
Does anyone has any idea on what tools we can use here? How can we set this up? Like to help getting this done.

[2017-07-15 16:04] sindresorhus commented on #84
Some prior art:

- https://github.com/standard/standard/blob/6dd2c056e96b40d8a69df110062f5b2473d74eba/test/clone.js
- https://github.com/eslint/eslint-canary
- https://github.com/nodejs/citgm
- https://github.com/bahmutov/dont-break

Could be a script that reads a hard-coded list of repos to check out and test. We could even have it as a Travis cron-job that runs every week.

[2017-07-15 17:08] sindresorhus opened #105 "`new-for-builtins` rule"
Unsurprisingly my ESLint proposal was declined: https://github.com/eslint/eslint/issues/7634.
*(I will no longer waste time opening any more issues there.)*

The rule should enforce `new` for the following:

[code]

And disallow it for:

[code]

Some of these are covered by the ESLint [`new-cap`](http://eslint.org/docs/rules/new-cap) rule, but that's irrelevant as the rule should not be a prerequi

[2017-07-16 10:35] SamVerschueren commented on #105
Yes, like the idea! Can do a PR if we agree on these.

One minor nitpick, `String` is on both lists :).

[2017-07-16 10:49] sindresorhus commented on #105
Oops, fixed.

[2017-07-16 11:17] SamVerschueren commented on #84
Looking into this as we speak. Cloning a/multiple repositories is pretty easy. I'm just not sure how to run XO or ESLint with the local version of `eslint-plugin-unicorn`. I tried running `./node_modules/.bin/xo --extend=./index.js` but that doesn't seem to work. I always get the following error

// @jfmengels

[2017-07-16 11:34] sindresorhus commented on #84
Probably easiest to use ESLint directly. Have a sharable config with https://github.com/sindresorhus/eslint-plugin-unicorn#recommended-config somewhere and reference it in ESLint with `$ eslint --config /absolute/path/to/config`.

[2017-07-16 11:51] SamVerschueren commented on #84
The thing is that it doesn't look like we can use relative paths in the eslint config.

[2017-07-16 12:56] sindresorhus commented on #84
Not sure why that's a problem or where you would need to use relative paths?

How I would do it:

- Create a shareable config package with a package.json, index.js with https://github.com/sindresorhus/eslint-plugin-unicorn#recommended-config and give it a name like `eslint-config-unicorn-tester` or something. This package should be bundled in the package tester package, let's call it `unicorn-test

[2017-07-17 12:11] #93 closed

[2017-07-17 16:46] jfmengels commented on #105
Sounds good to me. This does overlap with `new-regexp` and `throw-new-error` from this plugin though, so it's probably best to deprecate those two rules once this rule has been added.

`no-new-buffer` could also fall in the scope of this rule IMO, though it's Node specific. We could also incorporate that one into this rule. (I almost suggested deprecating `no-new-buffer` as it now exists in the co

[2017-07-17 20:27] sindresorhus commented on #105
It doesn't completely overlap with `throw-new-error` as that rule covers any kind of error, not just `Error()`.

Agreed, but I prefer to keep the `no-new-buffer` rule as it gives a better error message.

[2017-07-18 16:05] SamVerschueren commented on #84
You really mean creating those packages separately and publish on npm right? Not just a directory in the tests folder here? Just to make sure I understand everything correctly :).

[2017-07-18 17:10] sindresorhus commented on #84
No, just bundle them here. I don't really see much value in having them on npm, do you?

[2017-07-18 17:25] SamVerschueren commented on #84
I think it might be nice to have all the logic in separate packages to remove the amount of code here. That way, this module only focusses on the specific rules, not all the bloat to run the integration tests.

But let's just start with adding the logic here and see where that goes. We can always pull it out later.

[2017-07-21 11:24] sindresorhus opened #107 "`catch-error-name` fails when try/catch is inside a promise that is caught"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/107)

Discovered in https://github.com/sindresorhus/got/pull/347

Failing tests: https://github.com/sindresorhus/eslint-plugin-unicorn/commit/9f9a324255cc1faaa0d5331a6b78be0cbec9db8f

The cause is the `.catch(err => err);` part.

[2017-07-28 10:52] nkovacs opened #108 "escape-case false positive if the string has lowercase characters but the escape has numbers only"
For example: `'a\u0151'`

[2017-07-28 11:15] SamVerschueren commented on #108
Duplicate of #85?

[2017-07-28 11:15] nkovacs commented on #108
No, it's not.

[2017-07-30 21:03] sholladay commented on #90
I don't like having to write out the constructor and super call just to get a custom error name.

I should be able to simply do:

[code]

[2017-07-30 21:19] sindresorhus commented on #90
@sholladay Yes, that's possible, but having *one* way to write all Error subclasses is beneficial. Makes it easier to add additional things later and consistency.

[2017-07-31 05:49] SamVerschueren commented on #107
I found out why this fails. The thing is that the rule is being disabled when we have nesting catch clauses. Let's use the failing test example.

[code]

It might not look like `try-catch` and the promise `.catch` are nested, but apparently they are. So I believe that the only way to actually solve this, is by not disabling the rule when having nested catch clauses.

I believe this was allowed bec

[2017-07-31 10:07] #84 closed

[2017-08-04 17:48] gajus commented on #40
Don't understand the suggestion.

Whats the solution here?

I've run into this a few times when dealing with 3rd party code.

[2017-08-06 19:27] SamVerschueren commented on #105
Working on this one.

[2017-08-07 05:49] SamVerschueren commented on #71
What's up with this one? Are we going to try to add it to the `quotes` rule or are we going to implement it ourselves?

@jfmengels Did you already create an issue for this? If so, it's probably already closed but just asking :).

[2017-08-07 15:34] sindresorhus opened #112 "Rule proposal: Regex shorthands"
Prefer:

- `\d` instead of `[0-9]`
- `\D` instead of `[^0-9]`
- `\w` instead of `[A-Za-z0-9_]` or `[A-Za-z\d_]`
- `\w` instead of `[a-z0-9_]` or `[a-z\d_]` with the `i` flag
- `\W` instead of `[^A-Za-z0-9_]` or `[^A-Za-z\d_]`
- `\W` instead of `[^a-z0-9_]` or `[^a-z\d_]` with the `i` flag

For regex literals and the `RegExp` constructor (As long as it's a simple string).

Any order inside the brac

[2017-08-07 15:50] SamVerschueren commented on #112
Yes, we can always add more in the future. Having it auto-fixable would be super sweet!

[2017-08-08 06:02] SamVerschueren commented on #112
@sindresorhus You probably mean `\W` instead of `\w` for the last example

[2017-08-08 09:22] sindresorhus commented on #112
Yes

[2017-08-09 06:02] SamVerschueren commented on #112
As I was implementing this, I just realised that for this regex `[A-Za-z0-9_]`, we actually have a permutation of 4, thus having 24 combinations (4! = 1 * 2 * 3 * 4 = 24).

- `[a-zA-Z0-9_]`
- `[a-zA-Z_0-9]`
- `[a-z0-9A-Z_]`
- `[a-z0-9_A-Z]`
- `[a-z_A-Z0-9]`
- `[a-z_0-9A-Z]`
- `[A-Za-z0-9_]`
- `[A-Za-z_0-9]`
- `[A-Z0-9a-z_]`
- `[A-Z0-9_a-z]`
- `[A-Z_a-z0-9]`
- `[A-Z_0-9a-z]`
- `[0-9a-zA-Z_]`
- `[0-

[2017-08-10 10:54] sindresorhus commented on #71
Let's just do it as a new rule.

[2017-08-10 15:10] #105 closed

[2017-08-10 15:19] #108 closed

[2017-08-20 07:04] #85 closed

[2017-08-28 04:15] #112 closed

[2017-09-05 09:23] sindresorhus commented on #107
I rather how a working rule than auto-fix, so I'm fine with that compromise. Let's go with:

[2017-09-10 19:13] j-f1 opened #114 "custom-error-definition inserts constructor before the class when there’s no body"
Original:

[code]

“Fixed”:

[code]

[2017-09-11 06:18] SamVerschueren commented on #114
This is odd, I cannot reproduce this in the test cases. We already had a test https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/test/custom-error-definition.js#L69-L84.

Is it possible that somewhere before your expression, something else was fixed as well? Pushing the definition down which causes an offset. Have you tried fixing the error definition in a file with only the error d

[2017-09-20 13:56] rushsontakke opened #116 "catch-error-name"
Hi @sindresorhus ,

If I want to add two values in catch error name as 'e' or 'err', how can I add these two values as options as we have more than 500 js files having both e and err.
if there is any provision for that please let me know.

[2017-09-20 15:16] sindresorhus commented on #116
That defeats the purpose of the rule. The point is to keep it consistent. If that is not possible, you can just disable the rule.

[2017-10-30 14:44] sindresorhus opened #117 "Prefer `addEventListener` over `onclick`"
`addEventListener` is better for many reasons: https://stackoverflow.com/a/35093997/64949

Same with all the other `onfoo` events.

I got the idea in https://github.com/wulkano/kap/pull/255#discussion_r147623982.

---

## Fail

[code]

## Pass

[code]

---

This should be auto-fixable.

[2017-10-30 14:45] sindresorhus commented on #117
@kevva @SamVerschueren Thoughts?

[2017-10-30 16:27] SamVerschueren commented on #117
Yes totally agree. Let's do this one!

[2017-10-30 22:17] kevva commented on #117
💯!

[2017-11-01 19:31] j-f1 commented on #114
I haven’t seen this happen again, so I’m closing it out as “probably a hiccup.”

[2017-11-01 19:31] #114 closed

[2017-11-02 16:32] sindresorhus opened #118 "Prefer `event.key` over `event.keyCode`"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/118/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/118)

For readability. Got the idea when doing https://github.com/wulkano/kap/commit/71be04f7411aa33d0b393c05077c619de2ab07be.

Should trigger when in an `addEventListener` callback.

## Fail

[code]

## Pass

[code]

[2017-11-07 14:09] noamokman opened #119 "Publish a new version"
Hi,

Can you publish a new version to npm?

Thanks!

[2017-11-07 16:04] sindresorhus commented on #119
Publishing a new release is blocked by https://github.com/sindresorhus/eslint-plugin-unicorn/issues/107. Help welcome.

[2017-11-07 16:08] SamVerschueren commented on #118
Much clearer to reason about! Would be nice to have!

[2017-11-09 08:23] sindresorhus opened #120 "Prefer the spread operator over `Array.from()`"
## Fail

[code]

## Pass

[code]

The only difference between them is that `Array.from()` also works on array-like objects, while spread requires something to implement the iterator protocol, but we don't care about that, as it's what you should do anyway.

Should be easy to make this auto-fixable.

There's already a built-in ESLint rule called [`prefer-spread`](https://eslint.org/docs/rules/prefe

[2017-11-09 13:07] sindresorhus commented on #119
I did a new release: https://github.com/sindresorhus/eslint-plugin-unicorn/releases/tag/v3.0.0 We can fix #107 later.

[2017-11-09 13:07] #119 closed

[2017-11-09 13:40] sindresorhus commented on #107
I've disabled this rule in the default config to be able to do a new release. Can be enabled again when we fix this.

[2017-11-10 15:37] noamokman commented on #119
Thanks!

[2017-11-13 17:28] modosc opened #121 "False-positives in `no-fn-reference-in-iterator` rule"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/121/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/121)

the `unicorn/no-fn-reference-in-iterator` matched all of these pieces of (valid) code and the fix applied broke every one. not sure the best way forward for this..

https://reactjs.org/docs/react-api.html#reactc

[2017-11-14 16:10] gigobyte opened #122 "False positive for the `new-for-builtins` rule"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2430%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/122)

Currently the plugin doesn't support variables that have the same name as the built-ins.
For example:
[code]
will report ```Use `new Map()` instead of `Map()`. (unicorn/new-for-builtins)``` which is not correct for Immutab

[2017-11-15 03:08] sindresorhus commented on #122
It's not really a good practice to override built-ins, but I agree we should support this.

---

I think this would have been clearer:

[code]

Since it's not just a normal map.

[2017-11-15 19:37] bdougherty commented on #120
@sindresorhus working on this. Should the name be `prefer-spread` or something different?

Also, there is one potential use case for `Array.from` and that is if you are using a map function along with it (`Array.from(obj, mapFn, thisArg)`). I've never used it, but I'm thinking that it shouldn't be marked as an error if you're using that since according to MDN it avoids creating an intermediate arr

[2017-11-16 00:53] sindresorhus commented on #120
Cool. Yes, `prefer-spread`.

[2017-11-16 04:42] sindresorhus opened #124 "`no-fn-reference-in-iterator` rule should not apply to `Promise` static methods"
Bluebird adds [`Promise.map()`](http://bluebirdjs.com/docs/api/promise.map.html) which has a different semantic. Since Bluebird is a very popular module, we should add an exclusion for it. So any static method on `Promise` should be ignored.

[2017-11-17 02:56] #124 closed

[2017-11-20 09:08] AdriVanHoudt commented on #121
Getting the same thing.
The auto fix results in
[code]

[2017-11-20 09:26] sindresorhus commented on #121
Unfortunately, there's really no way to know the actual type of the variable. So this rule is destined to have some false positives. We should more clearly mention this in the docs.

Like we did with https://github.com/sindresorhus/eslint-plugin-unicorn/commit/53dc7c11c187e656d2e832e2b02ce830bf417934, we could add some overrides for known globals, like `React.Children`, `async`, `_`. We could also

[2017-11-22 20:57] zimme commented on #121
Should this really be in the recommended config if it's prone to false positives?

[2017-11-22 23:48] pvdlg opened #127 "custom-error-definition doesn't report error if the Error class is exported with `module.exports`"
This code report the error ``The `name` property should be set `FooError`.`` as expected:
[code]

This code doesn't report any error:
[code]

With `export` it works as expected and the error is reported:
[code]

[2017-11-23 02:14] pvdlg opened #128 "Rule proposal: Enforce setting Error message before throwing"
Throwing error without a message create confusion for users as it makes it difficult to know why the error happened. The rule would enforce that a message is set in the `Error` when it's thrown.

### Fail
[code]

### Pass
[code]

This rule (or another one?) would probably also have to check that the first parameter of subclassed errors is passed to the constructor or set to the `message` property.

[2017-11-23 02:43] pvdlg opened #129 "Rule proposal: no-duplicate-requires"
[eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) offer [a rule](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-duplicates.md) to report when a resolved path is imported more than once, but that doesn't work with `require`.

That would be great to have a similar feature for `require`.

### Fail
[code]

[2017-11-23 04:36] sindresorhus commented on #128
Good idea! Would you be interested in trying to implement it?

[2017-11-23 04:38] sindresorhus commented on #128
I'm not sure about this. Sounds a little bit too opinionated. Not all errors are meant for human consumption.

[2017-11-23 04:46] pvdlg commented on #128
I never implemented an ESLint but I can try. Not sure how soon I can do that though.

[2017-11-23 04:54] sindresorhus commented on #128
If you decide to do it, this gist might be helpful: https://gist.github.com/sindresorhus/1656c46f23545deff8cc713649dcff26

[2017-11-27 10:43] futpib opened #130 "custom-error-definition does not understand class properties"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/130)

The following code is reported, even though it does set the `name` property to `ValidationError`.

[code]

[code]

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $60.00)

- [<img src='htt

[2017-11-27 10:46] sindresorhus commented on #130
Are you using `babel-eslint`? I don't think ESLint support class properties yet.

[2017-11-27 11:54] futpib commented on #130
Yes, I'm using `babel-eslint`.

[2017-11-28 20:08] sindresorhus commented on #130
I don't think we're interested in adding a separate code path for when `babel-eslint` is used. We can't support it by default as ESLint doesn't expose the new AST nodes needed.

When https://github.com/tc39/proposal-class-fields reaches stage 4, ESLint will support it, and we can too. I'll keep this issue open until then.

[2017-11-29 10:39] tiagocpontesp opened #131 "Exclude `index.js` from the `filename-case` rule"
e.g. for `index.js` files.

[2017-11-29 10:52] sindresorhus commented on #131
We can just exclude `index.js` by default as it has special meaning. Is there then any need for a whitelist option?

[2017-11-29 11:25] tiagocpontesp commented on #131
I'd be happy with just that exclusion :)

[2017-11-29 11:44] sindresorhus commented on #131
Would you be interested in doing a pull request?

[2017-11-30 18:37] SamVerschueren commented on #131
It's probably me, but why do we need an exclusion for `index.js`? :p

[2017-11-30 18:53] sindresorhus commented on #131
For the PascalCase option I assume.

[2017-12-05 10:48] tiagocpontesp commented on #131
I'll look into this.. eventually.

[2017-12-06 12:24] wmertens commented on #121
The "one argument" heuristic seems like a great idea…

[2017-12-08 00:20] #127 closed

[2017-12-09 22:21] JavierPons commented on #131
Hi there,
Do you need collaborator?  (Im a beginner). Im looking for participate in some "easy" issue :p
What concretely do you need?

[2017-12-11 23:37] Izhaki opened #133 "no-process-exit throws on process.once (but not on process.on)"
From [the docs](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/48ef6e1de5d92f6538b8399f8f4bfe06a7c3ec8f/docs/rules/no-process-exit.md):

Any reason `process.once` is disallowed?

As in:
[code]

[2017-12-12 02:21] jamestalmage commented on #133
No good reason. If it's good in `on` it's good in `once`.
PR Welcome.
Relevant line of code is here: https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/rules/no-process-exit.js#L17

[2017-12-12 12:41] novemberborn opened #136 "Revisit no-array-instanceof"
This Twitter thread is interesting: https://twitter.com/awbjs/status/939603968698626048

[code]

There are no comparable methods for other built-in types. I'm not sure this rule needs to exist.

[2017-12-12 17:47] Izhaki commented on #133
@jamestalmage Done.

[2017-12-12 21:46] #133 closed

[2017-12-12 21:49] sindresorhus commented on #136
Seems very much theoretical. I can't imagine anyone would do that. JS has thousands of edge-cases. `Array.isArray()` works fine in 99.999% cases. That's all I care about. I can live with this super edge-case. And I don't see how `instanceof` would be any better. You can override methods in an Array subclass too to make it fail.

[2017-12-12 23:18] jamestalmage commented on #136
There's a very real reason for this rule, and it's clearly stated in the docs. `instanceof` presents real problems when transferring arrays across contexts.

[2017-12-13 11:07] novemberborn commented on #136
Cool, just thought I'd bring it up.

[2017-12-13 11:07] #136 closed

[2017-12-20 07:23] johnwu93 commented on #131
Hi everyone,

Can I take this task? I think I can write a pull request for this.

[2017-12-20 07:32] SamVerschueren commented on #131
Go ahead.

[2017-12-20 18:53] johnwu93 commented on #131
I'm trying do this task and I am having trouble finding a coding style for this code base. Which coding style do you guys follow?

[2017-12-20 20:44] johnwu93 commented on #131
Should we include in the schema an option to exclude `index.js` from the `filename-case` rule? Specifically, we could add the option `allowIndex` which will be a boolean. If it is true, `index.js` will be excluded from the `filename-case` rule. Otherwise, `index.js` will be taken into account for the `filename-case` rule.

The schema would look something like this:

[code]

[2017-12-20 22:00] johnwu93 commented on #131
I just finished the implementation without the option to `allowIndex`. So, all `index.js` files will be excluded from the `filename-case` rule. Please let me know if we would need the `allowIndex` option.

[2017-12-22 18:45] tiagocpontesp commented on #131
TBH I encontered use-cases for white-listing besides "index.js".
Namely prefixes, which come handy as a separation of some files in a dir.

I ended up disabling the rule entirely.
Ideally I'd use a regex to target part of each filename, so not merely white-listing.

[2017-12-22 23:37] #131 closed

[2017-12-25 21:00] johnwu93 commented on #128
I would like to work on this feature.

When I work with exceptions in Javascript, I never set the `message` field of an error message of an error variable after creating in. For example, the situation that @pvdlg mentioned:
[code]

In fact, I would never imagine somebody preferring this method of writing a message than setting it as a parameter on the constructor, i.e. `new Error('message')`. Mayb

[2017-12-25 22:58] sindresorhus commented on #128
Great! Go ahead :)

I agree. It doesn't make much sense. You can leave that out.

[2017-12-30 19:10] johnwu93 commented on #128
I am implementing this right now and I notice that there could be an edge case where the user passes in an empty string literal as a throw message. For example, you can have

[code]

Should this case be invalid?

[2017-12-30 19:23] corbinu commented on #23
Would you all be open to this if I wrote a PR?

[2017-12-30 20:37] johnwu93 commented on #128
Also, referring to @pvdlg's test case, should I cover the case where you are throwing a reference to an object?

For example, should this be an error:

[code]

[2017-12-30 21:05] sindresorhus commented on #128
Yes, should be invalid.

throw err

This too should be invalid.

[2018-01-07 19:34] #120 closed

[2018-01-13 10:02] Beraliv commented on #8
Also there is a hack to check:
[code]

as

[code]

it can be added as additional case

[2018-01-14 22:20] sindresorhus commented on #8
@Beraliv No one should write unreadable code like that. There should rather be a separate rule to disallow it.

[2018-01-14 23:26] sindresorhus opened #142 "Rule proposal: `prefer-reflect-apply`"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/142/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/142)

ESLint deprecated the [`prefer-reflect`](https://eslint.org/docs/rules/prefer-reflect) rule, for mostly good reason, but there was one valid thing in it, and that's using `Reflect.apply()` over `Function.prototy

[2018-01-16 03:52] johnwu93 commented on #117
Can I work on this?

[2018-01-16 14:41] SamVerschueren opened #144 "Rule Proposal: No assignment to global object"
Recently someone did a PR where he put something on the `global` object. Something like

[code]

This doesn't feel like a good thing to do. You might accidentally override something. Also it makes it very hard to track where the global variable was set. I don't believe I actually ever used the `global` keyword in my code.

It's the same thing for `window` in browser environments.

Just wanted to b

[2018-01-16 15:11] SamVerschueren commented on #144
Related rule https://eslint.org/docs/rules/no-global-assign. But not sure if it blocks my example. On mobile so can't check.

[2018-01-17 11:10] #128 closed

[2018-01-17 11:11] sindresorhus commented on #117
@johnwu93 Yes :)

[2018-01-22 18:27] johnwu93 commented on #117
Do you guys just want this to be applicable whenever an object calls `onclick`, regardless of its type? Or, do you guys want this to be applicable if the object is of type `DOM element`? The later would be nice, but much more difficult to implement.

[2018-01-22 19:00] sindresorhus commented on #117
@johnwu93 ESLint doesn't have type inference, so that is impossible. We'll just assume `onclick` means it's a DOM element.

[2018-01-31 02:54] IanVS opened #148 "Release new rules"
Hi there, it looks like there are some cool new rules in master but not yet released (e.g. `unicorn/no-unsafe-regex`).  Any chance you could make a `3.1.0` release?  Thanks!

[2018-02-01 11:50] #116 closed

[2018-02-03 14:01] #48 closed

[2018-02-07 22:33] junqdu opened #149 "regex-shorthand: Expected regexp to be of type `string`, got `object`"
[code]

[2018-02-08 01:34] SamVerschueren commented on #149
Any idea what line in your code is failing? Is it possible to copy-paste it? Maybe I missed an edge case.

[2018-02-08 09:40] junqdu commented on #149
@SamVerschueren I think it is something like `new RegExp(/^[^*]*[*]?$/)` caused the error.

[2018-02-11 06:40] sindresorhus opened #150 "`custom-error-definition` rule throws"
It throws on:

[code]

[code]

I've added a commented out test for it: https://github.com/sindresorhus/eslint-plugin-unicorn/commit/9ec60bee7acd51a56e78179b4252b8c63468698f

[2018-02-11 06:48] sindresorhus opened #151 "Re-enable problematic rules"
I had to disable (1091fdaaff82de2b9eac0f674a0dafc719a7bff7) some problematic rules in the default config until we manage to fix some issues with them:

`custom-error-definition`
- [x] #150
- [x] #90
- [ ] checking other problems(fisker)

`no-fn-reference-in-iterator`
- [x] #121
- [x] enable in #666

`no-unsafe-regex`
- [ ] #153

[2018-02-11 06:48] sindresorhus commented on #151
// @johnwu93 In case you have some time to look into any of these :)

[2018-02-11 06:53] sindresorhus commented on #149
@junqdu Nope, it's not that. It passes the tests: https://github.com/sindresorhus/eslint-plugin-unicorn/commit/bdebf03e3b8e1f7de44184c93f1e6098c396d2bd

Instead of guessing, can you reduce your code to the minimum amount that still makes it fail and share that here?

[2018-02-11 07:23] johnwu93 commented on #151
@sindresorhus Sure, I will be happy to look at them :)

[2018-02-11 07:25] johnwu93 commented on #151
I will write a pull request for them

[2018-02-11 07:55] #117 closed

[2018-02-11 09:51] junqdu commented on #149
@sindresorhus
I setup an angular tutorial app https://github.com/junqdu/eslintest
Error shows up at https://github.com/junqdu/eslintest/blob/master/app/core/checkmark/checkmark.filter.js#L7

![screen shot 2018-02-11 at 1 48 24 am](https://user-images.githubusercontent.com/4250728/36072074-f348ccfe-0ecd-11e8-8a36-9c5310cbee3a.png)

[2018-02-11 10:12] sindresorhus commented on #149
The following runs fine for me without crashing:

[code]

[2018-02-11 10:13] sindresorhus commented on #149
I'm happy to look further into it if you submit a [failing test](https://github.com/avajs/ava#failing-tests).

[2018-02-13 05:33] sindresorhus commented on #148
Done https://github.com/sindresorhus/eslint-plugin-unicorn/releases/tag/v4.0.0

[2018-02-13 05:33] #148 closed

[2018-02-13 05:50] johnwu93 commented on #121
For dealing with these false-positives, I can implement what @sindresorhus suggested. I can add configuration rules to this rule so that the user has the ability to exclude identifiers from this rule. Also, I can add a configuration rule where we can report methods with one argument, which will ignore the errors for `React.Children` and `Async `. How does that sound?

[2018-02-14 08:37] junqdu commented on #149
@sindresorhus seems to be fixed in 4.0.1

[2018-02-14 08:37] #149 closed

[2018-02-14 18:09] sindresorhus opened #153 "The `no-unsafe-regex` rule is annoying"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/153)

It matches way too many regexes to be useful. And it's unclear what's wrong with the regexes and how to fix it.

It matches simple regex like:

https://github.com/xojs/stylelint-config-xo/blob/9c49d0bbf96a433ec6b2eef83875a

[2018-02-14 18:18] sindresorhus commented on #153
// @bdougherty

[2018-02-15 07:05] sindresorhus commented on #153
The `safe-regex` module also seems unmaintained, so not a great start.

For this plugin to be useful it needs to pinpoint exactly where in the regex the problem lies, and suggest how it could be fixed, ideally with `--fix` support.

It could maybe use [`regexp-tree`](https://github.com/DmitrySoshnikov/regexp-tree).

[2018-02-15 07:15] sindresorhus opened #154 "Rule proposal: `export-function-style`"
Idea from: https://github.com/sindresorhus/refined-github/pull/1077#discussion_r166941975

You can currently export a function using the following with ES modules:

[code]

or

[code]

I think the rule should let you configure default and named exports individually, as someone might want to do:

[code]

Thoughts? And does it make sense to configure them individually, like suggested above?

---

//

[2018-02-15 07:22] sindresorhus opened #155 "Rule proposal: `jsx-import`"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/155/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/155)

Idea from: https://github.com/sindresorhus/refined-github/pull/1089/files#r168391471

When JSX is detected in the source, require the code to import one of the following imports:

- `import React from 'react';`

[2018-02-15 07:25] sindresorhus opened #156 "Rule proposal: `prefer-textcontent`"
Idea from: https://github.com/sindresorhus/refined-github/pull/1088#discussion_r168383196

Prefer `node.textContent` over `node.innerText`.

See: https://stackoverflow.com/a/35213639/64949

With ESLint, we can't know the type, but I guess we can safely assume `.innerText` refers to a DOM element, and if not, you can always disable it. Maybe it would be possible if `env` is `browser` and only valid

[2018-02-15 07:31] sindresorhus opened #157 "The `regex-shorthand` rule has a false-negative"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2430%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/157)

This doesn't cause a lint error:

[code]

Even though it could be:

[code]

I think we might need to use some more advanced detection. Maybe [`regexp-tree`](https://github.com/DmitrySoshnikov/regexp-tree). Although, it has

[2018-02-15 09:38] bfred-it commented on #155
I suppose this would have to figure out the pragma ([inline](https://github.com/sindresorhus/has-jsx-pragma/blob/master/index.js) and babel's config?) to suggest the right import name (but not the imported module).

[2018-02-15 10:04] sindresorhus commented on #155
@bfred-it No, I was thinking we just ensure one of the list imports are used. I don't think anyone would use multiple of those, so should be good. No need to overcomplicate it.

[2018-02-15 11:34] bfred-it commented on #155
How do you know it's correct though?

Is `import {element} from 'dom-chef'` valid?
Is `import {h} from 'letters'` valid?

[2018-02-15 13:26] jamiebuilds commented on #156
If you had a tool that could query for types reasonably efficiently inside ESLint from both Flow and TypeScript would you want to build a lot of stuff like this?

[2018-02-15 14:05] sindresorhus commented on #156
@jamiebuilds Yes! I so want that. I've had so many ideas for rules that were not feasible in the end because of lack of type information. For example: https://github.com/xojs/xo/issues/104

[2018-02-15 14:07] sindresorhus commented on #155
No, only named import `h`.

Nope, not from the list.

Nope.

---

I think you're misunderstanding, I mean just from the curated list, not random `h` imports. There are not that many `h` type modules. I think we can easily cover them all.

[2018-02-15 14:34] kevva commented on #155
Did you have a look at https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/react-in-jsx-scope.md? Only checks for `React` though.

[2018-02-15 15:25] sindresorhus commented on #155
@kevva Yup, I'm using it here: https://github.com/xojs/eslint-config-xo-react/blob/6a88098c0a7adac42a3170ca75add48738831b5f/index.js#L37 But I want something that is not just tied to React. Yes you can set the pragma there, but you can't set multiple, and `import preact from 'preact';` wouldn't be detected.

[2018-02-15 16:23] sindresorhus opened #158 "The `prefer-add-event-listener` rule should not apply to `onbeforeunload` that returns something"
Meaning inline arrow functions or ones with a `return` statement.

This is because returning something changes the behavior:

[code]

The above cannot be easily auto-converted to `addEventListener` as it would need to be turned into:

[code]

Easier to just skip it then.

// @johnwu93

[2018-02-15 16:56] jfmengels opened #159 "Make `prefer-spread` allow `Array.from({length: N})`"
I sometimes use `Array.from({length: N})` in order to create an array with a certain number of elements in it, so that I can later map over it.

Example:
[code]

I usually use Lodash's [times function](https://lodash.com/docs/4.17.5#times) for that, but I prefer not to use when I write packages.

If we want to add an exception for this, I think we should allow it when the first argument is an obje

[2018-02-15 19:22] johnwu93 commented on #158
This looks pretty straightforward. I can fix this along with the other issue mentioned earlier this week. I will get a good amount of them done by the of the week.

I looked at MDN and it looks like there are no other events that similar to `beforeunload`. Namely, events that require you to mutate a property of an event. So, I will just fix this issue for `beforeunload`.

[2018-02-15 19:25] johnwu93 commented on #155
I like this rule, it gives users the flexibility to use different libraries corresponding with jsx.

[2018-02-15 19:33] johnwu93 commented on #156
@jamiebuilds @sindresorhus

This tool will be awesome to have. You can make TypeScript lint rules with TSLint.
I haven't found an easy way to create a linter where developers can use Flow's type information to create custom rules in Javascript.
It would be really nice to build a linter that uses type information from both TypeScript and Flow.

[2018-02-15 19:42] sindresorhus commented on #159
I think that's an ugly hack that takes advantage of a quirk in the language.

Why not just do `[...Array(10).keys()]`?

[2018-02-15 20:00] bdougherty commented on #153
Based on what I was reading about the regexes that it's looking for (primarily http://www.regular-expressions.info/catastrophic.html), I'm not sure that there is an automated way to fix them.

But I agree that it should give some indication of what the issue is, I'm just not sure how to do that exactly. I'll mess around with it and see if I can come up with anything.

[2018-02-15 23:52] bfred-it commented on #158
Could `window.onbeforeunload` part of the rule as well? If someone changes that to `window.addEventListener('beforeunload')` it should not pass 😄

[2018-02-16 03:02] sindresorhus commented on #158
Why should it not pass?

[2018-02-16 03:46] jamiebuilds commented on #156
Added it to [my team's backlog](https://trello.com/c/itcSnHwX/20-library-for-getting-type-information-from-inside-eslint-plugins).

[2018-02-16 04:08] bfred-it commented on #158
Because it does not work: https://github.com/sindresorhus/refined-github/commit/1d80e1d24e6823a246649928aee249f4e39a824e#commitcomment-27598115

[2018-02-16 13:25] jfmengels commented on #159
Ah, I didn't know about that possibility. I agree that mine is a hack.
I've asked around and someone proposed `Array.from(10).fill(null)` (and then map over it), which is probably going to be my new way of doing it (maybe along with yours).

Feel free to close this then :)

[2018-02-16 15:32] #159 closed

[2018-02-17 06:36] meatwallace commented on #159
@jfmengels - worth mentioning that you can use `Array#from` with a map fn ex. `Array.from(new Array(100), (v, index) => index` which has the benefit of only creating a single intermediary array

[2018-02-19 08:34] sindresorhus commented on #121
👍

👍, but it should not be configurable. We should always ignore methods with more than 1 argument.

[2018-02-27 07:33] sindresorhus opened #163 "The `prefer-add-event-listener` rule should not autofix event clearing"
These should be reported, but not auto-fixed:

[code]

[code]

These need to be handled manually, as `removeEventListener` requires the listener function be able to unsubscribe.

[2018-02-27 07:33] sindresorhus commented on #163
// @johnwu93

[2018-03-13 19:14] sergeysova opened #164 "Don't auto-fix `Array.from({ length: 12 })`"
Before:

[code]

After autofix:

[code]

But result is wrong:

![image](https://user-images.githubusercontent.com/5620073/37364556-eb0fc604-270b-11e8-9502-626fb5fb8a1f.png)

[2018-03-13 19:32] sindresorhus commented on #164
Yeah, we shouldn't auto-fix that. Although you really shouldn't do that. There are better ways to achieve what you want: https://github.com/sindresorhus/eslint-plugin-unicorn/issues/159

[2018-03-13 19:44] sergeysova commented on #164
Maybe add option/rule to that case?

[2018-03-14 16:41] #164 closed

[2018-03-15 09:21] sergeysova commented on #164
Thanx

[2018-03-15 19:54] sindresorhus opened #166 "Rule proposal: `prefer-dataset`"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/166/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/166)

Prefer the [`.dataset`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dataset) property on DOM elements over using `setAttribute`.

We would detect `setAttribute` and that the string starts with `

[2018-03-23 08:05] sindresorhus opened #167 "Change default of `catch-error-name` rule"
I know the convention in Node.js is to use `err` for error variable names, but is it really worth saving two characters over? I would much prefer to use `error` instead.

[code]

This makes for more readable code.

@SamVerschueren @kevva Thoughts?

[2018-03-23 10:10] kevva commented on #167
I don't know why, but I've always been in favour of short variable names á la Node.js. Following conventions makes them as easy to read as if you'd write `error` instead of `err`, or `callback` instead of `cb` etc.

I mostly use longer and more descriptive names for functions.

[2018-03-23 10:12] sindresorhus commented on #167
I used to be like that before too, but Swift has thought me the value of descriptive variable names.

[2018-03-27 14:22] F1LT3R opened #168 "Next-line-rules not detected after /* eslint-disable */"
I am using AVA with XO in SublimeText3, and I'm running into a weird situation. My best guess is that this behavior is coming from the `eslint-plugin-unicorn` plugin. I say that because SublimeText appears to handle the rules correctly, but running `xo` from the CLI gives me unexpected results.

I expect that using `// eslint-disable-next-line rule1 rule2` after using `/* eslint-disable */` and `/

[2018-03-27 14:27] F1LT3R commented on #168
🤦‍♂️ I just realized the `Specify the rules you want to disable at line 123:45` refers to the `/* eslint-disable */` comment, not the `// eslint-disable-next-line` comment.

The fact that the line numbers are wrong is what threw me I think.

It's also weird that the error is not being highlighted on the correct line in Sublime.

Now I'm not so sure this bug is related to this package.

Thoughts?

[2018-03-30 14:56] dandonahoe commented on #167
I just change my default to `error` as well. Totally nit-picky, but I'm doing a React project and I rarely see `err` used. I almost always favor descriptive titles with the option to abbreviate only when the description gets out of control.

Anyway, good linter overall. Thanks.

[2018-04-02 06:02] sindresorhus opened #169 "Rule proposal: Prevent abbreviations"
Using complete words result in more readable code. Not everyone knows all your abbreviations. You only write code once, but it's read many times.

For a start, we could go with these:

- `err` => `error`
- `cb` => `callback`
- `opts` => `options`
- `str` => `string`
- `obj` => `object`
- `num` => `number`
- `val` => `value`
- `e` => `event`/`error`
- `evt` => `event`
- `el` => `element`
- `req` =>

[2018-04-02 06:03] sindresorhus commented on #169
// @kevva @SamVerschueren @lukechilds

[2018-04-02 13:48] lukechilds commented on #169
Honestly, I think they're all quite controversial.

I agree with you that that in general abbreviations are not good variable names, but I personally prefer the shorter version of most of these and I think they're pretty widely understood. I'd say `err` is probably even more common than `error`. It's in all the official Node.js docs.

Also, how reliable will this be? What if `cb` is an abbreviatio

[2018-04-02 15:02] sindresorhus commented on #169
But is it really worth sacrificing readability over saving a few characters? Swift has taught me a lot about writing readable code. Some would say it's too verbose, but I also think JS is generally too concise.

I know we have conventions and all that, but should we maybe stop and question those? I feel like everyone just does it because everyone else does it, without actually considering whether

[2018-04-02 15:04] sindresorhus commented on #169
// @pvdlg

[2018-04-03 17:53] jamez14 commented on #169
`arr` => `array`

[2018-04-03 17:53] FezVrasta commented on #169
`event` is also seen as `evt` quite often

[2018-04-03 17:55] frontend-3 commented on #169
`btn` -> `button`
`msg` -> `message`

[2018-04-03 17:59] TGC79 commented on #169
`len` -> `length`

[2018-04-03 18:00] savetheclocktower commented on #169
Abbreviations like `obj` and `str`, though arguably slightly less readable than `object` and `string`, are at least unambiguous. If this rule were to exist, it seems like it would be more useful if it targeted ambiguous abbreviations. For example: I've seen `e` used for both `event` and `error`, and it's made me more likely to write out `event` and `error` as a result just for clarity.

Hence, I h

[2018-04-03 18:10] sindresorhus commented on #169
Are they though? Only if you know that `str` always means `string`, which it usually does, but that's just a convention. It could just as easily be short for `strength`.

I agree, `value` is not a good name, but what would you call a variable that could be any value. You could call it `any`, but I don't think that's clearer.

[2018-04-03 18:12] sindresorhus commented on #169
If you, for example, disagree with `err`=>`error`, I'm curious about why? It's only two extra characters and it improves readability. "Because archaic conventions" is not a great argument.

[2018-04-03 18:12] gingerbeardman commented on #169
I assumed they're not going to be named solely `value` but rather, for example, `valueAwesomeSlider`?

[2018-04-03 18:13] alexsasharegan commented on #169
I think that as software developers, a common vernacular of abbreviations is actually **more** readable. The particular case of `e` bothers me because it used commonly for both the js `Event` as well as `Error`. This is a case of strong ambiguity, but `err` is not ambiguous at all. Personally, I think a stronger point is to conform strongly to naming conventions. Those are always language and team

[2018-04-03 18:14] savetheclocktower commented on #169
It could, if you're building an RPG. In the general case I think that those abbreviations are common enough that (e.g.) `str` presumptively means `string`, and if you need `strength` then you should just type `strength`.

This is the one caveat I should've added to my original comment, but I was growing tired of typing. :)

[2018-04-03 18:31] mischah commented on #169
The following ones came to my mind spontaneously:

* `env` => `environment`
* `dev` => `development`
* `prod` => `production`
* `t` => `test`

[2018-04-03 18:47] abdullahtariq1171 commented on #169
`tmp` => `temporary`
`ans` => `answer`

[2018-04-03 18:48] therealklanni commented on #169
Are we also considering shorthands like `a`/`b`/`x` -> `any`, `fn` -> `function`?

[code]

I see this a lot more in more academic uses, though it does happen in the real world as well.

[2018-04-03 18:48] praveenv4k commented on #169
arg => argument
args => arguments
rec => record
tbl => table
db => database

[2018-04-03 18:49] therealklanni commented on #169
`args` => `arguments` is almost necessary, since `arguments` is reserved.

[2018-04-03 18:50] felixfbecker commented on #169
I agree with avoiding abbreviations in general, but I think the problem with this rule is that it will forbid all the abbreviations that are okay because they are widely understood (e.g. `err`) while allowing all the abbreviations that are not common/context-dependent. It's hard to come up with concrete examples for this, but if I read most Go codebases they have 1-3 letter variable names everywhe

[2018-04-03 18:50] sindresorhus commented on #169
I think `x` and `a` & `b` are usually fine in inline arrow functions if it's clear from the context what they refer to.

[2018-04-03 18:52] sindresorhus commented on #169
Not in arrow functions, which I personally use most of the time.

[2018-04-03 18:53] sindresorhus commented on #169
I agree the main focus should be to reduce ambiguity, the other cases could potentially be opt-in.

[2018-04-03 18:53] therealklanni commented on #169
That's fair, but then you have to ask yourself if you want consistency, too.

[2018-04-03 19:02] savetheclocktower commented on #169
I think this has the potential to be the worst of all possible bikesheds, and you'll hear from three groups of people:

1. people who would like this rule and would use it to help them stick to new conventions;
2. people who already don't abbreviate these things and want to make their collaborators abide by the same rules; and
3. people who have opinions about abbreviations in code, generally spea

[2018-04-03 19:13] sindresorhus commented on #169
@savetheclocktower This is just exploratory right now. I'm happy to hear all opinions. The main focus is the ambiguity aspect, which I don't think many would object to. I've personally been using the non-abbreviations in my code for a while now. I'm liking it so far, but it takes some getting used to.

[2018-04-03 19:19] hugmanrique commented on #169
`ctx` => `context`
`mod` => `module`

[2018-04-03 19:59] kalisjoshua commented on #169
I use these pretty often:

`_` => when I don't actually care about it - usually in an arguments list - but need it to take up the position
`indx` => `index` because `index` is a reserved word in JS
`attrs` => `attributes` because I'm super laz

[2018-04-03 20:02] therealklanni commented on #169
`index` is not a reserved word.

[2018-04-03 20:36] Loilo commented on #169
I'm not sure why I feel uncomfortable with those expanded terms replacing all those rather well-known abbrevations, but I think I've come up with a possible explanation.

1. I, personally, as a user of these abbrevations, find them clearer than the long names. That's however only learned behaviour and could certainly be retrained.
2. What I'm not sure about: I think it makes me uncomfortable becau

[2018-04-03 20:39] therealklanni commented on #169
That's what minifiers are for (and character count is largely irrelevant for server-side)

[2018-04-03 20:40] andrepolischuk commented on #169
I see the following sometimes:

ns -> namespace
prop -> property
ref -> reference
dt -> date
cmd -> command

[2018-04-03 20:41] Loilo commented on #169
@therealklanni I don't mean bloat in the sense of a performance hit. I think my explanations make that clear, maybe read it again. 🙂

[2018-04-03 21:07] 10xLaCroixDrinker commented on #169
`re` => `regex`

[2018-04-03 21:10] mischah commented on #169
`re` => `regex` => `regularExpression`
`re` => `regexp` => `regularExpression`

To be exact @10xLaCroixDrinker 😏

[2018-04-03 21:28] lo1tuma commented on #169
`del` => `delete`
`cmp` => `compare`
`cnt` => `count` / `counter`
`init` => `initialize`
`num` => `number`
`dict` => `dictionary`
`inc` => `increment`
`dec` => `decrement`
`fn` => `function`
`fns` => `functions`
`grp` => `group`
`dpl` => `deploy` / `deployment`
`w` => `width`
`h` => `height`
`cp` / `cpy` => `copy`
`acc` => `account` / `accumulator`
`pkg` => `package`

[2018-04-03 23:53] CrossEye commented on #169
Why not

  - `a` => `minuend`
  - `b` => `subtrahend`

  - `x` => `horizontalAxisValue`
  - `y` => `verticalAxisValue`

?

    </sarcasm>

Perhaps I shouldn't be responding here, as I don't have any skin in the game, never having used this unicorn and only having run across the issue on Twitter.  But my take is that this is a crazy rule.  A good abbreviation makes it *easier* to read code.  I thin

[2018-04-04 01:38] lukechilds commented on #169
Just an idea I wanna throw in here.

I'm still not convinced personally that clear abbreviations are a bad thing. But if this is a rule you want to add, what about instead of blacklisting specific abbreviations (since people will never agree) you just try and detect all abbreviations.

For all variable names shorter than or equal to n (probably 3 or 4), do a lookup on common n `letter` dictionary

[2018-04-04 01:39] belchior commented on #169
`d` => `date`
`n` => `next`
`t` => `time`
`dec` => `decimal`
`curr` => `current`
`prev` => `previous`

[2018-04-04 10:08] sebdeckers commented on #169
#### HTML

`a` => `anchor`
`li` => `listItem`
`ul` => `unorderedList`
`ol` => `orderedList`

#### General

`doc` => `document`
`docs` => `documents`

[2018-04-04 10:11] jazen commented on #169
`coll` => `collection`

[2018-04-04 10:25] ivancuric commented on #169
I'd say just avoid (most) single-letter abbreviations. I want to read code, not a mathematical proof.

[2018-04-04 15:27] Rowno commented on #169
FYI, the main reason I use `e` instead of `event` is that `event` is a global variable in browsers (which has bitten me multiple times because eslint doesn't tell you when it's undefined).

[2018-04-04 15:46] evocateur commented on #169
`package` is also a reserved word, so `pkg` is the most suitable replacement.

[2018-04-05 17:51] aymericbouzy commented on #169
How about letting people add / override / remove whatever abbreviation doesn't suit them in an optional configuration? That way you avoid the bikeshed.

The configuration object could look this way : `{ e: "error", err: false}` which is really concise and clear in my opinion.

I also think that having this configurable opinionated rule avoids the bikeshed in teams regarding which abbreviations are

[2018-04-05 21:09] sergeysova commented on #164
@sindresorhus maybe release new version with this and #161 ?

[2018-04-06 10:56] sindresorhus commented on #164
Done

[2018-04-06 11:24] sergeysova commented on #164
Thank you

[2018-04-10 03:42] brandonweiss commented on #169
`col` => `column`
`lat` => `latitude`
`lon` => `longitude`

[2018-04-10 03:44] brandonweiss commented on #169
`idx` => `index`
`hsh` => `hash`
`bool` => `boolean`

[2018-04-17 04:05] sindresorhus opened #170 "Rule proposal: `prefer-node-append`"
Prefer `node.append()` over `node.appendChild()`.

[`.append()`](https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/append) has many benefits over `.appendChild()`.

[2018-04-18 04:40] sindresorhus opened #171 "Rule proposal: `prefer-query-selector`"
Prefer `querySelector` over `getElementById`, `querySelectorAll` over `getElementsByClassName` and `getElementsByTagName`. They are not faster than `querySelector` and it's better to be consistent.

## Fail

[code]

## Pass

[code]

[2018-04-18 05:58] SamVerschueren commented on #171
I agree, consistency all the way!

[2018-04-26 05:30] focusaurus commented on #169
I support this. One reason to throw onto the pile is avoiding confusion when discussing code or pair programming. If I verbally say "OK call callback with null then result" and you have to type `cb(null, res)` that generates a lot of confusion and stuff like "no not error, eee arr arr".

[2018-04-26 07:47] voxpelli commented on #169
I prefer `err` over `error` because I don't like it that `error` is just a single case away from the built in `Error` – using `err` makes it clearer that one is referring to a variable and hasn't just misspelled `Error` as `error`.

I prefer `obj` over `object` for the same reason.

Also – when it comes to eg. `arr`/`array`, `obj`/`object` – wouldn't the better suggestion be to suggest a descripti

[2018-04-26 15:05] brandonweiss commented on #169
@voxpelli I think it depends on the context. If you know what the semantic name of the collection/object is and you’re using a generic name then yeah, the improvement is to just not do that. But you could also be working on an abstraction or something where there is no semantic name and the clearest way to refer to it is by what data type it is.

[2018-04-29 19:15] sindresorhus commented on #168
See https://github.com/sindresorhus/eslint-plugin-unicorn/blob/985a861382679ab42a723720634f064a5eb104a6/rules/no-abusive-eslint-disable.js#L16-L17 for why it's warning at line 0.

[2018-04-30 18:29] #168 closed

[2018-05-05 15:55] bfred-it commented on #120
Why though? `[...var]` isn't better looking nor it does exactly the same thing. `Array.from` works on Array-likes while `...` only works on iterables.

[2018-05-05 17:54] sindresorhus commented on #120
I would call that a benefit. Array-like is IMHO just a legacy quirk. Iterables is a better way to define things that can be iterated. If you truly want to imitate array, you can just subclass it.

[2018-05-05 17:56] sindresorhus commented on #120
It's better in that it's more consistent. You use spreading for many other things now too, even objects. Also makes it easier to spread from multiple things if you decide to change it, like `[...set].map(() => {});` => `[...set, ...set2].map(() => {});`.

[2018-05-08 01:44] Komorebi-Girl commented on #171
Hi, just checking: Is this issue still up for grabs? If so, I'd like to take it.

[2018-05-08 03:05] Komorebi-Girl commented on #171
Okay, just for clarification: Do I need to change all of the getElementByIds, getElementsByClassNames, getElementsByTagNames and querySelectorAlls to querySelectors in a particular file? I'm still quite new to contributing to open source projects so thank you in advance for your help.

[2018-05-08 06:35] sindresorhus commented on #171
@Komorebi-Girl I think you've misunderstood what this issue is about. This is not about replacing `getElementByIds` etc in this project, but rather create an ESLint linter rule that will warn about `getElementByIds`/etc in projects.

[2018-05-08 11:08] Komorebi-Girl commented on #171
Ah, I see. Yes, I completely misunderstood. Well, in the case, I should leave this issue for someone else more equip while I try to get a better understanding of the project. Thank you, @sindresorhus, for your clarification!

[2018-05-11 07:00] zoenkatz commented on #171
@sindresorhus, Can I take it? Thanks

[2018-05-15 09:17] sindresorhus opened #173 "Rule proposal: `prefer-exponentiation-operator`"
Prefer `7 ** 2` over `Math.pow(7, 2)`.

http://exploringjs.com/es2016-es2017/ch_exponentiation-operator.html

---

Should come with an auto-fix.

[2018-05-18 21:11] niftylettuce opened #174 "The `prefer-add-event-listener` rule should not apply to Koa's `app.context.onerror`"

[2018-05-19 06:56] sindresorhus commented on #174
The only workaround I can think of is to detect `koa` being imported and not report.

It's easy to think we can just detect `app.context.onerror`, but it can be written in so many ways with variables in between and it's just too complicated with the limited things we can detect and do with ESLint.

[2018-05-21 10:47] albinekb opened #175 "Add rule for no-space-in-console rule"
see https://github.com/wulkano/kap/pull/450#discussion_r188170111

`console.log` (and .warn etc), all add spaces between the messages:
[code]

This should be considered invalid:
[code]

[2018-05-31 13:41] dilanSachi commented on #171
is this still open?
can i work on this?

[2018-06-01 10:47] zeorin commented on #23
What about using ESLint's built-in overrides system:
[code]

[2018-06-01 10:52] zeorin opened #176 "filename-case needs case option set explicitly"
If I use:
[code]
And run ESLint, I get the following error:
[code]
But if I set the case option explicitly, there's no error:
[code]

[2018-06-15 23:14] akhilpanchal commented on #8
Hi guys, I am a beginner and would like to implement this. Am I good to pick this one up?

[2018-06-17 21:02] sindresorhus commented on #8
@akhilpanchal There's already #70, but it was never finished. You could continue that one, by addressing the feedback on the PR and try to improve it.

[2018-06-18 18:33] sindresorhus commented on #8
Oh yeah, I meant #115.

[2018-06-26 22:14] maximandrewz commented on #169
As other people already suggested I believe it should be configurable. It is a great idea in general, but there are some tradeoffs.

1) If you are creating this eslint plugin for your own projects then you can set whatever you want;
2) If you are looking to make it a popular feature, then I would go with configurable multiple options. Like `{ "error": ["e", "err", "error"] }`, also you should be a

[2018-06-29 06:42] s7sundar opened #177 "Definition for rule 'unicorn/import-index' was not found eslint"
The mentioned `Definition for rule 'unicorn/import-index' was not found eslint` error is displaying on this line.  If anyone knows how to resolve this please let me know

[2018-07-06 18:17] MrHen opened #178 "regex-shorthand fixer does not escape RegExp constructor strings properly"
Rule:

[code]

Original code:

[code]

Fixed code:

[code]

Should be:

[code]

Example of altered behavior:

[code]

[2018-07-07 16:56] SamVerschueren commented on #178
This seems to be only an issue when we are using a `new RegExp()` with a string argument. I looked into it but it's harder then I initial thought.

[2018-07-08 02:06] MrHen commented on #178
Honestly, I wouldn't mind if it just ignored strings. Doing bad things is bad -- doing nothing is an improvement. The only reason I caught it was another lint rule calling out a bogus escape sequence in the string.

[2018-07-13 09:28] sindresorhus commented on #50
https://github.com/not-an-aardvark/eslint-rule-composer might let us just modify the built-in rule instead of making one from scratch.

[2018-08-04 05:59] pksunkara opened #180 "Add plugins: ['unicorn'] to recommended config"
For example, `eslint-plugin-vue` does it like [this](https://github.com/vuejs/eslint-plugin-vue/blob/master/lib/configs/base.js#L19).

If you do this, could you please release v4 too for the people who are still using eslint v4.

[2018-08-05 23:34] jorgegonzalez opened #181 "Rule proposal: Keep relative and non-relative imports separate"
Basically a rule enforcing the following separation:

![image](https://user-images.githubusercontent.com/12901172/43691169-5ee96444-98e6-11e8-8dd0-da9984a5a9f9.png)

Keeping these two types of imports separated helps to keep files a bit more organized. This should be fixable.

[2018-08-06 04:07] zeorin commented on #181
Like https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/order.md?

[2018-08-06 07:46] sindresorhus commented on #181
`import/order` is what you want, and if it's not good enough, open issue on the `import` plugin for possible enhancements.

[2018-08-06 07:46] #181 closed

[2018-08-06 10:58] jorgegonzalez commented on #181
Didn’t know about that! Thanks!

[2018-08-19 15:52] sindresorhus commented on #180
Sure, go for it.

[2018-08-19 15:53] sindresorhus commented on #180
No, sorry, older versions are effectively unmaintained.

[2018-08-19 19:16] pksunkara commented on #180
#182

[2018-08-19 22:17] MrHen commented on #98
Seems like the better fix is to make sure that objects in parameters are treated as immutable. The implementation for [https://github.com/jhusain/eslint-plugin-immutable#no-mutation](immutable/no-mutation) might work as a starting point.

[code]

I'd argue that overshadowing parameter is also bad but should be a different rule.

[2018-08-20 03:41] sindresorhus commented on #72
Closing as this should be fixed in the code coverage tools instead.

[2018-08-20 03:41] #72 closed

[2018-08-23 16:09] #173 closed

[2018-08-23 16:11] #178 closed

[2018-08-23 16:14] #180 closed

[2018-08-23 16:42] #167 closed

[2018-08-26 10:27] ehmicky opened #186 "[Bug] `catch-error-name` rule does not work with optional catch binding"
The following code using the latest ES [optional catch binding](https://github.com/tc39/proposal-optional-catch-binding) (supported by latest Acorn, Espree and ESLint):

[code]

fails with the `catch-error-name` rule:
[code]

[2018-08-30 16:35] sindresorhus commented on #98
I've been using `Object.assign` for options arguments for years and that has never been a problem in practice.

[2018-08-30 17:06] MrHen commented on #98
It's not really a problem. It's just a slight functional difference. In my opinion, I think the `Object.assign` pattern is more clear / less surprising anyway.

In any case, I was just pondering whether I wanted to help out with this feature -- but in my case I'd rather have immutable parameters and/or use destructuring directly in the function signature. I'll go dig up something else to poke at.

[2018-09-02 21:57] MrHen commented on #71
I'm not sure what the difference between this and the [quotes](https://eslint.org/docs/rules/quotes) rule would be. Maybe the quotes rule was updated since the original discussion?

Rule:
[code]

Pass:
[code]

Fail:
[code]

@sindresorhus can you clarify what pass/fail conditions you expect?

[2018-09-03 08:11] #186 closed

[2018-09-03 08:29] #71 closed

[2018-09-03 08:29] sindresorhus commented on #71
@MrHen You're right. That's great! It must have changed since I opened this issue.

[2018-09-03 11:32] sindresorhus opened #189 "Add fixer for the `catch-error-name` rule"
It was left out initially as it's nontrivial. It will have to rename all references to the variable too.

Maybe https://mysticatea.github.io/eslint-utils/api/scope-utils.html#reerencetracker-class can be helpful.

[2018-09-03 13:39] MrHen opened #190 "custom-error-definition rule does not validate against exported name"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/190)

The following passes linting:

[code]

The name used in `exports.fooError` should match the name used in `this.name = 'FooError';`.

A commented out test was added as part of #188 to cover this scenario.

<details>
<summar

[2018-09-03 14:15] #150 closed

[2018-09-03 18:39] sindresorhus commented on #171
Sorry, missed this. Yes, this issue is still available.

[2018-09-03 18:52] zoenkatz commented on #171
Ok cool, then I'm starting to work on it.

[2018-09-03 20:04] pvdlg opened #192 "Allow descriptive error name in catch-error-name"
Currently the `catch-error-name` forces to name the `catch` argument `error`, `error2`, `error3` etc... Adding a number at the end of a variable is not really descriptive.

I guess it's ok for the rule to accept `error${index}` as a valid name but the rule should allow and recommend to use a descriptive error name such as `fsError`, `httpError` etc...

[2018-09-04 00:26] MrHen opened #193 "Flip order of linting and testing"
Right now [package.json](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/package.json#L16) has the following:

[code]

This makes test driven development a royal pain because lint errors have to be fixed before you can check if your code is running correctly. It is significantly more convenient to run tests first:

[code]

Can we flip the order these are run?

[2018-09-22 20:57] futpib opened #194 "Rule proposal: `no-unused-properties`"
[code]

[2018-09-26 22:18] futpib commented on #194
@sindresorhus Are you interested in a PR with this?

[2018-09-30 00:36] niftylettuce opened #196 "Can we set a default `"max-lines": [ "error", 1000 ]`?"
<https://eslint.org/docs/rules/max-lines>

[2018-09-30 05:58] sindresorhus commented on #196
Why is this opened here? I assume you meant to open this on the XO repo. In any case, I don’t  think it’s something I want. Setting a naive limit is not going to make sense in all cases and it’s just going to be annoying. I used to have this rule enabled, but turned it off at some point out of annoyance.

[2018-09-30 05:58] #196 closed

[2018-10-02 00:45] Manu1400 commented on #129
My first ESLint plugin with the rule _no-duplicate-requires_: https://github.com/Manu1400/eslint-plugin-emmanuel

[2018-10-04 07:44] sindresorhus opened #197 "Rule proposal: No unreadable array destructuring"
Destructuring is very useful, but it can also make some code harder to read.

For example: https://github.com/sindresorhus/refined-github/pull/1558/files#diff-7fa8bf1c42c5640497119c24113948a4R56

## Fail

[code]

## Pass

[code]

[2018-10-04 16:06] MrHen commented on #197
Why is one comma okay? If the rule just prevented empty segments it would be pretty simple. Is the `[, foo]` case common enough to explicitly include?

Also, what about:

[code]

[2018-10-04 16:11] sindresorhus commented on #197
It felt readable enough, but I guess we could disallow that one too.

Yes, those too.

[2018-10-04 18:07] voxpelli commented on #197
I think a comma in the beginning is reasonable to allow

[2018-10-05 18:34] pvdlg commented on #197
Isn't this rule would conflict with [`prefer-destructuring`](https://eslint.org/docs/rules/prefer-destructuring)?
[code]
Would trigger that rule.
[code]
would trigger `prefer-destructuring`. So you would end up in a situation in which both solution are invalid as you probably don't want to disable `prefer-destructuring` which is useful in many other cases.

So should this rule be a re-implementati

[2018-10-05 19:15] MrHen commented on #197
`prefer-destructuring` has a setting to disable `array` destructuring which is almost certainly what you would want if you don't like `const [,, foo] = parts;`. From their docs:

If you want both rules enabled you would have to use `eslint-disable-next-line` to signal which rule you prefer for each instance.

[2018-10-22 09:58] lexcorp16 commented on #166
@sindresorhus how can I get started with this?

[2018-10-28 09:17] #175 closed

[2018-10-28 12:11] sindresorhus commented on #193
I've had many discussions about this in the past with various people and there's no good universal way to handle it. There are good arguments both ways. For example, many times XO can catch syntax error or invalid code before you run potentially expensive tests.

I would just recommend running `npx ava -w` instead which runs the tests in watch mode.

[2018-10-28 12:11] #193 closed

[2018-10-28 12:12] sindresorhus commented on #193
If you feel strongly about this, feel free to open an issue on https://github.com/xojs/xo as the order is something we officially recommend, and would have to be discussed there first.

Ideally, we would run XO non-stylistic rules first, then tests, the stylistic rules, but that's too complicated for now.

[2018-10-29 00:39] MrHen commented on #193
Yeah, I figured it's not a universal opinion. I don't care enough to champion the issue but I definitely have to change it locally and then remember not to check it in.

[2018-10-29 03:04] MrHen commented on #121
FWIW, [lodash/prefer-lodash-method](https://github.com/wix/eslint-plugin-lodash/blob/master/docs/rules/prefer-lodash-method.md#rule-details) had to solve this problem too and they chose to do it by adding `ignoreMethods` and `ignoreObjects` configs to the rule.

[2018-11-13 07:19] sindresorhus opened #202 "Support the new rule `meta.type` property"
https://eslint.org/blog/2018/11/eslint-v5.9.0-released#the-fix-type-option
https://eslint.org/docs/developer-guide/working-with-rules#rule-basics

[2018-11-21 06:53] sindresorhus opened #203 "Add option to automatically handle React projects in `filename-case` rule"
The convention for React components is to use pascal case (`FooBar.js`). We could detect files using JSX and enforce pascal case and ignore the chosen case, but it's also common to have an `index.js`, `routes.js` or `app-routes.js` that has JSX in them, but are not components. So my proposal would be to add an option that, when enabled, would enforce either `pascalCase` (`FooBar.js`) or `kebabCase

[2018-11-21 06:54] sindresorhus commented on #23
I have opened a better proposal for how to handle React projects: https://github.com/sindresorhus/eslint-plugin-unicorn/issues/203

[2018-11-21 06:54] #23 closed

[2018-11-29 18:32] sindresorhus commented on #192
I agree.

[2018-12-12 17:48] normanzb commented on #169
The language you are speaking right now, is in fact a convention as well.
If there are more people calling "newbies" "noobs" than I think "noobs" is defacto standard of modern language, and so does `err` is the modern coding defacto standard version of `error`

[2018-12-12 19:01] sholladay commented on #169
For anyone who doesn't remember, `err` became popular in JavaScript because at the time, the community had an aversion to names that were simply a camelCase copy of a class. Back then, there were no true classes, no linter rules that could catch mistakes related to capitalization, and this convention made people feel more confident that a variable was definitely an error instance rather than a ref

[2018-12-15 21:14] #197 closed

[2018-12-19 07:40] zeorin commented on #203
Ah, I was confused, I thought you were suggesting a new _rule_ name, rather than a new _option_ name (which is indeed a better idea).

Thinking about this a little more, what happens when there are components that start with a lowercase letter? Higher order components do this quite frequently, and whilst most probably don't contain any JSX, we cannot rule that out. Yet it is also a convention.

Th

[2018-12-22 21:20] sindresorhus opened #204 "Rule proposal: `prefer-flat-map`"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/204/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/204)

Prefer `array.flatMap(…)` over doing `array.flat().map(…)`.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flatMap
https://developer.mozilla.org/en-US/docs/Web/JavaScript

[2018-12-27 17:46] sindresorhus commented on #203
Do you have any examples? It would enforce kebabCase (`with-router.js`) which is sensible.

That doesn't handle the case of JSX files that are not components. Most projects have those, like `index.js`. ([Example](https://github.com/atomiclabs/hyperdex/blob/297e2f035cbcc1922f646098dc3ffa7e562e4e5c/app/renderer/index.js#L34-L36)).

[2018-12-27 23:36] futpib commented on #192
I would not call errors names like `fsError` as it may be misleading (looks like it implies the type of error, when there is no real guarantee). May still be useful for names like `innerError`.

[2018-12-28 20:39] futpib commented on #69
But `no-labels` does ban labels like that, and xo does report `no-labels` violations as errors with default setup.

I just checked it like this:
[code]

[2018-12-28 21:50] #69 closed

[2018-12-29 11:35] #194 closed

[2018-12-29 11:54] sindresorhus commented on #155
There's a good starting point in https://github.com/sindresorhus/eslint-plugin-unicorn/pull/162/files if anyone wants to finish it.

[2018-12-29 12:58] sindresorhus commented on #166
@lexcorp16 https://github.com/sindresorhus/eslint-plugin-unicorn/blob/d083f162a2ccaeb730e4ae284ac0af4d7c04d01f/docs/new-rule.md :)

[2018-12-29 17:52] #170 closed

[2018-12-31 12:40] zeorin commented on #203
That's project-specific. If I'm writing HoCs for a project I might use `camelCase`, where someone else might opt for `kebabCase`. Leaving it configurable is what I'd prefer.

I'm assuming this rule doesn't actually inspect the contents of a file for JSX usage, instead simply matching on the file extension; so I assume you meant `index.jsx` instead of `index.js`.

I assumed that `index.jsx` will be

[2018-12-31 13:03] sindresorhus commented on #203
Just to be clear. This will detect actual JSX usage in a file. Not the `.jsx` file extension, [which is discouraged](https://twitter.com/dan_abramov/status/763712190272667648?lang=en).

[2018-12-31 16:46] zeorin commented on #203
Ah, in that case this is indeed better than using the overrides. I'd still assume `index.js` to be hard-coded to be excluded from the rule. I feel it's natural to in such a case, apply the rule to the containing directory, but that's only based on my personal experience and may not suit everyone.

In the case of HoCs (that don't start with a capital letter) that follow a different file naming conv

[2019-01-09 23:00] haysclark commented on #169
This entire argument is very common and you can find many articles from other languages like C++, Java, Actionscript, etc. Abbreviations and other common-conventions are rarely timeless because they obfuscate the intended meaning and eventually fall out of the common lexicon.  While outside the scope of Computer Science, I believe [Shorthand](https://en.wikipedia.org/wiki/Shorthand) in an interest

[2019-01-10 18:35] futpib commented on #118
Do we want:
* to report any `event.keyCode` reference or only comparisons like `event.keyCode === 27`?
* a fixer that turns `event.keyCode === 27` into `event.key === 'Escape'`?
* to also report [`event.charCode`](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/charCode)?
* to also report [`event.which`](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/which)?
* to hav

[2019-01-11 06:01] sindresorhus opened #207 "Rule proposal: No zero fractions"
There are no difference between `1` and `1.0` in JS. For consistency, the former should be preferred.

## Fail

[code]

## Pass

[code]

[2019-01-11 09:56] sindresorhus opened #208 "Rule proposal: No default parameter options"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2482%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/208)

I have seen this pattern of using default parameters with an object as default options values:

[code]

This looks ok, but it's easy to miss that it only works with one option. If the user passes in an object, the whole de

[2019-01-11 14:10] MrHen commented on #208
What about the following cases?

Variable default:

[code]
----

Destructuring with defaults:

[code]

[2019-01-12 06:02] sindresorhus commented on #118
I would say any usage. I can't think of a situation where it would make more sense to use `keyCode` over `key`. Can you?

👍

👍

👍

👍

[2019-01-13 09:51] sindresorhus commented on #208
It's more complicated, yes, but would be nice to report on, although I doubt we'll be able to do a fixer for this case.

This should not be reported. It's a valid use of destructuring.

That's expected. It's how it works with non-deconstructing default parameters too.

[2019-01-14 05:12] #171 closed

[2019-01-14 05:14] sindresorhus commented on #207
Accepted. PR welcome :)

[2019-01-14 05:17] sindresorhus commented on #8
This was almost finished in https://github.com/sindresorhus/eslint-plugin-unicorn/pull/115, but then got stale. Hopefully someone can help move it past the finish line.

[2019-01-15 01:12] yakov116 commented on #171
@sindresorhus  is this what you had in mind?
I think the rule should only apply if the selector is a sting not a variable
[code]
Vs

[code]

[2019-01-15 17:51] eaviles opened #210 "Vulnerability detected in 7.0.0"
Thanks for the v7.0.0 release. I tried to use it but Snyk detected a vulnerability that made me stop. It was detected through:

eslint-plugin-unicorn@7.0.0 › safe-regex@2.0.1 › regexp-tree@0.0.86 › yargs@10.1.2 › os-locale@2.1.0 › mem@1.1.0

And here are more details about it:
https://app.snyk.io/vuln/npm:mem:20180117

I'm yet to try to find a way around it but just wanted to bring it to your atte

[2019-01-16 17:59] eaviles commented on #210
That's correct @sindresorhus but many projects have the vulnerability checks in their builds that also include development dependencies. All our own project builds in my company started failing because of this, we are heavy users of eslint-plugin-unicorn but we might stay in version 6 until resolved.

[2019-01-18 03:54] yakov116 commented on #171
@sindresorhus ?

[2019-01-20 10:04] sindresorhus opened #211 "Rule proposal: Don't import `util` Node.js core module directly"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/211)

This module is the perfect case for using destructuring / named imports, as it's just a bunch of unrelated functions.

## Fail

[code]

[code]

[code]

## Pass

[code]

[code]

---

<details>
<summary>
<b>IssueHunt Summary

[2019-01-22 05:19] sindresorhus opened #213 "Rule proposal: `prefer-node-remove`"
Prefer [`node.remove()`](https://developer.mozilla.org/en-US/docs/Web/API/ChildNode/remove) over [`node.parentNode.removeChild(node)`](https://developer.mozilla.org/en-US/docs/Web/API/Node/removeChild). `removeChild` is the legacy way of doing it.

## Fail

[code]

## Pass

[code]

[2019-01-22 09:21] #189 closed

[2019-01-23 20:18] udaypydi commented on #166
if @lexcorp16  has not started, I would like to get started with this @sindresorhus .

[2019-01-24 10:20] futpib commented on #211
Instead of being `utils`-specific why not make it accept a set of modules as an option (with `utils` being among defaults)?

[2019-01-24 12:04] sindresorhus commented on #211
Good idea! Let’s do that. We could add `lodash` and `underscore` to the default list too. Maybe we could also have a list for the inverse? For example, `chalk` should not be destructured, but people still do.

[2019-01-24 18:48] futpib commented on #49
By "ignore" do you mean the rule should not even report thees cases, or just not fix them automatically?

[2019-01-25 07:09] lukeapage opened #215 "no-unused-properties reports exported objects when they are also used in the file"
no-unused-properties has found many unused properties - great rule. However in this situation it is reporting errors..

[code]

here, `fails` is reported. If I don't use `ITEM_A.id`, then nothing is reported.

[2019-01-25 07:34] sindresorhus commented on #49
Not even support. Would be nice if it could handle those cases, but it's not a requirement to resolve this issue.

[2019-01-25 13:50] medusalix commented on #163
If you don't mind, I'll be working on this issue now as @johnwu93 seems to be inactive.

[2019-01-25 13:52] medusalix commented on #174
I would like to work on this issue. If I understood correctly, `koa` and `sax` should be excluded from this rule, right?

[2019-01-25 13:55] niftylettuce commented on #174
@medusalix 	those are the two that are most urgent right now, thank you

[2019-01-25 14:18] sindresorhus commented on #163
@medusalix Go ahead :)

[2019-01-25 18:14] medusalix commented on #213
Working on it 👍.

[2019-01-25 18:48] futpib commented on #158
What about `window.onbeforeunload = foo;`? Seems like `onbeforeunload` should be reported only when it is assigned a function expression with no `return x` in it.

[2019-01-26 06:46] arshadkazmi42 commented on #207
@sindresorhus I would like to take this.

[2019-01-26 06:49] gurungrahul2 commented on #207
@arshadkazmi42  I have already started the work :)

[2019-01-26 06:49] arshadkazmi42 commented on #207
@gurungrahul2 ok. thanks for information 👍

[2019-01-26 09:14] #215 closed

[2019-01-26 10:05] doniyor2109 commented on #213
@medusalix I did not see that you are working on it. I will close my PR as I did not notify about it. Sorry

[2019-01-26 10:12] doniyor2109 commented on #155
@sindresorhus Hi. I wanted work on it.

[2019-01-26 11:59] #158 closed

[2019-01-26 12:03] sindresorhus commented on #155
@doniyor2109 Go ahead. Please continue based on https://github.com/sindresorhus/eslint-plugin-unicorn/pull/162.

[2019-01-26 13:42] futpib commented on #49
Ok, I'll try to issue a PR with this limited implementation soon, but I also think that in the future this rule should report other for loops that do not fit the pattern, since that's where most mistakes probably lie.

[2019-01-26 14:11] medusalix commented on #213
Oh, I'm so sorry that you've already put time into the PR. Thank you for your kindness 👍.

[2019-01-27 05:54] alexzherdev commented on #156
@sindresorhus I'm willing to work on this 👍Do you have a preferred way of determining we're in the browser?

[2019-01-27 07:50] alexzherdev commented on #122
@maazadeeb sorry I literally started on this an hour ago 😇

[2019-01-27 08:05] maazadeeb commented on #122
@alexzherdev No issues.

[2019-01-27 08:56] maazadeeb commented on #118
@sindresorhus I'd like to work on this. Can I take it up?

[2019-01-27 08:57] futpib commented on #169
`max` => `maximum`
`min` => `minimum`

How far should we go with this :thinking:

[2019-01-27 13:55] Loilo commented on #169
I'd say `min` and `max` are fine as they are common abbreviations in natural language.

[2019-01-27 19:06] sindresorhus commented on #156
There's no way to know that. We'll just have to assume `.innerText` means the node property.

[2019-01-27 21:10] alexzherdev commented on #156
Oh you're right, I confused with runtime detection 🤦‍♂️

[2019-01-28 10:34] doniyor2109 commented on #36
@sindresorhus Can I work on this issue?

[2019-01-28 10:52] doniyor2109 commented on #107
@sindresorhus  Is this issue still active? If it is I can work on this issue?

[2019-01-28 11:06] sindresorhus commented on #107
Go ahead :)

[2019-01-28 16:07] CrossEye commented on #169
@futpib:

Clearly all the way.  If it's a good thing, then it's a good thing, so let's make sure to include

`md2html` => `markdownToHyperTextMarkupLanguage`

[2019-01-28 16:10] felixfbecker commented on #169
I mean, how would the rule be implemented? I assume it would use some kind of dictionary/wordlist to check that all terms are actual words, and error on any term not found in the dictionary? So if the abbreviation is common enough that it would appear in the dictionary, like HTML, then that would be allowed, but `msg`, `obj`, `val`, etc certainly all would not be.

[2019-01-28 16:34] sonicdoe commented on #169
As a rough guideline, I also feel like *acronyms* are usually okay whereas *abbreviations* are not.

For example, acronyms such as HTML, API, or URL are arguably more well-known and therefore result in more readable code. If I would be taking about a uniform resource locator, you’d probably have to do a double-take to actually understand what I’m referring to.

On the other hand, abbreviations suc

[2019-01-28 16:58] CrossEye commented on #169
@sonicdoe: Note that all of those are considered abbreviations.

Two common types of abbreviations are acronyms and initialisms.  `HTML`, `API` and `URL` are all initialisms, and not acronyms.  (You pronounce them as individual letters.) . Things like `NATO` or `SCUBA` are acronyms.  (You pronounce them as words.) . Other abbreviations such as `env` and `msg` are neither of these, and you don't pr

[2019-01-28 17:09] arshadkazmi42 commented on #211
@sindresorhus I would like to work on this.
Can you provide some more details what is the finalize approach for this?

[2019-01-28 17:24] sonicdoe commented on #169
I don’t want to derail too much so I’m just going to link to [the Nomenclature section of the Acronym article from Wikipedia](https://en.wikipedia.org/wiki/Acronym#Nomenclature). In short, one may draw a line between initialisms and acronyms but it’s not a clear-cut thing. In any case, I think the meaning behind my argument was clear.

[2019-01-28 18:01] Loilo commented on #169
Understandable. However, a non-exhaustive whitelist of the most common words could at least help the cause.

[2019-01-28 18:18] Loilo commented on #169
I think we can all agree that this problem is not fully machine-solvable with current technology, so a curated blacklist is probably the only viable approach.

That said, we should discuss way less about whether individual terms should be blacklisted, but rather try to agree on a deciding question to "ask" for those terms — roughly like this, but probably still more precise:

This still omits aspe

[2019-01-29 05:18] ankeetmaini commented on #118
Can I take a stab at it?

[2019-01-29 11:46] teppeis commented on #210
I've made a PR to fix this issue: https://github.com/DmitrySoshnikov/regexp-tree/pull/171

[2019-01-29 16:07] medusalix commented on #174
I thought of doing it like this:

[code]

Although I already got it working this way, I wanted to ask if some of you would know a better approach to this problem?

[2019-01-29 18:46] medusalix commented on #208
May I work on this issue?

[2019-01-30 16:37] sindresorhus commented on #208
@medusalix Sure, go ahead :)

[2019-01-30 16:40] #163 closed

[2019-01-30 16:48] sindresorhus commented on #174
@medusalix Yeah, that's what I would do too. It also needs to handle `import` statement.

Did you means `ends` => `matches`?

---

And `disabled` => `isDisabled`.

[2019-01-30 16:51] sindresorhus commented on #36
@doniyor2109 Go ahead. Though keep in mind that this issue will require you to research what polyfills are popular and add support for those. It's a lot of work.

[2019-01-30 16:52] sindresorhus commented on #36
I agree, but I think we should just put it in `eslint-plugin-unicorn` first. We can extract it later when it's more mature. That way we can iterate faster.

[2019-01-30 17:16] sindresorhus commented on #142
I'm not sure it will. I don't think it's likely a custom method is named `apply`, has `null` as the first argument, and an array as the second argument. I think we're fine here. It's the best we can do with [linting in JS](https://twitter.com/sindresorhus/status/1089602422236864512).

That's not a concern. If people need to support IE, they can just disable the rule.

[2019-01-30 19:37] medusalix commented on #174
@sindresorhus I'm actually checking the package name via `endsWith`. Consider the following case:

[code]

Maybe we should split the path on each `/` and check whether the last part equals `sax`?
When using `endsWith`, something like this would still pass 😕

[code]

Do you think a regex would be a better choice?

[2019-01-31 02:04] teppeis commented on #210
next: https://github.com/davisjam/safe-regex/pull/22

[2019-01-31 05:50] iwata opened #229 "Add option to ignore some files in `filename-case` rule"
I'm using [node-config-ts](https://www.npmjs.com/package/node-config-ts).
It creates `Config.d.ts` file automatically.
I wanna use `kebabCase` and ignore this file.

[2019-01-31 07:03] futpib commented on #208
[code]

Should we really report this? With a bit of a stretch I can imagine confusing `(options = {a: false, b: true})` with `({ a = false, b = false } = {})`, but `(options = fooDefaults)` seems as clear as possible.

[2019-01-31 07:04] sindresorhus commented on #169
Report the error but don't auto-fix. Unless, you can think of something smarter?

[2019-01-31 07:06] sindresorhus commented on #169
I would also like to see an additional option that let's users disable all the built-in words by default (`builtInWordsEnabledByDefault: true` or something shorter). This can be useful for companies/projects that want to supply their own totally custom list of words.

[2019-01-31 07:09] sindresorhus commented on #174
It should not handle relative paths. Only npm packages (`import koa from 'koa';`). So we'll just have a `Set` of npm package imports that disables the rule. Like: `new Set(['koa', 'sax'])`.

[2019-01-31 07:10] sindresorhus commented on #229
In both XO and ESLint, you can create rule override for certain files.

- https://github.com/xojs/xo#config-overrides
- https://eslint.org/docs/user-guide/configuring#disabling-rules-only-for-a-group-of-files

[2019-01-31 07:11] futpib commented on #169
Other options I have in mind are
* Do not even report it
* Do what `catch-error-name` does (`error1`, `error2`)

[2019-01-31 07:14] sindresorhus commented on #208
I'm confused. It's **not** perfectly reasonable. You above example also inhibits the problem that if one property is given, it does not use the default for the other properties. Or am I misunderstanding your point?

[2019-01-31 08:14] futpib commented on #208
My point is that it's harder to misinterpret than the inline variant, and also that the rule will catch (in my estimation) reasonable code:
[code]
Unless the intentions is that the rule will only report when the argument name is "options", is that the intention here?

[2019-01-31 08:15] futpib commented on #208
Sorry, ok, this makes sense now.

[2019-01-31 08:41] futpib opened #230 "Rule proposal: Consistent function scoping"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/230/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/230)

A function definition should be placed as close to the top level scope as possible without breaking it's captured values.

## Fail

[code]

## Pass

[code]

[code]

[2019-01-31 09:10] sindresorhus commented on #230
Sounds good. I often have to manually comment about this in PR reviews.

[2019-01-31 09:13] sindresorhus commented on #230
Slightly off-topic, but I would like the inverse for variables. That they are placed in the most inner scope as possible. What do you think?

[2019-01-31 09:36] iwata commented on #229
It makes sense, thanks.

[2019-01-31 09:36] #229 closed

[2019-01-31 12:17] medusalix commented on #174
Ok, that makes sense.

[2019-01-31 12:48] futpib commented on #230
This might actually be perfectly on-topic, because of the interaction between the two rules.

In this example, should `context` be moved in, or `isSpecial` be moved out? (I have no idea yet)

[code]

[2019-01-31 12:57] futpib commented on #230
On a second thought moving variables in may be a bad idea because it may negatively affect performance.

[2019-01-31 15:21] medusalix commented on #208
@futpib Yeah, I added some test cases for your code example too 😃.

[2019-01-31 17:05] sindresorhus commented on #230
Yeah, let's keep this focused on only functions for now. And yes it should be moved out.

[2019-02-01 18:38] futpib commented on #169
While coming up with tests, some expected awkward interaction between built-in `arguments` special and our `args` => `arguments` renaming surfaced.

Currently my plan is to make the rule prevent shadowing the collision with special `arguments` by renaming to `arguments2` (just like when colliding with common variables).

@sindresorhus please take a look at [the WIP tests](https://github.com/sindre

[2019-02-02 05:06] gurungrahul2 opened #231 "add a way to test only specific file in the place of testing all files during development"
or just tell me how to do it, if it is already possible. :-P

[2019-02-02 09:38] futpib commented on #231
[code]
More: https://github.com/avajs/ava

[2019-02-02 19:14] #231 closed

[2019-02-03 07:55] sindresorhus commented on #231
Or `npx ava test/throw-new-error.js` (npm)

[2019-02-03 09:34] sindresorhus commented on #169
Yeah, I don't see a good way around this. Let's allow `args` when it collides with `arguments`.

[2019-02-04 17:07] wldcordeiro commented on #203
Is there a way this rule cold apply to directories as well? I like getting this linting across my project to have kebab case but some pascalCase leaks in occasionally from directory names.

[2019-02-04 19:10] #213 closed

[2019-02-05 03:31] sindresorhus opened #238 "Rule proposal: Expiring TODO comments"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/238/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/238)

For example, `// TODO [2018-05-01]: Do this thing` would be reported from that date and onwards. The date format should be `YYYY-MM-DD` ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)).

Would also be nice t

[2019-02-05 09:16] futpib commented on #142
I don't think so. I bet the most common use-case for `apply` is an old-school variant of `super.method(...args)`, that is `method.apply(this, arguments)`;

[2019-02-05 09:20] futpib commented on #142
Can we make this rule fix all `.apply` calls with 2 arguments instead of having it look for `null` and an array literal (what seems to be the current plan)?

[2019-02-05 09:54] futpib commented on #238
Should they be warnings before the date/version and errors after, or not reported before and reported as warnings after?

Is it ok for a random contributor to get a TODO he has no idea about reported, just because he happen to contribute at the time of it's expiry?

[2019-02-05 14:08] MrHen commented on #238
I really like the "from version 2" variant of this feature because it can give you a way to start progressively cleaning up TODOs. If this option is enabled, should it always warn for TODOs _without_ a date / version?

[2019-02-05 23:54] alexzherdev commented on #142
This seems too broad to me, but I'll defer to you and @sindresorhus.

[2019-02-06 14:03] sindresorhus commented on #142
I also think that's too broad, but you made me realize we left out some common patterns. I think we should also handle `.apply` when the first argument is `this` and there's a second argument (of anything). @futpib Can you think of any other use-cases that would not be handled by that?

[2019-02-06 16:03] sindresorhus commented on #238
Silent before and error/warning (depends on what the user sets in their config) after.

Hmm, good point. We could have an opt-in option to not report in pull requests? Can be detected with https://github.com/watson/ci-info#ciispr

Yes, it would have to replace the functionality of [`no-warning-comments`](https://eslint.org/docs/rules/no-warning-comments) as it conflicts.

[2019-02-06 16:04] sindresorhus commented on #238
Anything else we cool could do with TODO comments other than versions and dates?

[2019-02-06 16:31] MrHen commented on #238
I've seen specific tools for making sure each TODO has an issue / bug number which is _really_ helpful for making sure TODOs are actually being tracked. It would require an opinion on how to format it. Perhaps, `// TODO: #123 - Thing to do here` or `// TODO (#123) - Thing to do here`.

The two common ways I see bug tickets formatted are `#123` and `ABC-123`. Both seem pretty easy to regex which me

[2019-02-06 23:52] stroncium commented on #207
Sorry about triple reference, didn't know github added cross-repo referencing, consider only the last one.

[2019-02-07 08:46] zeorin commented on #238
The other thing one could optionally require in a TODO is an identifier for the author, like a name, username/handle, initials, or email address. I know using the blame/annotate features of your VCS can _usually_ tell you who wrote a line of code, there are situations where that history is lost:
* File name changes (moves)
* Refactoring (moving pieces of code around)
* Reformatting (e.g. after int

[2019-02-07 08:49] zeorin commented on #238
There are also some other commonly-used comments like `FIXME` and `XXX` that I've seen around. Should probably include those.

[2019-02-07 12:19] stroncium commented on #169
I took a freedom to rethink the concept a bit to make the rule more general and usable by more people. It should also help testing various rules before finalizing default rule sets.

Initial rules implemented in `default` rule set, community suggestions implemented in `extended` rule set, but it is also fully configurable for highly specific and differently opinionated use cases.

I also used the

[2019-02-07 12:20] sindresorhus commented on #169
@stroncium There's already an open PR for this => #237

[2019-02-07 13:51] stroncium commented on #169
@sindresorhus Well, it wasn't put in submitted, and by the time I realized there was a PR, I've had it done already. Anyhow, perhaps you will find my version more useful. If not than so shall it be.

[2019-02-07 16:22] futpib commented on #142
Not really, the next use-case on my list is the most generic `.apply(anything, anythingElse)`. But why do you think handling it is too broad? Do you know of any usage of `apply` method name with a meaning different from that of `Function.prototype.apply` or `Reflect.apply`?

[2019-02-07 17:15] #156 closed

[2019-02-07 17:31] #174 closed

[2019-02-11 16:29] #202 closed

[2019-02-13 08:26] sindresorhus commented on #142
I don't. I just know from experience that it's beneficial to be careful about these things.

@futpib @alexzherdev How about we report on any usage of `.apply()` with arguments, but only auto-fix the safe cases (the already mentioned cases above)?

[2019-02-13 08:34] sindresorhus commented on #238
I could see this being useful for companies. Personally, I prefer just keeping my TODOs only in code. Instead having named formats, we could just accept a regex.

That's a different use-case than what I proposed though. This limits the duration of a TODO, while mine is for a fixed date. Both are valid, but they serve different purposes.

What if we made the syntax for my proposal `// TODO [expires

[2019-02-13 08:36] sindresorhus commented on #238
👍 The common syntax I have seen for this is `// TODO(sindresorhus): Lorem ipsum.`.

[2019-02-13 08:38] sindresorhus commented on #238
👍 `FIXME`. For additional ones, we could allow specifying a list of keywords.

[2019-02-14 00:02] alexzherdev commented on #142
Coming from eslint-plugin-react I have an instinct to avoid false positives completely. That said, if this repo is more lenient, I'm totally cool with that, and this suggestion seems like a reasonable middle ground.

[2019-02-15 01:51] alexzherdev commented on #238
Continuing the idea about semver, should be doable to require a version of a dependency? E.g.,
[code]

[2019-02-15 09:12] sindresorhus commented on #238
@alexzherdev Good idea! That would indeed be very useful.

[2019-02-15 10:55] futpib commented on #238
Also consider TODOs that pop up when a dependency is removed or added (in case you are migrating between substitute packages like `lodash`/`ramda`, `preact`/`react` etc.)

Not sure which syntax will be best:
[code]
or
[code]

[2019-02-15 19:24] sindresorhus commented on #238
`[+react]` 👍

[2019-02-16 18:39] sindresorhus opened #247 "Use JSON schema `default` in rules"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2430%20Rewarded-%237E24E3.svg" />](https://oss.issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/247)

Instead of manual `Object.assign`. See: https://github.com/eslint/eslint/commit/550de1e611a1e9af873bcb18d74cf2056e8d2e1b

Note this though: https://github.com/eslint/eslint/commit/de5cbc526b30405e742b35d85d04361529d4

[2019-02-18 06:55] #49 closed

[2019-02-18 22:47] futpib commented on #208
I don't think is is the correct way. It's better then the "fail" examples, but the correct way is to use default parameters or an utility function to properly merge defaults with the options.

[code]

[code]

This is better because it properly handles `undefined`, which is often used with the meaning of "default". That is, caller wishes that callee behave like no value has been passed (like if an

[2019-02-19 09:22] medusalix commented on #208
@futpib I really like your solution compared to object spreading. Maybe we should fix the failing code to use default parameters instead? @sindresorhus What do you think?

[2019-02-20 22:26] futpib opened #248 "Rule proposal: Consistent destructuring"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/248/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/248)

If a variable (or a property, but probably not a call or complex expression) is destructured somewhere, there is rarely good reason to use it's properties instead of the destructured variables.

[code]

A later

[2019-02-21 05:05] sindresorhus commented on #248
👍 Good idea.

[2019-02-21 16:12] MrHen commented on #248
A few more variants of this:

[code]

[code]

[2019-02-22 19:57] ViktorSoroka07 opened #249 "Webstorm cannot find plugin as a part of .eslintrc"
package.json
[code]
.eslintrc
[code]

And eventually get an error:

[code]

[2019-02-26 14:15] medusalix commented on #208
@sindresorhus What's your opinion on the proposed fix?

[2019-02-27 03:16] teppeis commented on #210
regexp-tree and safe-regex was updated. Now unicorn is not marked as vulnerable.
https://app.snyk.io/test/npm/eslint-plugin-unicorn

[2019-02-27 08:59] sindresorhus opened #250 "Make the `no-for-loop` rule handle more cases"
See: https://github.com/sindresorhus/eslint-plugin-unicorn/issues/49#issuecomment-457832099

[2019-02-27 13:51] MrHen commented on #210
Thank you @teppeis!

[2019-02-27 14:27] eaviles commented on #210
Thanks a lot @tappeis! Highly appreciated it.

[2019-02-28 01:56] MrHen opened #251 "Rule Proposal: Forbid naming variables beginning with "new""
Forbid variables being named with `new` because it looks like the `new` keyword. `newFoo` and `new Foo()` are fairly similar when scanning code quickly (especially without syntax highlighting) and `newFoo` is already a pretty terrible variable name.

Fail:

* `const newFoo = 'foo';`

Pass:

* `const fooNew = 'foo';`
* `const foo = new Foo();`

----

A similar argument could be made for `class` and

[2019-02-28 02:03] sindresorhus commented on #251
While I’ve never seen this naming used, it definitely makes sense to prevent it.

[2019-02-28 10:08] futpib commented on #251
I don't think it makes sence, I've literally just wrote this and I don't think it could be written better:

[code]

[2019-02-28 10:12] sindresorhus commented on #251
@futpib That's also a good point. I guess I'm neutral on this now.

[2019-02-28 14:37] MrHen commented on #251
I want to explicitly forbid that use case. `new` has special meaning in JavaScript and having it at the beginning of a variable makes it look just enough like `new Location` that my brain has to stop and think about it when quickly scanning code. I've stopped using it in my code and find it _much_ more comfortable.

As for an alternative, you can just move `new` to the end and it fixes the issue b

[2019-03-04 05:02] sindresorhus opened #252 "The `no-for-loop` rule doesn't preserve `let`"
[code]

Is auto-fixed into:

[code]

Which is a runtime error, since `i` is now `const`, but it cannot be because of `i++`.

---

// @futpib

[2019-03-04 05:07] sindresorhus commented on #252
Actually, I don't think it should be auto-fixed at all, since the `i++` doesn't affect the `i` as it's reset for each iteration,

[2019-03-05 08:55] fisker opened #254 "`prefer-spread` fixer bug"
`prefer-spread` fixer has a bug on no-semi code style

error code like this

[code]

will fix to code like

[code]

no semi added before `[` on second line, breaks code

[2019-03-05 08:59] fisker opened #255 "`catch-error-name` fixer bug"
`catch-error-name` fixer bug

error code like

[code]

will fix like this

[code]

the param `err` in catch function body is not replaced

 I noticed there is a bug #107 , but please make this rule not fixable for now please, this breaks code

[2019-03-05 09:17] sindresorhus commented on #254
This is exactly why you should use semicolons in JS...

[2019-03-05 09:24] fisker commented on #254
haha

but still a bug

[2019-03-05 10:33] SamVerschueren commented on #254
I don't think every rule should implement fallbacks in case the developer depends on ASI. I believe the rule works as intended and the semicolon should be inserted by either the `no-semicolon` (not sure if it exists though) rule which fixes this in case ASI fails or by something like prettier.

[2019-03-05 11:08] fisker commented on #254
I agree semicolon should insert by prettier, but source code already become

[code]

prettier can't insert a semi before the second line.

[2019-03-05 11:16] fisker commented on #254
Maybe there is also a way to check previous Node(not sure is this called in the AST), to decide should add a extra `;` before `[`, I'm looking into it

[2019-03-05 11:28] SamVerschueren commented on #254
As said before, I don't agree that it should be fixed here because (a) Relying on ASI is controversial imo and (b) ESLint rule authors shouldn't care.

So even if a solution was found, I'm not sure I would be happy to see it land.

[2019-03-05 12:34] fisker commented on #254
I just find offical eslint rule `curly` also do a needs semicolon check to avoid SyntaxError, though it's different case to this one.

https://github.com/eslint/eslint/blob/5018378131fd5190bbccca902c0cf4276ee1581a/lib/rules/curly.js#L156

[2019-03-05 15:00] marcospgp opened #256 "Suggestion: Prevent override of Node.js export"
Sometimes when creating Node.js modules I copy and paste functions in order to speed up the process.

However, sometimes I also forget to update the function name and end up with two functions being exported with the same name, with the latest one overriding the former (and correct) one, causing an obscure error related to the function parameters or how the function handles them.

It would be cool

[2019-03-05 15:16] sindresorhus commented on #256
Can you provide an example of incorrect and correct code?

[2019-03-06 12:42] marcospgp commented on #256
**Fail**

[code]

[code]

**Pass**

[code]

[2019-03-06 13:47] futpib commented on #256
You could rule this out by using [import/group-exports](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/group-exports.md) with [no-dupe-keys](https://eslint.org/docs/rules/no-dupe-keys)

[2019-03-06 16:52] sindresorhus commented on #256
It would be a better fit for `eslint-plugin-import` indeed. I'm also not interested in maintaining something that only targets CommonJS, as ESM is the future.

[2019-03-06 16:52] #256 closed

[2019-03-07 17:08] #252 closed

[2019-03-13 18:33] #169 closed

[2019-03-14 13:30] futpib opened #257 "Unify `catch-error-name` variable renaming strategy with `prevent-abbreviations`"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/257/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/257)

When generating a unique variable name `catch-error-name` uses number suffixes like `error2`, `error3` etc. It should instead add underscores like `error_`, `error__` etc. and use `avoidCapture` utility function

[2019-03-14 14:10] sindresorhus commented on #257
👍 Good idea.

[2019-03-16 10:17] sindresorhus commented on #129
I'm gonna pass on this. I don't want to maintain code that only targets `require` as it's no legacy that will be moot in the future. `import` is the future, for better or worse.

[2019-03-16 10:17] #129 closed

[2019-03-20 16:47] #255 closed

[2019-03-20 17:52] #8 closed

[2019-03-20 18:22] sindresorhus commented on #121
Reopening as this is not completely fixed.

[2019-03-20 18:22] sindresorhus commented on #121
Someone still needs to handle https://github.com/sindresorhus/eslint-plugin-unicorn/pull/172#issuecomment-383017266.

[2019-03-21 18:06] futpib commented on #238
Conditions based on the `engines` field from `package.json` may be handy.

[code]

Inspired by this comment https://github.com/sindresorhus/eslint-plugin-unicorn/pull/244#discussion_r267885475

[2019-03-23 07:58] sindresorhus commented on #238
@futpib Yes, that would be *very* useful for me. Add a lot of those comments so I will remember to improve the code in the future.

[2019-03-23 10:06] #207 closed

[2019-03-25 13:13] futpib opened #262 "Allow multiple cases in `filename-case`"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/262/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/262)

When adding xo to an existing project that has both `camelCase` and `PascalCase` filenames, I'd like to allow both variations to at least make sure no other cases (kebab or snake) are used.

[code]

[2019-03-25 14:10] sindresorhus commented on #262
👍 This would also enable React users to use this rule until https://github.com/sindresorhus/eslint-plugin-unicorn/issues/203 is properly implemented.

[2019-03-27 12:10] sindresorhus commented on #169
This rule is now available: https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prevent-abbreviations.md

[2019-03-27 21:05] SpainTrain opened #265 "`prevent-abbreviation` rule currently not working with `@typescript-eslint/parser`"
This is more for awareness/tracking since I believe it is a bug in `@typescript-eslint/parser@1.5.0` (see https://github.com/typescript-eslint/typescript-eslint/issues/381) and not in this plugin itself.

When run against a ts file with an `enum`, this function https://github.com/sindresorhus/eslint-plugin-unicorn/blob/79a8cd69669b94baec9f4864f08f6be0cac43805/rules/prevent-abbreviations.js#L436 th