[2019-03-27 23:28] dashmug commented on #265
I've just run into this as well.

[2019-03-28 01:58] fisker opened #266 "`prevent-abbreviations` fixer bug"
Code:

[code]

Actual:

[code]

Expected:

[code]

[2019-03-28 02:27] fisker opened #267 "Should the `prevent-abbreviations` rule work on filenames?"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/267/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/267)

maybe a `checkFilenames` option

[2019-03-28 04:36] sindresorhus commented on #266
The “Actual” looks correct to me. Can you explain why you think it’s wrong?

[2019-03-28 04:45] fisker commented on #266
`documents` should object destructuring equals to `unicorn.docs`, not `unicorn.documents`.  correct me, if  I'm wrong

[2019-03-28 05:24] sindresorhus commented on #266
Yes, you're right. I didn't think it through.

[2019-03-28 05:26] sindresorhus commented on #267
Yes, I think that would be useful.

[2019-03-28 05:27] sindresorhus commented on #265
This will be fixed there very soon: https://github.com/typescript-eslint/typescript-eslint/pull/383

[2019-03-28 11:40] ehmicky opened #269 "`prevent-abbreviations` should check all-uppercase variable names"
`a.js`:

[code]

[code]

`b.js`:

[code]

[code]

`b.js` does not report any error but it should.

# Configuration

`.eslintrc.json`:

[code]

# Environment

[code]

[2019-03-28 11:44] ehmicky opened #270 "`prevent-abbreviations` does not work with object destructuring"
`a.js`:

[code]

[code]

`b.js`:

[code]

[code]

`b.js` does not report any error but it should.

# Configuration

`.eslintrc.json`:

[code]

# Environment

[code]

[2019-03-28 12:08] futpib commented on #270
Have you tried [`checkShorthandProperties`](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prevent-abbreviations.md#checkshorthandproperties) option?

[2019-03-28 12:42] ehmicky commented on #270
@futpib Thanks! Now actually it turns out my problem is about object destructuring. I've updated my initial message.

[2019-03-28 12:46] #266 closed

[2019-03-28 14:34] fisker opened #271 "`prevent-abbreviations` default option is not good"
`prevent-abbreviations` is really good, I have tried to lint my old scripts.

after a few test, I notice that

`checkDefaultAndNamespaceImports` default value is `false`, but normally change the name of `default and namespace` import has no side effect, this should set to `true`, I think.

`checkProperties` default value is `true`, but normally when export or return a object, the prop name can't j

[2019-03-28 14:46] fisker commented on #270
I think this works as expected

[code]

means

[code]

the key `opts` can't change, this is not a bug

[2019-03-28 14:48] ehmicky commented on #270
The `opts` can't be change indeed, i.e. it cannot be automatically fixed. However this could still be reported as an error.

[2019-03-28 14:55] fisker commented on #270
have a look at #271 , I think It's the default options problem.

[2019-03-28 14:56] ehmicky commented on #270
@fisker I don't think those issues are related.

[2019-03-28 14:58] fisker commented on #271
This is what I'm using, feel better when linting, no need change api (including internal using props)

[code]

[2019-03-28 15:21] fisker commented on #270
I see what's your point now, you mean when destructuring a object, the abbr prop should report a error.

I can't agree with this, code doesn't know where your object come from

here is a example, ESLint rule expose a object

[code]
https://eslint.org/docs/developer-guide/working-with-rules

you can't force another program use `documents` instead of `docs`,

to get meta.docs.url we can do something

[2019-03-28 15:29] futpib commented on #271
Could you please split this into two separate issues (one for each default we've chosen)?

[2019-03-28 15:32] futpib commented on #271
Some reasons behind `checkDefaultAndNamespaceImports: true` are outlined in the discussion starting from here https://github.com/sindresorhus/eslint-plugin-unicorn/pull/237#issuecomment-470942156

Regarding `checkProperties`, we currently ignore names exported via `export` keyword. Maybe we should ignore `module.exports` too.

[2019-03-28 15:34] ehmicky commented on #270
For variables that cannot be modified (e.g. because they come from a library), users can either:
  - add a `eslint-disable` comment
  - use the rule whitelisting options. This rule has several such options to cover this.

The problem you're pointing out is not specific to this ESLint rule, but is a more generic ESLint problem. For example, this could be said of several core ESLint rules related to

[2019-03-28 16:18] fisker commented on #271
thanks for explaining `checkDefaultAndNamespaceImports`.

for `checkProperties`, I don't think `export` / `module.exports` is good enough, how do you know `return` is not a kind of "exporting", maybe just for another function to use, or handwriting `umd` or `iife` mod.

since those two options can easily overwrite, I'm going to keep my own choices.

[2019-03-31 21:18] SimonSiefke opened #272 "`no-for-loop` rule bug with `@typescript-eslint/parser`"
I'm runnning into an issue with the `no-for-loop` rule. Here is the code:
[code]

The ESLint config:
[code]
However, it is working fine without `@typescript-eslint/parser`.

And here is the stacktrace from VSCode:
[code]

[2019-03-31 21:42] SimonSiefke commented on #272
I have created https://github.com/typescript-eslint/typescript-eslint/issues/392

[2019-04-01 15:14] sobolevn commented on #271
I am facing this issue too. Since the new release linter checks options that I do not have control over. That's sad.

Failing build: https://travis-ci.org/wemake-services/wemake-vue-template/builds/513997750
Code: https://github.com/wemake-services/wemake-vue-template/blob/master/template/nuxt.config.ts#L93

This is a default `Nuxt` function which works with the default API:

[code]

[2019-04-01 18:37] atomless commented on #262
Until this is fixed, is there a way to just disable this plugin or set it to allow all filenames?

[2019-04-01 19:16] futpib commented on #262
@atomless Yes, [you can disable any rule in eslint](https://eslint.org/docs/user-guide/configuring#using-configuration-files) same for xo, except you put it in your package.json

[2019-04-02 05:21] brettz9 opened #273 "Apply `escape-case` to regex literal sequences"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/273/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/273)

Thanks for the excellent set of rules!

I'm wondering if you might allow `escape-case` to be applied to regex literal sequences as well as strings:

## Fail

[code]

## Pass

[code]

(Incidentally, while these e

[2019-04-02 05:38] sindresorhus commented on #273
Yeah, I think this would be useful. We could use https://github.com/mysticatea/regexpp to parse the regex.

@futpib Thoughts?

---

Good catch. We should not. That seems like a bug.

Reference: https://mathiasbynens.be/notes/javascript-escapes

[2019-04-02 09:31] atomless commented on #262
Thank you!

[2019-04-03 09:04] aladdin-add opened #274 "'use strict' is unnecessary inside of modules"
I was trying to use the plugin in a Node.js lib (not using esm), but got something like:

`6:1  error  'use strict' is unnecessary inside of modules `

[2019-04-03 09:31] copycut opened #275 "Object.assign convert in spread with wrong order"
* ESLint Version: 5.16
* Node Version: 10.15.3
* npm Version: 6.9.0
* Babel-eslint: 10.0.1

When --fix is used on project, the result of converting Object.assign don't return the expected value.

## Previously

[code]

## After convertion (--fix applied)

[code]

## Expected result

[code]

[2019-04-03 10:33] futpib commented on #275
Which rule reports `Object.assing` for you? I don't think we have a rule that does that.

[2019-04-03 10:34] futpib commented on #274
Can you post the code so that we can reproduce this?

[2019-04-03 11:57] aladdin-add commented on #274
oops, I would have posted the code! it was:
[code]

[2019-04-03 12:13] aladdin-add commented on #274
seems it was caused by:
https://github.com/sindresorhus/eslint-plugin-unicorn/blob/0765c1f862265024b4d69df0f8160538eb114339/index.js#L14

[2019-04-03 14:41] copycut commented on #275
My bad it's in Eslint rules ^__^'
https://github.com/eslint/eslint/blob/master/lib/rules/prefer-object-spread.js

[2019-04-03 14:41] #275 closed

[2019-04-03 18:03] acdha opened #276 "Performance advice on “prefer-query-selector” rule"
https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prefer-query-selector.md has this claim:

I was curious about whether that was true and did some benchmarks, and it appears that `getElementById()` and `getElementsByClassName()` are considerably faster:

https://jsperf.com/getelementbyid-vs-queryselector/304#results

#171 didn't appear to have any benchmarks supporting t

[2019-04-03 18:50] acdha opened #277 "prevent-abbreviations: whitelisting usage only as a property?"
I'm using https://redom.js.org/ which has a component model which depends on objects having a property named `el`. I can add that to my whitelist or disable the rule but what I'd really like is a way to allow `el` as an object property but not a variable.

[2019-04-08 10:30] voxpelli opened #278 "Auto-fix for prefer-includes removes too many/wrong parenthesis"
Input:

[code]
[code]

Expected output:

[code]
[code]

Output from auto-fixer:

[code]
[code]

[2019-04-08 10:56] sindresorhus commented on #278
// @PrBart

[2019-04-08 11:06] PrBart commented on #278
i will try to fix it soon.

[2019-04-09 16:51] futpib commented on #142
Let's report `.apply` with 2 argument where 1st argument is either `null` or `this`.

I found one myself: [`async.apply`](https://caolan.github.io/async/docs.html#apply).

I originally leaned towards reporting any `.apply` call with 2 arguments. But considering the `async.apply` example and that this rule's report is more of a suggestion to upgrade rather than an indication of a possible error, I

[2019-04-09 17:03] #272 closed

[2019-04-09 20:15] zeorin commented on #50
Hmm, I'm late to the party here, but a different approach to using parens is to only allow nested ternaries in the alternate sub-expression, effectively creating a daisy chain.

My change to ESLint, too, was rejected: https://github.com/eslint/eslint/pull/10452

[2019-04-11 09:32] futpib commented on #204
Did you mean `array.map(…).flat()`?

[2019-04-11 11:02] sindresorhus commented on #204
Yes

[2019-04-11 11:25] golopot commented on #154
Should this rule ignore functions using `this`?

[2019-04-11 12:01] bfred-it commented on #154
I think this rule would be a copy of the existing `function-style`, except localized to exports, so `this` logic is in there.

[2019-04-11 19:08] futpib commented on #238
I wonder if dates should be treated as UTC rather then local to prevent a possibility of an error reported in CI but not locally (or similarly for collaborators in different timezones). Or maybe we should require timezone explicitly in the date format.

[2019-04-12 07:29] sindresorhus commented on #238
Yes, I think we should treat them as UTC.

[2019-04-17 19:06] Hongarc opened #283 "Use lodash instead of method of lodash"
I see you use `lodash.camelcase` to `lodash.upperfirst`.

My recommendation is just use `lodash` in `package.json` and call: `require('lodash/camelcase')` to call `camelcase` and others method.

It will keep that method doesn't out update (just need update `lodash`).

[2019-04-17 22:35] MrHen commented on #204
I'm guessing it isn't possible to detect if something is actually an array? Would this rule just look for `.map` and `.flat` calls on the same identifier?

[2019-04-18 01:55] sindresorhus commented on #204
Yup

[2019-04-19 08:08] sindresorhus commented on #283
We can do it after the next major Lodash version, but right now the Lodash package is too large. https://packagephobia.now.sh/result?p=lodash

[2019-04-19 08:08] #283 closed

[2019-04-19 09:48] amankkg opened #285 "Respect `browserslist` settings?"
Hi!
How to handle situations if some feature is not supported (e.g. `Array|String's include` method in case of `prefer-includes` rule)?
What would you suggest?
Who's responsibility should it be? This plugin or users?
Probably, it worths mentioning in README.
Thanks!

[2019-04-19 10:14] sindresorhus commented on #285
I'm not interested in baking in support for `browserlist` here. However, you can easily add it in your own [shareable ESLint config](https://eslint.org/docs/developer-guide/shareable-configs). It's just a JS file after all.

[2019-04-19 10:14] #285 closed

[2019-04-19 11:24] golopot opened #286 "`no-for-loop` false negative"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/286/badge.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/286)

[code]

**Expected**:
It reports.
**Actual**:
It does not report.

This is a subtask of https://github.com/sindresorhus/eslint-plugin-unicorn/issues/250 .

[2019-04-19 11:28] futpib commented on #286
Isn't this report exactly inline with the purpose of the rule? (Do not use a `for` loop that can be replaced with a `for-of` loop) https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/no-for-loop.md

[2019-04-19 21:22] futpib commented on #286
Oh, I see, the issue is that the rule does _not_ reported this when it could. Sorry, I misread it the first time.

[2019-04-23 10:52] golopot commented on #154
There is a third case `export const foo = function foo() {}`, is it ok to always disallow it?

[2019-04-23 13:18] bfred-it commented on #154
These two are equivalents
[code]

Both have `foo.name === 'foo'`

[2019-04-26 08:49] gajus commented on #169
@sindresorhus

It is a problem with ES6 classes, though.

[code]

is raising a "unicorn/prevent-abbreviations" warning.

[2019-04-26 13:10] amankkg opened #289 "Is there a way to turn all rules level to warn/error?"
E.g. as [`react-hooks` plugin](https://github.com/facebook/react/blob/dab2fdbbbd6eb560523fe2146c153f6a24e2f8dc/packages/eslint-plugin-react-hooks/src/index.js#L14) allows to do
[code]

[2019-04-26 13:16] golopot commented on #289
This plugin could add a config that includes all rules so that people can do `extends: ["plugin:unicorn/all"]`.

[2019-04-26 15:44] zeorin commented on #289
You can configure ESlint to treat warning as errors wrt e.g. it's exit code, or configure webpack not to stop the build on errors.

Of course, that's all-or-nothing. If you need anmore fine-grained approach you could use the `groupRules` function from [my PR on `eslint-rule-composer`](https://github.com/not-an-aardvark/eslint-rule-composer/pull/6), and make your own "new" rulenthat you can easily

[2019-04-26 16:14] zeorin commented on #289
If you're not creating a shareable config, that may be overkill, actually. You could use a .js ESLint config file and set all the rules you want to group to the same variable, and change that to your desired error level. But it won't allow for inline directive comments to change them. That's what my PR is for.

[2019-04-29 07:18] sindresorhus commented on #169
[code]

[2019-05-01 10:50] #274 closed

[2019-05-01 10:59] #265 closed

[2019-05-01 16:16] sindresorhus commented on #269
It was an intentional choice to ignore those:
- https://github.com/sindresorhus/eslint-plugin-unicorn/pull/237#issuecomment-470938908
- https://github.com/sindresorhus/eslint-plugin-unicorn/pull/237/commits/75035550e37c169671eaef876e1162676addb27b

[2019-05-01 16:20] sindresorhus commented on #270
I would recommend reading through the discussions in https://github.com/sindresorhus/eslint-plugin-unicorn/pull/237. There were a lot of considerations to take into account. We tried to find a balance of being helpful but not annoying.

I generally don't mind making the rule stricter than now, but it should be opt-in through options.

Someone needs to make a proposal on exactly what additional opt

[2019-05-01 16:23] ehmicky commented on #269
Reading up the comment, it seems that the reason was to prevent reporting environment variables, since they are almost always uppercase, and user might not decide on them considering they come from the calling process.

This makes sense.

However, it's too bad because some users (like me) like to name constants with uppercase letters. Those variables cannot be linted. Is there a way this could be

[2019-05-01 16:27] ehmicky commented on #270
Yes I see, it's quite complicated. I can close this issue if you think this is better.

[2019-05-01 16:31] sindresorhus commented on #276
The linked JSPerf micro-benchmark doesn't support your claim either though. It only proves that running `getElementById()` a million times for the same selector is faster. This means nothing for real-world use-cases and the benchmark is faulty as it doesn't account for selector caching. A correct micro-benchmark would use different selectors. But even then it would not represent real-world perform

[2019-05-01 16:32] sindresorhus commented on #270
I don't really have time to make a proposal, but we can keep it open in case anyone wants to make a change proposal.

[2019-05-01 16:52] acdha commented on #276
Benchmarks are indeed challenging to make sure you’re measuring what your app needs but if there’s going to be a rule mentioning performance it should be based on real data. It might better to leave that out and assume that people who hit a bottleneck will disable it on key points.

[2019-05-02 03:33] sindresorhus commented on #276
I was basing my comment on comments I've seen from people working on Blink (Chrome). I'll try to find my source for that and if I can't, I'll remove it.

[2019-05-02 08:39] golopot commented on #262
The option can be either like `{"camelCase": true, "pascalCase": true}`, or like `["camelCase", "pascalCase"]`. The first looks more extensible when there is a need to support non-boolean values. The second is shorter to write, and the order can be interpreted as priority of preference. Personally I liked the second one more.

[2019-05-02 11:38] henri5 opened #292 "Make 'import-index' handle more cases"
### Case 1

[code]
should be changed to
[code]
### Case 2
[code]
should should be changed to
[code]

[2019-05-02 11:39] sindresorhus commented on #292
Sure, although I have never seen that in the wild.

[2019-05-02 13:38] acdha commented on #276
Thanks — not trying to be difficult here but I just figure “it's better to be consistent” seems like a strong enough argument on its own (anyone who cares will need to be profiling heavily anyway).

[2019-05-05 02:45] tinovyatkin commented on #130
Node 12 supports class properties out of the box now.

[2019-05-06 19:55] guillaumeklaus commented on #238
Would love to work on this rule proposal if it is not already assigned! :)

[2019-05-07 10:07] golopot commented on #286
Autofix is very desirable, but it is hard to name the variable for `arr[i]`.

[2019-05-08 11:49] chiawendt opened #295 "A case not handled by `no-for-loop`"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/295)

[code]
`no-for-loop` should report on this but it does not.

This slightly unusual pattern is used all over the place in `eslint-plugin-react`.

This issue is a subtask of #250.

<details>
<summary>
<b>IssueHunt Summary</b

[2019-05-21 10:02] EROPLM commented on #166
@sindresorhus Where is the file writing this code?

[2019-05-22 16:10] #278 closed

[2019-05-22 16:22] #204 closed

[2019-05-24 09:23] buschtoens opened #298 "Add `recommended-browser` & `recommended-node` configs"
I would like to split up the `recommended` config into `recommended-browser` and `recommended-node`. `recommended` would then just be a merge of both.

Happy to submit a PR, if appreciated. 😊

[2019-05-24 09:26] buschtoens commented on #298
We might also want a third config, that has no environment specific rules enabled.

[2019-05-24 09:56] sindresorhus commented on #298
Why? In Node.js, the browser rules do nothing, and same the other way around.

[2019-05-24 10:07] buschtoens commented on #298
For instance, `prefer-node-append` and `prefer-node-remove` were giving me false positives in backend code. In general, it just gives me a more comfortable feeling, knowing that I am only running rules which are applicable to my environment.

I also don't see any downsides to splitting the config, since the external API stays backwards compatible.

Wouldn't have any hard feelings, if you disagree

[2019-05-24 10:16] sindresorhus commented on #298
Sounds good. I was just curious about the use-case. PR welcome.

[2019-05-24 10:23] futpib commented on #298
You can use DOM API in backend code. Maybe we better add an exception to these rules? What kind of code leads to false positives?

[2019-05-24 11:27] buschtoens commented on #298
Unfortunately I can't exactly recall the code that caused it. I also think that adding an exception is pretty much impossible, since ESLint is not type-aware. :/

For the few cases where you actually want to use the DOM API in backend code, I personally would rather opt-in to these rules by adding the specific config for these directories.

[2019-05-24 11:48] sindresorhus commented on #298
I agree, if you want DOM in Node.js, you just `recommended`.

[2019-05-24 12:39] futpib commented on #298
Another option is to make the rules check [`context.parserOptions.env.browser`](https://eslint.org/docs/user-guide/configuring#specifying-environments) :thinking: . This way people won't have to specify that they target browsers twice.

[2019-05-24 14:43] buschtoens commented on #298
Assuming you would want to use DOM API in Node, would you set the env to `node` and `browser`? I never really had the need to mix both contexts, so I am not sure what would be more ergonomic.

[2019-05-25 08:13] kkmuffme opened #299 "Require "secure" cookies"
**Please describe what the rule should do:**

When setting cookies with js, we should require the "secure" parameter. In 2019, with free SSL with letsencrypt, there really is no reason anymore to not be on SSL/https and eslint should require the secure parameter to improve security.

This is (I believe) also easily auto-fixable by eslint.

**What category of rule is this? (place an "X" next to jus

[2019-05-25 08:26] kkmuffme opened #300 "Multiple allowed error names in catch-error-name"
Is it possible (how?) to allow multiple names for errors?

e.g. I would like to allow "error" and "err"?

https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/catch-error-name.md

[2019-05-25 10:26] sindresorhus commented on #300
No, and it's not something I want to support. I don't want to encourage inconsistent code like that. I would recommend just disabling this rule.

[2019-05-25 10:26] #300 closed

[2019-05-25 11:11] futpib commented on #299
I'd rather ban `document.cookie` and recommend [cookie](https://www.npmjs.com/package/cookie) or something like that instead. Formatting or parsing this string on your own is error prone (easy to forget escaping).

[2019-05-25 11:18] sindresorhus commented on #299
@futpib That's a very good point.

Also relevant: https://github.com/WICG/cookie-store

[2019-05-26 07:28] sindresorhus commented on #289
react-hooks/rules-of-hooks: 'error'

This works because those plugins only have one rule.

I think you should rather open an issue on ESLint requesting better ability to control the level for multiple rules.

[2019-05-26 07:28] #289 closed

[2019-05-26 08:06] kkmuffme commented on #299
@futpib we would just add "secure" to it, not sure how you would get an injection like that?

Anyway, my use case is to use it on a wide variety of browser js, not necessarily in node.js

[2019-05-26 08:16] sindresorhus commented on #299
His point is that `document.cookie` is inherently insecure itself. It's not adding `secure` that risks the injection, but rather anything else you would do with `document.cookie`.

There's nothing Node.js-specific about the `cookie` package. It works in the browser too. There are also many other cookie packages on npm.

[2019-05-27 07:49] kkmuffme commented on #299
Except that it requires npm/node :-) I am mostly developing/fixing WordPress (legacy) code, so in most cases cannot use cookie npm or change the use of document.cookie, as my code runs on 1000s of sites with completely different configurations and often is years old :-(

I know "secure" won't improve it much, but better than nothing.

[2019-05-27 14:09] #292 closed

[2019-05-28 15:18] #262 closed

[2019-05-29 11:52] unlight opened #301 "filename-case cannot set multiple cases"
Documentation
[sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/filename-case.md
](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/filename-case.md)
[code]
Does not work.
[code]

[2019-05-29 12:07] sindresorhus commented on #301
It's not released yet. Look here for the readme of the current version; https://github.com/sindresorhus/eslint-plugin-unicorn/tree/v8.0.2

[2019-05-29 12:07] #301 closed

[2019-05-30 09:27] sindresorhus commented on #238
@lubien Any thoughts on https://github.com/sindresorhus/eslint-plugin-unicorn/issues/238#issuecomment-475342268 ?

[2019-05-30 09:34] lubien commented on #238
So far I enjoyed implementing this rule (never had experience with making my own eslint rule before) so it was a nice opportunity specially since it was by far the most out of the box eslint rule I've heard about and sure picked my interest at first sight.

Some points that still puzzle me at some points are:

1. Wouldn't checking for CI during PRS be bad since once the branch is merged the master

[2019-05-30 10:07] sindresorhus commented on #238
1. Isn't it better that `master` breaks than the PR submitter having to deal with it?
2. Sure:
- https://github.com/sindresorhus/np/blob/53d20d993d59764372467a9c8a3e77f0c3deb4d2/source/new-github-release-url.js#L1
- https://github.com/xojs/xo/blob/b73b11ba6ac0d0742834767cdcb9fd209c41ba7d/config/plugins.js#L45
- https://github.com/sindresorhus/conf/blob/573cbc8f2ea6a8ff527c70ba83a2ed068ae6bd90/inde

[2019-05-30 10:09] lubien commented on #238
Oh. I'll add to my TODO list. No pun intended.

[2019-05-30 10:12] #286 closed

[2019-05-30 12:57] lubien commented on #238
Yup, pretty much finished it.

[2019-05-30 21:39] thomaLV opened #304 "Bug: prefer-exponentiation-operator disregards order of operations"
Currently Math.pow(x, y - z) is converted to x ** y - z which is obviously not equal.

[2019-05-30 21:48] MrHen commented on #304
Eep. I _might_ be able to fix that tonight. If not, I can try to get to it this weekend.

[2019-05-31 04:03] MrHen commented on #230
I have a prototype for this working; hope to have a PR out in the next couple days.

[2019-05-31 04:26] #118 closed

[2019-05-31 04:36] #257 closed

[2019-05-31 04:40] #304 closed

[2019-05-31 05:03] sindresorhus commented on #177
I'm going to assume this was a temporary issue with ESLint or something else since no one else has experienced it. Please open a new issue if this is still a problem.

[2019-05-31 05:03] #177 closed

[2019-05-31 05:07] sindresorhus commented on #295
@golopot This was not handled by https://github.com/sindresorhus/eslint-plugin-unicorn/pull/297, right?

[2019-05-31 05:17] golopot commented on #295
It is not.

[2019-05-31 05:39] #276 closed

[2019-05-31 12:06] MrHen commented on #29
It would be nice if this rule had an "always" or "never" configuration option.

[2019-05-31 12:59] sindresorhus commented on #29
@MrHen Why would you want `never`? I'm genuinely curious.

[2019-05-31 13:09] MrHen commented on #29
I've stopped using default parameters entirely because of `null` causing issues with destructuring.

[code]

----

[code]

It's also super confusing using defaults with destructuring because there are different ways to do it with subtle differences:

[code]

I guess what I _really_ care about is not using destructuring in function parameter defaults. Maybe that should just be a different rule.

[2019-05-31 13:12] sindresorhus commented on #29
There's a solution to that: [I have completely stopped using `null`.](https://github.com/sindresorhus/meta/issues/7)

I would argue the only correct way to do it is this variant `function foo2({ bar } = { bar: 123 }) {`.

Or maybe enforce only using `function foo2({ bar } = { bar: 123 }) {`?

[2019-05-31 13:44] MrHen commented on #29
Sure, but from a defensive programming standpoint, I'd still rather not blow up on `null`.

If the intent is to provide a default value for `bar`, then it would be better to use `{ bar = 123 } = {}`. Think of a standard options block:

[code]

I guess for the scope of this issue / rule, which of these statements are true / approved?

- [x] Disallow `function (foo) { foo = foo || 'bar'; }`
- [ ] Di

[2019-05-31 14:09] sindresorhus commented on #29
Ugh, I copied the wrong code... I meant to copy `function foo3({ bar = 123 } = {}) {`. That is what I think is the correct solution.

[2019-05-31 14:19] MrHen commented on #29
I just realized that https://github.com/sindresorhus/eslint-plugin-unicorn/issues/208 is also open and has a similar discussion.

[2019-06-01 09:26] coreyfarrell opened #307 "import-index: Option to ignore import/export statements"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/307)

unicorn/import-index needs an option to be able to ignore ES import/export statements.  node.js native ES module implemetation will not support `import something from './foldername'`, it will instead require that we direct

[2019-06-02 13:48] tinovyatkin opened #311 "A case for `prefer-flat-map`"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/311)

I think it will be way greater rule if it will be able to identify legacy (before `.flat` got supported) code and suggest to refactor to `flatMap`. I believe one of the most common scenario was use of `[].concat` with arra

[2019-06-02 14:36] sindresorhus commented on #311
Good idea!

[2019-06-02 23:43] MrHen commented on #295
I took a quick look at this and think this should be a separate rule that auto-fixes this shape into a normal for loop. `no-for-loop` can then convert the normal for loop since it already handles that.

Original:

[code]

Fixed:

[code]

----

Original:

[code]

Fixed:

[code]

[2019-06-03 21:15] MrHen opened #314 "Rule proposal: `prefer-class-fields`"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2430%20Funded-%2300A156.svg" />](https://oss.issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/314)

There is a superior pattern for class field declarations that can declutter constructors (often making them totally unnecessary.) The feature is still considered experimental but it works out of the box with babel.

Fa

[2019-06-04 11:18] fisker opened #315 "`prefer-flat-map` fixer bug"
`Array#flat` accepts argument `depth`, but flatMap not.

The fixer is not considering this `depth`, codes like

[code]

should not be reported.

[2019-06-04 11:20] fisker commented on #315
@MrHen

[2019-06-04 11:28] fisker commented on #311
should we consider `Array#@@isConcatSpreadable`?

[2019-06-04 11:38] sindresorhus commented on #311
@fisker Consider it how? Can you elaborate?

[2019-06-04 11:49] borekb opened #316 "prefer-flat-map: "Fix objects must not be overlapped in a report.""
My config:

[code]

It runs fine on one sub-project in our repo:

[code]

But fails on another subfolder:

[code]

I could try to narrow it down but there's quite a bit of files in `project-2` so maybe someone already knows what this could be?

A few observations:

- Only `prefer-flat-map` causes this; I tried running all the other rules on our entire codebase and all was fine.
- It might be relat

[2019-06-04 11:59] MrHen commented on #316
I know what the error means but not what causes it. Can you post a couple examples of where you use shapes similar to `.map().flat()`?

[2019-06-04 12:08] borekb commented on #316
There's actually a single instance of `.flat()` in our codebase, and it's called on an array returned from Apollo Client:

[code]

Cmd+click on `flat` brings me to `node_modules/apollo-env/src/polyfills/array.ts` that looks like this:

[code]

I'm not too familiar with this piece of code so hopefully, it provides at least some hints.

[2019-06-04 12:12] MrHen commented on #316
Thanks for the example! I'll dig into what could be causing it and let you know what I find.

[2019-06-04 12:15] borekb commented on #316
No problem, thanks so much for looking into it so swiftly!

Just as a note, when I updated the code to use `.flatMap`, the issue went away.

[2019-06-04 12:44] fisker commented on #311
@sindresorhus

check this https://jsbin.com/farogop/edit?js,console

thought this maybe not very common case,
I'm just saying, It's possible not the same as flatMap,  and we can't guarantee new Objects not ConcatSpreadable never come in future

[2019-06-04 13:34] MrHen commented on #311
@fisker I'm comfortable using `// eslint-disable-next-line prefer-flat-map` to handle cases like that.

[2019-06-04 16:53] sindresorhus commented on #311
That's too much of an obscure use-case to handle.

[2019-06-04 23:33] MrHen commented on #316
I was able to reproduce this bug. It is TypeScript specific. When I add your example scenario in a JavaScript context, the lint rule worked as expected. When I set everything up using TypeScript, I saw the "Fix objects must not be overlapped in a report." output.

[2019-06-05 01:23] fisker commented on #311
Imaging this `fn` is from a third-party library, which is `isConcatSpreadable` false

[code]

It works as expected, when you wrote and tested, you may not think about adding `// eslint-disable-next-line prefer-flat-map`.
When you format your code and publish, It breaks. You have to debug your program to locate the problem.

If a linter can't be safe, what's the point of using it.

I insist not to

[2019-06-05 02:06] fisker opened #319 "`prefer-node-append` fixer bug"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2430%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/319)

[code]

[code]

This can't be fixed, `ParentNode.append()` has no return value

https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/append

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Sponsors

[2019-06-05 02:23] sindresorhus commented on #311
@fisker This seems very unlikely, but sure, we can omit fixing this case.

Then you should probably not use JavaScript. Most lint rules are not 100% safe. That is just impossible for such a loose language as JS.

[2019-06-05 02:30] #316 closed

[2019-06-07 13:12] medusalix commented on #248
I'm working on it 😀.

[2019-06-08 06:09] zeorin commented on #238
The built-in [no-warning-comments](https://eslint.org/docs/rules/no-warning-comments) rule defaults to `['todo', 'fixme', 'xxx']`.

[2019-06-08 06:30] lubien commented on #238
@zeorin got your back:

https://github.com/sindresorhus/eslint-plugin-unicorn/pull/302/files#diff-0765ede6250731541d69a380accdc19cR20

[2019-06-10 13:59] #315 closed

[2019-06-10 14:12] #190 closed

[2019-06-10 14:16] #273 closed

[2019-06-10 14:35] sindresorhus commented on #295
@MrHen Good point. Are we sure we can depend on the fixer output of other rules (the order of fixes)? I don't fully remember how fixers work.

How about a rule named `simplify-for-loop`?

[2019-06-10 14:41] sindresorhus commented on #314
Sounds good, but I think we should wait until ESLint supports class fields.

---

Should it also handle:

[code]

to

[code]

?

[2019-06-10 16:11] MrHen commented on #295
@sindresorhus `auto-fix` will repeatedly attempt to validate after fixes. I'm not sure what happens if two things want to fix the same code but I don't think it would matter here because the fixers are not going to immediately overlap.

The main reason I'd want this check in a different rule is because it would make the rule logic and test cases easier to understand and maintain. The end result sh

[2019-06-10 16:19] MrHen commented on #314
I think a rule for private fields would be awesome, yeah. I don't think we can realistically fix those, however, because people abuse `_foo` access too regularly and it would very quickly break code.

[2019-06-10 16:56] sindresorhus commented on #314
So you think private fields should be a separate rule?

---

👍

[2019-06-10 17:22] MrHen commented on #314
Yeah. As a general principle, I prefer rules to be have the smallest reasonable scope.

In this case, I can also see why a team might want to convert to class fields because of the fixer but not want to enable the private fields rule right away because they'd have to move a bunch of code around.

[2019-06-10 23:31] MrHen commented on #29
Alright, between the two tickets covering this area, here is my recommendation:

## `no-default-parameter` should

- Allow `function (foo) { foo = foo || 'bar'; }`
- Allow `function (foo) { const bar = foo || 'bar'; }`
- Allow `function (foo) { const { bar } = (foo || {}); }`
- Disallow `function (foo = { bar: 123 }) { }`
with fix to `function (foo: { bar = 123 } = {}) { }`
- Disallow `function ({

[2019-06-12 17:17] #319 closed

[2019-06-17 18:18] JLHwung commented on #29
The `prefer-default-parameters` fix would be tricky in some cases since the default parameter is evaluated in the implicit intermediate scope. Consider the following example
[code]

The fixed code would change the semantics and print "outside" when evaluating `f()` since `() => a` is evaluated in parameter scope.

I suggest we limit the fixer capacity that we only fix those with `literal` as initi

[2019-06-19 16:14] thomaLV commented on #304
After running `npm update` and `npm -g update`, I'm seeing no change in behavior. Has the fix been made public? Running eslint-plugin-unicorn version is 9.1.0

[2019-06-19 16:17] MrHen commented on #304
Fix should have come with https://github.com/sindresorhus/eslint-plugin-unicorn/releases/tag/v9.0.0

Is the scenario the same that you posted before? `Math.pow(x, y - z)` is being converted to `x ** y - z`? A [similar scenario](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/test/prefer-exponentiation-operator.js#L53) was added to the tests but maybe there is something special ab

[2019-06-19 16:23] thomaLV commented on #304
Fixing ` Math.pow(1000 + 2, 1 - 3)` results in `1000 + 2 ** 1 - 3` for me. Could there be a problem with my setup?

[2019-06-19 18:03] MrHen commented on #304
@thomaLV Can you do an `npm ls eslint-plugin-unicorn` and post the results? You should see something similar to:

[code]

[2019-06-20 14:36] MrHen commented on #319
@sindresorhus I just noticed that this bounty was not awarded. Is there some followup I should do or did it just fall through the cracks?

[2019-06-20 15:02] sindresorhus commented on #319
Sorry, I sometimes (rarely) forget. If so, just let me know ;)

[2019-06-20 15:05] MrHen opened #324 "Rule proposal: `import-path-order`"
I can't get what I want out of either ESLint's [sort-imports](https://eslint.org/docs/rules/sort-imports) _or_ [import/order](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/order.md) and it looks like both rules are stuck in a world of too many configuration options and debate. What I want feels simple, though:

* Sort all import lines by path
* Relative paths (`../foo`)

[2019-06-20 18:56] sindresorhus commented on #324
What are you trying to achieve that you cannot get out of those rules with the right config?

Personally, I don't find the `sort-import` rule useful, but I'm using `import/order` without any problems, using the default settings.

---

If we were to make this rule, it should at minimum also support Node.js built-ins first.

[2019-06-20 19:58] MrHen commented on #324
`sort-imports` does not sort by the _path_. It sorts by the name of the imported object. Nothing about that is what I want.

`import/order` only handles `./` and `../`; it does not distinguish between `../` and `../../`. This means that it doesn't handle complicated hierarchies very well.

The code base I am currently working with ends up with a lot of cross-referencing two or three layers deep. I

[2019-06-21 03:42] zeorin commented on #324
Have you raised this idea with eslint-plugin-import? If it already does almost what you want, it sounds like that's the place to try first.

[2019-06-21 04:39] MrHen commented on #324
@zeorin No, I haven't. They already have [22 open issues](https://github.com/benmosher/eslint-plugin-import/issues?q=is%3Aopen+is%3Aissue+label%3A%22import%2Fexport+ordering%22) about this rule and those are just the issues that have been tagged properly.

But yeah, you are probably right; I should probably just start there.

[2019-06-21 09:07] sindresorhus commented on #324
That sounds like just a simple oversight though. Is there any issue about it on `import/order`? If not, I think you should open one regardless of the outcome of this issue.

---

While I agree with your use-case and that's how I like to sort my paths too (except for the newlines between groups), I have a feeling that this might be a slippery slope into an endless amount of issues opened about maki

[2019-06-21 12:14] MrHen commented on #324
Alright, I've opened https://github.com/benmosher/eslint-plugin-import/issues/1388.

Agreed. I'm very comfortable deliberately keeping the scope of this rule extremely focused. I don't want it to turn into a swiss army knife rule -- it should just do one thing and do it well. If people want something else from their import ordering we can point them to the more complicated rules.

[2019-06-21 13:33] sindresorhus commented on #324
Alright. Let's do this then. I think we only need one option, and that's whether to put a newline between groups. I think it should be off by default.

---

We should clearly document that fact in the rule documentation.

[2019-06-21 14:55] MrHen commented on #324
I am completely comfortable just warning that things are out of order. If we auto-fix, the auto-fix can strip out newlines but I don't see a point in warning just because there is a gap between a valid sorting of imports. If people want to enforce particular gaps they can use `import/order` -- there shouldn't be anything colliding between this rule and that one.

Alternatively, if you in particula

[2019-06-21 15:01] sindresorhus commented on #324
The reason I want to enforce no newline is that people keep putting it there and I have to manually remove it.

---

👍

[2019-06-21 16:58] twk-b commented on #107
works in eslint-plugin-unicorn@8 but not in @9.0 or @9.1

config: unicorn/catch-error-name: ['error', {'name': 'err'}]
code:

`exports.get = function (req, res) {
    myfunc(function (err, values) {
        if (err) {
           console.log(err);
           return;
        } else {
                var temp;
                try {
                    temp = JSON.parse(values.value);

[2019-06-21 18:16] thomaLV commented on #304
Did as you asked and unicorn showed up empty. I moved my node_modules folder and some other stuff, and now everything works as expected. Thank you!

[2019-06-22 12:39] golopot opened #326 "Add eslint 6 to CI"
Do we test both eslint@5 and eslint@6 in CI like https://travis-ci.org/yannickcr/eslint-plugin-react/builds/548497708. Or do we drop eslint@5 support?

[2019-06-22 15:15] fregante opened #327 "Rule proposal: `string-content`"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2480%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/327)

### Good 👍

[code]

### Not good 👎

[code]

Prior art: https://github.com/jmont/eslint-plugin-smart-quotes

I tried that one but it doesn't have a fixer and it has many false positives. Also strings could be CSS selectors

[2019-06-22 15:48] sindresorhus commented on #326
We drop eslint@5.

[2019-06-22 16:28] MrHen commented on #327
I'm not sure how a lint rule would detect when it is appropriate to use one over the other. If you have a string such as `Sally said, "Bob said, 'I am hungry'."` you cannot flag both single quotes for conversion. The strings themselves could be split up across multiple literals so you couldn't check the content of any particular literal to know which is appropriate.

There are similar potential ru

[2019-06-22 16:31] bfred-it commented on #327
My fear is that it might cause some false positive, that’s why it should probably be limited to single apostrophes as exclusively to avoid to escape them, rather than as a generic “typography” rule.

The replacer would be great too, as a generic rule

[2019-06-22 17:03] bfred-it commented on #327
To test the applicability of this rule in your projects, try running that plugin and looking for situations where `\'` needs to stay like that.

[code]

The plugin will show a lot of errors but just look for single apostrophes

[2019-06-23 03:39] lagden opened #328 "no-process-exit in worker_threads"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2430%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/328)

Is there a solution for these cases?

![image](https://user-images.githubusercontent.com/130963/59971265-f90edf80-954e-11e9-8df6-7eab832ab4c7.png)

[code]

My worker is waiting for an exit event.

[code]

---

<details>
<s

[2019-06-23 07:01] sindresorhus commented on #328
I guess we just need to support the `worker` name there in addition to `process`.

[2019-06-23 07:07] sindresorhus commented on #327
I like the idea of a generic `string-content` rule. Let's go with that.

I think `match` could be even more flexible by accepting: `string | RegExp | Array<string | RegExp>` (?)

[2019-06-23 07:09] sindresorhus commented on #327
I would use the rule for important things:

[code]

[2019-06-24 07:24] #251 closed

[2019-06-24 07:25] #40 closed

[2019-06-24 07:26] #311 closed

[2019-06-27 07:34] golopot commented on #230
Alternative names:
* function-scoping
* function-lifting
* function-hoisting

[2019-06-27 15:52] mattfwood opened #330 "`prevent-abbreviations` should not try to fix variable names when they're being destructured"
First off, I think this is a great library with a lot of excellent rules and really appreciate all the work on it.

I was working on implementing some of the rules for my team and I ran an autofix and saw this change in my git diff:

![image](https://user-images.githubusercontent.com/22530815/60280641-f272c600-98c8-11e9-90ef-0c344f5f41bc.png)

In this case, it would definitely introduce a bug sinc

[2019-06-27 16:20] MrHen commented on #330
The fix should probably be:

[code]

[2019-06-27 16:21] futpib commented on #330
Strange, we have a test case which is expected to cover a case like this:
https://github.com/sindresorhus/eslint-plugin-unicorn/blob/c2b8e76fb20f6ec087d3338225a626836d5e3810/test/prevent-abbreviations.js#L577-L578

[2019-06-27 16:55] mattfwood commented on #330
@futpib I can take a look at that test case and see why my situation might be some weird exception.

@sindresorhus i'll go ahead and start looking into this, if you'd be able to assign this to me that would be great. thank you!

[2019-06-29 01:50] brettz9 commented on #238
Sorry to join the party a bit late, but I have the following suggested improvements and customizations. Some could be implemented over time, but I think it is helpful to have in mind some of what I see as some very cool additional possibilities here...

## Some proposed to-dos for the to-dos

1. Rename the rule to just `todos`, as the following adds more generic uses.
1. Support to-do scopes and p

[2019-06-29 02:13] lubien commented on #238
@brettz9

**1:** Maybe there should be a rename but just `todos` doesn't feel like making justice to the whole cake (assuming your proposal is implemented), at least to me.

**2 and 3(i):** Great but how this relate to the failing/warning aspect of eslint? Legit question.

**3(ii), 4 and 6**: Would be a lot useful to have this kind of report especially when you're hunting todos! I feel this binary

[2019-06-29 02:20] brettz9 commented on #238
Sorry, I squeezed in an item #2 before your comments... (Plan to respond shortly.)

[2019-06-29 02:22] lubien commented on #238
Updated and added a question.

[2019-06-29 03:25] MrHen commented on #238
Todos in comments are not a particularly great way to organize things -- if someone needs things like priorities than they should move the todos to an issue tracker and reference the issue number in the todo.

All of the possible intent you discuss should be "encoded" in the expiration syntax by the person writing the todo. The warning check should stay simple enough to provide an unambiguous warn

[2019-06-29 03:26] brettz9 commented on #238
**1**: Up to y'all, but to me, some of the most powerful packages are short and sweet in their names, implying that they are meant to "do it all" more or less.

**2**: If the rule def. were `"unicorn/todos": ["warn", {include: ["error", "message"]}]`, the actual to-do contents would show up along with the error, e.g., if the to-do were `// todo: fix this mess`, the error message for eslint would b

[2019-06-29 03:38] lubien commented on #238
@brettz9

**2:** Sounds great.

**3 and 4(i):** I'm inclined to say now I see, as @MrHen said, **it's probably better go for a issue tracker**.

**4(ii), 5 and 7:** It was clear and I am also used to NodeJS CLIs, thanks. I just wanted to know if you had seen some sort of integration directly with ESLint like this scenario or maybe in another programming language (because I feel like there must be

[2019-06-29 03:52] brettz9 commented on #238
I disagree. I use them all of the time and don't find it redundant with trackers or conducive to disorganization, and would use them even more if I didn't have to find-in-files.

I use issue trackers for items of public interest, or where a lot more explanation is justified or for which I feel the time is justified to add them there. I keep track of other to-dos, particularly refactoring ones, inl

[2019-06-29 12:52] MrHen commented on #238
I think the current scope is suitable for the first pass on this rule. My recommendation is to focus on the [current PR](https://github.com/sindresorhus/eslint-plugin-unicorn/pull/302) by @lubien. That work would be necessary to support what you are proposing anyway. Once that PR is in, this issue should be closed.

If you want to continue championing these ideas, let's split them off into a diffe

[2019-06-30 12:23] brettz9 commented on #238
Do people consider it acceptable for items 2, 6, 8 to be in scope though?

i.e.

2. Option to include the to-do in or as the message, ideally as a template, e.g., `{message: "{lintError}: {todoText}"}`) so people could choose whether to include the error and/or the message.
6. While giving a default, give a rule option to make the to-do format entirely customizable, as via a regular expression wit

[2019-06-30 12:43] MrHen commented on #238
Out-of-scope, as I'm not yet convinced this is a good idea.

Out-of-scope, as I'm not yet convinced this is a good idea.

I think we can at least split jsdoc support off to a separate PR. The PR is big enough as it is and starting to stabilize. I don't think it should be a requirement for the existing bounty (but the final call on that is for @sindresorhus.)

[2019-06-30 12:49] sindresorhus commented on #238
1. This is exactly why the name is not short and sweet. The rule is definitely not meant to *do it all*.
2. The TODO comment contents will be included in the error by default: https://github.com/sindresorhus/eslint-plugin-unicorn/pull/302#discussion_r298793099 Not really interested in templating or anything more advanced than that.
3. Not something I want.
4. Not something I want.
5. Feel free to

[2019-06-30 12:54] brettz9 commented on #238
Yup, does sounds like that. Though I do like the features you are adding, I'd like a lot more. So carry on, I'll leave you to it! :)

[2019-07-05 09:29] sindresorhus commented on #295
Alright, let's do it as a separate rule then.

[2019-07-05 09:44] sindresorhus commented on #29
I would argue blowing up on `null` is the most defensive thing you can do. I think you meant to say "graceful", which is ok too, I just personally dread `null`.

---

I don't really want this. Default parameters are not going away. I don't think it makes sense to fight it.

I would prefer the rule to be named `prefer-default-parameter` and only enforce default parameters.

---

:+1: I agree with t

[2019-07-05 09:45] sindresorhus commented on #29
I agree with not fixing such cases, but why can we not report? The user could still rework it to work as a default parameter.

[2019-07-05 13:12] MrHen commented on #29
Should we close the other issue then? Personally, I would use `no-default-parameter` over `prefer-default-parameters` but we obviously can't have both rules default to `error`. In terms of priority, I think I agree with you that `prefer-default-parameters` is a better fit for `eslint-plugin-unicorn`.

[2019-07-05 21:23] MrHen opened #334 "Rule proposal: `prefer-export-from`"
There are lots of ways to `export` but one pattern that is unnecessary is importing something and then immediately exporting it.

## Fail

[code]

## Pass

[code]

[2019-07-06 02:00] #326 closed

[2019-07-06 06:09] sindresorhus commented on #334
This is a great idea. A lot of people don't know about "export from".

There are many supported ways to re-export:

[code]

[2019-07-06 06:57] fisker commented on #254
`prefer-exponentiation-operator` may has the same problem

[code]

fix to

[code]
code looks stupid, but still possible

[2019-07-06 07:09] not-an-aardvark commented on #254
Hi, the best place to report these issues is the [`eslint/eslint`](https://github.com/eslint/eslint) repository. Thanks!

[2019-07-06 07:13] #121 closed

[2019-07-06 09:21] fisker commented on #254
@not-an-aardvark  It's `unicorn/prefer-spread` rule  I reported, the reason  I mentioned you is because It's ASI problem and I found it's similar to your `curly` rule solution  and  hope  you can help

[2019-07-06 14:17] #267 closed

[2019-07-07 21:46] MrHen opened #338 "Is there a difference between `no-buffer-constructor` and `unicorn/no-new-buffer`?"
Looks like these two rules share the same purpose:

* [no-buffer-constructor](https://eslint.org/docs/rules/no-buffer-constructor)
* [unicorn/no-new-buffer](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/no-new-buffer.md)

Is there any significant difference between them?

[2019-07-09 10:39] sindresorhus commented on #338
`unicorn/no-new-buffer` existed first and ESLint later on added their own rule for it. I don't think it's worth deprecating ours yet as we enforce have it in the recommended config, so it reaches more people. We can rather just deprecate it when `new Buffer()` is removed from Node.js, as it's moot then.

[2019-07-09 12:56] #338 closed

[2019-07-11 11:19] gurrrung opened #339 "context.options not getting the values"
While developing the rule, in `index.js` when I do

[code]

and in `rules/myrule.js` I just did a simple `console.log(context.options[0])` and it is coming `undefined` all the time when I wrote a simple test and ran it using
`npx ava test/myrule.js`.

Am I doing something wrong to pass options?

PS: `console.log('hello')` works fine.

[2019-07-11 11:52] futpib commented on #339
Try this:

[code]

[2019-07-11 11:54] gurrrung commented on #339
@futpib my fault, it was already that way. :( doesn't work.

[2019-07-11 11:56] gurrrung commented on #339
I will edit it my version.

[2019-07-11 12:15] futpib commented on #339
`index.js` is a definition of a [ESLint plugin](https://eslint.org/docs/developer-guide/working-with-plugins). When you run tests, your rule does not get passed the options from `index.js`. Instead it is passed options from the test definition (or none, if none specified in the test definition).

Here is an example of a test with custom options:
https://github.com/sindresorhus/eslint-plugin-unicor

[2019-07-11 12:22] gurrrung commented on #339
That's exactly what I was missing, thanks.:)

[2019-07-11 12:22] #339 closed

[2019-07-26 22:14] ulrichb opened #341 "[filename-case] Feature request for case style configuration per file mask"
I'm using your `filename-case` rule as replacement for [TSLint's `file-name-casing`](https://palantir.github.io/tslint/rules/file-name-casing/).

What I'm missing is this file pattern/mask-specific option. Examples:

![image](https://user-images.githubusercontent.com/388796/61984103-41646600-b003-11e9-855b-4ab1c384ba66.png)

Any chance to get this supported here too?

[2019-07-26 22:24] futpib commented on #341
You can try [XO's overrides configuration](https://github.com/xojs/xo#config-overrides). In my opinion, this feature is best implemented in the linter itself rather then in each rule separately.

[2019-07-26 22:31] #341 closed

[2019-07-27 18:19] zamboney commented on #334
I would like to make this new rule as my first issue

[2019-07-28 17:33] MrHen commented on #334
@zamboney Go for it!

[2019-08-05 13:40] Alhadis commented on #276
`getElementsByClassName()` and `getElementsByTagName()` return an `HTMLCollection` object, which updates automatically when elements are added or removed from the DOM:

[code]

Conversely, `querySelectorAll()` returns a static `NodeList` which does **not** reflect updates made to the DOM since instantiation. Therefore, the rule's description is misleading and should be changed.

"Consistency" is o

[2019-08-05 13:51] MrHen commented on #276
@Alhadis I'm not seeing the connection between your comment and this issue. Did you mean to open a separate issue?

[2019-08-05 13:54] Alhadis commented on #276
Ah right, this was specifically about the matter of performance. Sorry, that was kind of a knee-jerk reaction.

I'll open a new issue.

[2019-08-05 14:08] Alhadis opened #342 "Description of `prefer-query-selector` is misleading WRT “consistency”"
The description of the [`prefer-query-selector`](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/fb5a50ce95f85d958db83bdad3a642ed2cbb732b/docs/rules/prefer-query-selector.md) rule states:

"Consistency" has nothing to do here. These methods aren't synonymous with each other: `.getElementsByTagName()` and `.getElementsByClassName()` return an [`HTMLCollection`](https://mdn.io/HTMLCollect

[2019-08-05 14:16] MrHen commented on #254
We should probably add a note to the documentation of the affected rules saying that they do not work properly if you don't use semicolons. People who use that style can then turn the rules off.

[2019-08-07 11:29] cajoy opened #343 "False error on kebab-case files"
I have file with name like [id].tsx

and getting following error:

[code]

[2019-08-07 13:14] MrHen commented on #343
Just to confirm, your file is literally the characters `[id].tsx`? With the square brackets included?

[2019-08-07 14:10] futpib commented on #343
This is probably related to how next.js does routing https://github.com/zeit/next.js/tree/ca13752e240a85f8af7a875a6dba0a515c6d8011/examples/dynamic-routing/pages/post/[id]

[2019-08-07 14:36] MrHen commented on #343
Ah, interesting.

As for the rule, strictly speaking, `[id].tsx` _isn't_ in kebab-case. I haven't looked at the code yet but I'm guessing the regex involved is only allowing lowercase letters, numbers and hyphens. We could try to:

1. Add more allowed symbols
2. Add a configuration that allows the format used by next.js
3. Add a custom regex option that lets you add whatever exceptions you want
4.

[2019-08-08 03:28] fisker commented on #254
agree

[2019-08-17 23:15] jaythomas commented on #343
What if `filename-case` just exposed a regex property you can set to whitelist patterns?

[2019-08-19 11:53] fregante opened #344 "Rule proposal: `prefer-modern-dom-apis`"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2480%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/344)

There more methods like `appendChild` and `removeChild`, for which we already have rules.
They've all been replaced with better versions:

- [insertBefore](https://developer.mozilla.org/en-US/docs/Web/API/Node/insertBefore

[2019-08-19 11:59] fregante opened #345 "DOM traversing rules suggestions"
## More readable

- `.childNodes[0]` -> `.firstChild`
- `.children[0]` -> `.firstElementChild`

## More robust

- `.children[1]` -> `.querySelector('selector')`
- `.children[1].children[2]` -> `.querySelector('selector')`
- `.parentElement.parentElement` -> `.closest('selector')`
- `.querySelector('a').querySelector('b')` -> `.querySelector('a b')`

[2019-08-20 07:33] Jessidhia commented on #153
Even a trivial regular expression like `/\./` is enough to trip the rule. It's possible it's just an incompatibility with the `u` flag, though.

Arguably this regexp does not need `u`, but there is a good reason for using `u` on all regexps: it [disables Annex B features](https://tc39.es/ecma262/#sec-regular-expressions-patterns).

![image](https://user-images.githubusercontent.com/73085/63326664-

[2019-08-20 14:28] sindresorhus commented on #344
Alternative name: `prefer-modern-dom-apis`?

[2019-08-20 14:30] sindresorhus commented on #345
Any rule name suggestions?

[2019-08-21 01:46] fisker commented on #271
https://github.com/xojs/xo/blob/c55f962a961b5b00b4b4239a7253a2e874b0e700/config/plugins.js#L40

[2019-08-21 15:43] Manu1400 commented on #345
I have code for :
* .childNodes[0] -> .firstChild
* .children[0] -> .firstElementChild
* .querySelector('a').querySelector('b') -> .querySelector('a b')

But i don't have idea for a rule name.

[2019-08-21 20:04] sindresorhus commented on #342
"Consistency" as in always using the same method that behaves the same.

I'm well aware of how they work.

---

But sure, we can make the difference clearer.

[2019-08-22 10:12] fregante commented on #345
`better-dom-traversing`? `readable-*`

[2019-08-25 07:39] astoilkov opened #347 "Rules improvements with the help of `@typescript-eslint/parser`"
I don't have experience with writing ESLint rules but I am wondering if `@typescript-eslint/parser` can help improve some of the rules. For example, `prefer-event-key` can extend its reach by detecting that the object type is KeyboardEvent and make the check.

[code]

[2019-08-27 13:23] felixfbecker commented on #130
I have the same problem with `typescript-eslint`

[2019-08-29 03:20] manovotny commented on #203
We just got hit with this in a project of ours.

Our rules allow for both pascal and kebab, but what we want is actually a mix of the two, ie. `Button.spec.js`.

It'd be nice to not have to capitalize `spec` just because the filename started with a cap, which feels like a React-esque convention. I don't really recall seeing a `Spec` in the wild.

Our particular situation could also probably be sol

[2019-09-02 12:21] EvgenyOrekhov commented on #169
@sindresorhus It is much more common to use `args`, not `arguments_` or any other name, in place of `arguments`. Here is a couple of examples from popular sites:

- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/arguments#Rest_default_and_destructured_parameters
- https://eslint.org/docs/rules/prefer-rest-params#examples (see examples of correct code)

[2019-09-02 12:27] EvgenyOrekhov opened #348 "prevent-abbreviations: another meaning for the "dir" abbreviation"
prevent-abbreviations automatically replaces `dir` with `directory`, but `dir` might mean `direction`. Example: `sortDir` - "sort direction".

[2019-09-02 12:47] gajus commented on #169
I think @sindresorhus suggestion is valid given what this rule is enforcing.

I have just added an exception using `whitelist` for `props` and `args`.

[2019-09-02 12:54] gajus commented on #169
Sorry, you should configure `replacements`, not `whitelist`, i.e.

[code]

[2019-09-02 13:03] gajus opened #349 "prevent-abbreviations: add curr => current"
I often see this in the context of "prev, curr" (previous, current).

[2019-09-04 09:37] #238 closed

[2019-09-04 13:22] oliversalzburg opened #350 "Cannot read property 'references' of undefined in catch-error-name"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/eslint-plugin-unicorn/issues/350)

[code]

This code will cause an Error in `catch-error-name:70`.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $40.00)

- [<img src='https://avatars3.githubusercontent.com/u/44827199?v=4

[2019-09-04 20:53] sindresorhus commented on #349
👍

[2019-09-04 20:55] sindresorhus commented on #348
We should probably add `direction` here: https://github.com/sindresorhus/eslint-plugin-unicorn/blob/6b6cee586442997188904648cdb0b66022ad589d/rules/prevent-abbreviations.js#L119

[2019-09-05 19:10] #230 closed

[2019-09-05 19:15] sindresorhus commented on #130
Alright, let's try to support this for `babel-eslint` and `typescript-eslint`.

[2019-09-05 19:23] sindresorhus commented on #347
I have been thinking a lot about this too. We have encountered many limitations with rules here that would not have happened with better type information. I'm open to exploring making rules better by using type information when available. I can even see us adding TypeScript-only rules where it's not feasible to do it without type information.

See this relevant discussion: https://github.com/types

[2019-09-05 19:24] sindresorhus commented on #345
I like `better-dom-traversing`.

[2019-09-05 19:32] sindresorhus commented on #343
Let's do `1`. I can't imagine anyone would accidentally wrap a filename in `[]`. It's intentional then. The point of the rule is to catch actual naming mistakes. So we'll just strip leading `[` and trailing `]` before checking the filename.

[2019-09-05 19:33] sindresorhus commented on #343
@jaythomas We can do that in addition to `1` if you can provide other use-cases where you would need it.

[2019-09-05 19:38] MrHen commented on #347
I'm **for** typing and TypeScript but I am **against** supporting gobs of different pseudo-JavaScript languages based on the whims of whatever maintainers happen to be around. Babel seems ubiquitous at this point and I have a bias toward TypeScript because I've used it in the past which is why I'm comfortable with those two. But, personally, I'm not remotely interested in Flow or CoffeeScript or w

[2019-09-05 20:13] sindresorhus commented on #347
@MrHen This is only about TypeScript. I have no intention to support Flow.

The problem with that is that the point here is to have one rule that works in both JS and TS, but works better in TS by taking advantage of the type information.

Yes

[2019-09-05 20:57] MrHen commented on #347
Them I'm all for it. Viva la typing.

[2019-09-05 23:52] tinovyatkin commented on #130
ESLint 6.x while targeting ES2020 supports it's natively too.

[2019-09-06 01:08] jaythomas commented on #343
@sindresorhus allow me to provide 3 of my use cases.

1. Although all my files are kebab-case, some files have a special suffix such as `interface_spec.js` or `interface_snap.js` and the rule thinks these are snakecased.

2. A few times I like to break the kebab-case rule to that the filename matches the factory name, such as `$logger.js` so I'd like to account for these (until I can fix the facto

[2019-09-06 02:54] fisker commented on #343
How about split filename to words and check one by one?

Like I did in `prevent-abbreviations` for filenames

https://github.com/sindresorhus/eslint-plugin-unicorn/blob/91bbff52d534908a3688817f655af91f7920c985/rules/prevent-abbreviations.js#L272

maybe something like

[code]

[2019-09-06 17:25] #348 closed

[2019-09-06 17:28] #349 closed

[2019-09-06 18:11] fisker opened #361 "Use github actions?"
Maybe this is not the good place to ask this, but just curious, are you interested in switching your ci to github actions?

I've tried to run this project, here is the result

https://github.com/fisker/eslint-plugin-unicorn/runs/197837953

[2019-09-06 18:23] fisker commented on #361
BTW: When I register azure pipelines, my id `fisker` is taken(ms gave it to me a few days later), so I checked your id `sindresorhus` and some other names, and I have this organization name now. you can have  it back anytime, just in case you  want  use azure

@sindresorhus

[2019-09-06 19:42] sindresorhus commented on #361
Not really, unless it solve some huge problems. GitHub Actions is still very early and I don't want to deal with issues with it. The config is also very verbose compared to Travis.

[2019-09-06 19:42] #361 closed

[2019-09-06 20:24] fisker commented on #361
Good to know

[2019-09-06 21:29] mhatvan commented on #344
I would like to work on this.

[2019-09-07 09:52] karuppiah7890 commented on #130
Can I take a shot at this? I'm new to this whole repo 😅 . But I'm willing to try, and also get paid for the first time for an OSS contribution 😁

[2019-09-07 10:07] sindresorhus commented on #130
@karuppiah7890 This is not an easy issue and it requires some JS and AST experience.

Check out https://issuehunt.io and https://github.com/search?o=desc&q=user%3Asindresorhus+user%3Axojs+user%3Aavajs+user%3Achalk++is%3Aissue+is%3Aopen+commenter%3AIssuehuntBot&s=created&type=Issues for other issues ;)

[2019-09-07 11:44] sindresorhus commented on #344
@mhatvan Go ahead :)

[2019-09-11 05:05] otofu-square commented on #327
I'd like to work on this issue :eyes:

[2019-09-11 07:08] fregante commented on #327
It's all yours :)

[2019-09-11 07:33] sindresorhus commented on #327
Just make sure you read [this](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/new-rule.md) thoroughly and have an understanding of AST and ESLint rules :)

[2019-09-11 17:40] devinrhode2 commented on #112
really awesome idea+work guys 👍

[2019-09-11 18:03] devinrhode2 commented on #153
safe-regex readme now says

Discussion on using this here:
https://github.com/nodesecurity/eslint-plugin-security/issues/28

I wonder if it's possible for one eslint plugin to pull in just one rule from another plugin

[2019-09-12 13:51] EvgenyOrekhov opened #364 "prevent-abbreviations - add "param" and "params""
I think these should be added to default replacements:

param - parameter
params - parameters

[2019-09-13 18:25] MrHen opened #366 "Rule proposal: `no-unnecessary-ternary`"
Ternaries are annoying and due to how truthiness works in JavaScript these two lines of code are functionally equivalent.

## Fail:

[code]

## Pass:

[code]

[2019-09-14 04:28] sindresorhus commented on #366
Sounds good.

[2019-09-14 07:47] dasZGFz opened #367 "`prevent-abbreviations` is too eager"
This code:
[code]
outputs this as an error:
[code]

My current workaround is to disable eslint for that line but I wonder if there's a way to fix it in the plugin.

[2019-09-14 12:20] zeorin commented on #366
How is that different from https://eslint.org/docs/rules/no-unneeded-ternary?

[2019-09-14 18:38] garyking commented on #367
sindresorhus's own package, [execa](https://github.com/sindresorhus/execa), uses `env` as an option, yet this rule reports an error for that abbreviation, too. So I agree that sometimes the rule is too aggressive. It shouldn't report on arguments that we pass to a function, or values returned from a function. Since if those were functions that we created ourselves and were in our own scripts, then

[2019-09-15 15:32] MrHen commented on #366
Hm, I think @zeorin's right and this is just the same thing as `no-unneeded-ternary`. Early next week, I can double check that that rule would have covered the code I encountered. If it does, I can close down this ticket.

[2019-09-16 07:41] #364 closed

[2019-09-16 07:42] #350 closed

[2019-09-16 08:07] #166 closed

[2019-09-16 08:35] #142 closed

[2019-09-16 08:55] sindresorhus opened #368 "The `ruldeId` property in tests is not correctly enforced"
See: https://github.com/sindresorhus/eslint-plugin-unicorn/pull/296#discussion_r324564372

[2019-09-16 08:56] #50 closed

[2019-09-16 13:30] MrHen opened #370 "Create comment utility"
See discussion here: https://github.com/sindresorhus/eslint-plugin-unicorn/pull/225#discussion_r294262451

We need to make handling comments easier. The current suggestions are:

1. Comments should be preserved (may be non-trivial)
2. Comments should be moved above a suitable node
3. Do not fix if comments are detected

At the very least, we should add some notes in our documentation around creati

[2019-09-16 13:45] sindresorhus commented on #370
See discussion in https://github.com/sindresorhus/eslint-plugin-unicorn/pull/225#discussion_r324546163.

[2019-09-16 13:45] limeandcoconut opened #371 "Definition for [several rules] was not found"
I'm seeing:

[code]
With an otherwise working eslint config. At least one of unicorn's other rules is working. I've `rm -f`ed and `npm i`ed node modules, no change.

Deps:
[code]
and limeandcoconut's deps:
[code]
`eslint-plugin-vue`  isn't being used right now. It's disabled until it gets upgraded to eslint ^6

[2019-09-16 15:12] MrHen commented on #370
I already linked to the discussion...

[2019-09-16 15:14] MrHen commented on #371
Can you run `npm ls eslint-plugin-unicorn` from your project directory and post the output?

[2019-09-16 15:50] sindresorhus commented on #370
Somehow I managed to miss that...

[2019-09-16 18:48] dashmug opened #372 "False negative? for unicorn/consistent-function-scoping"
I like this new rule and I've made change to my code. Here's one WIP snippet where it proved to be problematic though.

[code]

[code]

Could this be a bug in `@typescript-eslint`?

@typescript-eslint/eslint-plugin@2.3.0
@typescript-eslint/parser@2.3.0
eslint-plugin-unicorn@11.0.0

[2019-09-16 20:22] MrHen commented on #372
Yeah, that doesn't look right. I'll try to take a look at it later tonight.

[2019-09-16 21:03] garyking opened #373 "`expiring-todo-comments` breaks `eslint --print-config` in dirs with no `package.json`"
If `eslint --print-config` is run in a dir with no `package.json`, then the `expiring-todo-comments` rule throws an error. So the `--print-config` command doesn't work with this rule, at the moment.

[code]

[2019-09-16 21:13] MrHen commented on #373
@lubien, you are probably most familiar with this rule. Any thoughts?

[2019-09-16 23:25] limeandcoconut commented on #371
[code]

[2019-09-17 15:23] kevinoid opened #374 "consistent-function-scoping false positive modifying property of variable"
Running ESLint 6.4.0 with eslint-plugin-unicorn 11.0.0 and `"extends": "plugin:unicorn/recommended"` on a file with the following reduced example code:
[code]

gives the following output:

    /tmp/consistent-function-scoping-issue/issue.js
      5:3  error  Move function to the outer scope  unicorn/consistent-function-scoping

    ✖ 1 problem (1 error, 0 warnings)

I believe this is incorrect sin

[2019-09-17 17:36] kevinoid commented on #374
I just noticed that a similar issue occurs when calling functions which must be defined in the same scope:

[code]

Since `onError2` can't be moved to the global scope because it calls `onError` which can't be moved to the global scope.

If you'd like me to open a separate issue to track this variant, let me know.

Thanks again,
Kevin

[2019-09-17 18:25] sindresorhus commented on #208
Sorry for totally dropping the ball on this. Yes, makes sense 👍

[2019-09-17 18:38] MrHen commented on #374
Yes, please do. I didn't think about that scenario at all.

[2019-09-17 18:41] kevinoid opened #375 "consistent-function-scoping false positive calling same-scoped function"
Running ESLint 6.4.0 with eslint-plugin-unicorn 11.0.0 and "extends": "plugin:unicorn/recommended" on a file with the following reduced example code:

[code]
gives the following output:

    /tmp/consistent-function-scoping-issue/issue2.js
      7:3  error  Move function to the outer scope  unicorn/consistent-function-scoping

    ✖ 1 problem (1 error, 0 warnings)

I believe this is incorrect sinc

[2019-09-17 18:41] kevinoid commented on #374
Sure thing.  Moved to #375.

[2019-09-17 20:40] milesj opened #376 "consistent-function-scoping breaks down on React HOCs"
Given this code:

[code]

The rule fails on line 3. However, `WrappedComponent` is being referenced from the parent as a JSX element.

[2019-09-17 23:51] yakov116 opened #377 "`unicorn/prefer-dataset` breaks on query selector"
[code]

[2019-09-18 01:24] MrHen commented on #377
I'm assuming that the red line is the original and the green line is the auto-fix?

[2019-09-18 03:18] yakov116 commented on #377
Yes

[2019-09-18 04:42] sindresorhus commented on #377
// @amedora

[2019-09-18 12:26] kevinoid commented on #375
Thanks for the very quick fix @MrHen!

[2019-09-18 19:39] #376 closed

[2019-09-19 02:45] lubien commented on #373
It might happen because one of my `[conditions]` on TODO rules reads a package.json

The solution would possibly try-catch for it, I can tackle this tomorrow if you're okay with it.

[2019-09-19 07:11] lubien commented on #328
Can I work on this on this weekend?

[2019-09-19 08:19] sindresorhus commented on #328
Yup :)

[2019-09-19 13:06] MrHen commented on #373
Awesome, thanks.

[2019-09-20 11:16] medusalix commented on #208
@sindresorhus To be honest, I'm quite puzzled by the amount of different solutions proposed. Everyone seems to have their own way of handling default parameters and I'm not sure where to continue right now. See also the discussion right [here](https://github.com/sindresorhus/eslint-plugin-unicorn/issues/29).

[2019-09-20 13:44] Tapppi opened #384 "unicorn/prefer-exponentiation-operator fix changes meaning of code"
There seems to be a quite critical bug with the `unicorn/prefer-exponentiation-operator` rule. Running a fix over our codebase resulted in this change:
[code]

Obviously these two are quite far from equivalent..

[2019-09-20 13:46] Tapppi commented on #384
And another case:
[code]

[2019-09-20 14:05] Tapppi commented on #384
Apparently these should be fixed by https://github.com/sindresorhus/eslint-plugin-unicorn/pull/305 but xo uses an old version.. Closing in favor of https://github.com/xojs/xo/issues/399.

[2019-09-20 14:05] #384 closed

[2019-09-21 20:31] lubien commented on #373
@garyking could you provide some steps to reproduce it?

Just did a fresh install of this rule and ran `eslint --print-config src/index.js` and it works ok.

<details>
	<summary>
	eslint --print-config src/index.js
	</summary>

[code]

</details>

[2019-09-21 21:45] lubien commented on #328
I'm affraid this is not the solution for this case. The `process.exit` happens in the fork, not in the master's `worker.on`.

[2019-09-22 03:38] garyking commented on #373
Oh damn, it must be because I'm using eslint v5, rather than the latest v6. I can't upgrade that yet, unfortunately.

I'd appreciate it if you could fix this for eslint v5, since I and a lot of people are still using it, due to the major changes needed for some to upgrade to eslint v6. But I can understand if you won't fix the plugin just for eslint v5.

[2019-09-22 03:41] garyking commented on #373
Would one simple fix be to replace `read-pkg` with `read-pkg-up`?

[2019-09-22 04:37] sindresorhus commented on #328
Either we just disable the rule if `worker_threads` is imported, or maybe more specific also check for `parentPort` or `workerData`?

[2019-09-22 09:04] #377 closed

[2019-09-22 10:12] lubien commented on #373
I'm on it!

I'll check it out

[2019-09-22 10:15] lubien commented on #328
This is something I feel that is the best tho I confess I haven't done work with threads in node so I don't know if it would be the best solution but I can implement it if you're okay with it.

[2019-09-22 10:44] sindresorhus commented on #328
@lubien Let's go with my solution for now.

[2019-09-22 17:32] #343 closed

[2019-09-24 11:34] fisker opened #391 "Is this a `consistent-function-scoping` bug?"
I was working on #387 , and found our code

https://github.com/sindresorhus/eslint-plugin-unicorn/blob/92f2da10fd97841e8d674c17f397c39c24bf9fe2/test/integration/test.js#L57-L65

is reported by `consistent-function-scoping`.

This code looks good to me, is this a bug or did I miss something?

/cc @MrHen

[2019-09-24 14:13] MrHen commented on #391
Definitely looks similar to #372 but I'll keep the use case around just to be sure.

[2019-09-25 08:43] #373 closed

[2019-09-25 09:30] #65 closed

[2019-09-25 10:04] #328 closed

[2019-09-25 18:20] garyking opened #392 "`consistent-function-scoping`: Ignore within `useEffect` in React Hooks"
In React Hooks, I got:

[code]

And it's definitely better to keep the function in the `useEffect`, to group it together. But this rule recommends moving out the function, of course.

Perhaps perform a check if the function is in `useEffect`, to ignore it?

[2019-09-25 18:58] MrHen commented on #392
Hm, this is an interesting exception to the rule. Things like hooks or listeners might not have any references to the parent scope.

[2019-09-25 20:27] garyking opened #394 "`expiring-todo-comments` doesn't work when linting stand-alone files"
Related to #373. Ping @lubien.

I'm using the latest version of `eslint-plugin-unicorn`, and `eslint v5`.

I'm using the latest version of the VS Code editor, and the latest version of the [vscode-eslint](https://github.com/microsoft/vscode-eslint) extension.

The extension allows to lint untitled files (after changing the untitled file's lang to JavaScript), and files that don't belong to a JS pr

[2019-09-25 21:04] evilebottnawi opened #395 "allow using `lower` suffix for `pascalCase` in `filename-case` rule"
For example:
[code]
Why?
1. Some tools use/recommend `lower` notation for part after `.`, for example `jest` use lower `test` (`FooBar.test.js`) in examples for class testing.
2. Sometimes you have vendor libraries (not in node_modules) and they use notation `Timer.min.js` (rare use case)
3. Code for multiple platform, for example: `MyClass.web.js`, `MyClass.android.js` (react/react-native/other s

[2019-09-25 21:16] evilebottnawi opened #396 "warning with new version"
[code]

https://github.com/futpib/eslint-template-visitor/issues/1

[2019-09-25 22:59] lubien commented on #394
I can totally see this happening but I couldn't reproduce the untitled file scenario.

There is a .eslintrc with our plugin. Here's the output after changing it to JS:

[code]

But I can reproduce it if I save the file, for that I think I have a fix.

[2019-09-25 23:28] futpib commented on #396
This seems to be fixed after futpib/eslint-template-visitor#1 has been closed.

At least I can't reproduce a warning running this:

[code]

[2019-09-25 23:28] #396 closed

[2019-09-25 23:33] futpib commented on #392
Is it definitely better? I imagine `getItems` having some fetching or other global side-effect code, it that case it would be better not only to move it out of the component, but maybe even into a separate file or module.

[2019-09-26 00:05] garyking commented on #392
It's [recommended per the React docs](https://reactjs.org/docs/hooks-effect.html#example-using-hooks-1), at least.

[2019-09-26 00:48] fisker commented on #395
how about a whitelist？

[2019-09-26 00:55] futpib commented on #392
Now that's a different case, they have `ChatAPI.subscribeToFriendStatus` (which I would consider analogous to `getItems` from your example) define somewhere outside the component and `useEffect` call, that's what I'd do (define it in a separate file). In this example `handleStatusChange` would not be reported as it captures `setIsOnline` from the component scope.

[code]

[2019-09-26 03:18] lagden commented on #328
👏 👏 👏

[2019-09-26 04:13] #394 closed

[2019-09-26 04:35] sindresorhus opened #398 "`allowWarningComments` for `expiring-todo-comments` rule should be `true` by default"
https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/expiring-todo-comments.md#allowwarningcomments

I missed that we made it false. I think it's better as `true`. As most people will probably make normal TODOs a warning and this rule an error.

// @lubien

[2019-09-26 06:41] lubien commented on #398
I'll work on it asap!

[2019-09-26 10:43] evilebottnawi commented on #395
Sounds good, maybe will be great allow whitelist using regexp

[2019-09-27 10:39] fregante opened #401 "`expiring-todo-comments` should include the comment itself in the report"
Copied from https://github.com/eslint/eslint/issues/12327

---

I think the point of this rule is to keep track of TODO comments, however this is hard to follow; I'd have to open each file separately to see if I can handle a task.

# Current

[code]

# Ideal

[code]

Or

[code]

[2019-09-27 10:41] sindresorhus commented on #401
// @lubien In case you're interested in working on this.

[2019-09-27 10:43] sindresorhus commented on #401
I would go for the short version:

[2019-09-27 11:46] lubien commented on #401
I can work on this weekend, sure!

Noted.

How long until clip? I could use something like `process.stdout.columns` to calculate the width and try not to overflow too much. I'd have also to count ESLint own input.

[code]

Given 103 column digits. For this case I can see 4 digits for reporting level, a few for `line:column` (in this case just 3, but would need more). Double space separators at fir

[2019-09-27 12:17] sindresorhus commented on #401
We can’t depend on process.stdout.columns as we can’t know how the reporter will format it. We just have to decide on an arbitrary (large) limit and truncate.

[2019-09-27 14:12] swernerx commented on #371
Same issue here. But only when running inside Jest - yes, we test our linting infrastructure :)

[2019-09-27 14:12] swernerx commented on #371
Might be related to `import-modules` which is being used internally?

[2019-09-27 14:14] swernerx commented on #371
Ah, I already did fix this for some previous customer of mine: https://github.com/sindresorhus/import-modules/issues/2 @sindresorhus can you please check this?

[2019-09-28 13:19] HERBOD7 commented on #342
@sindresorhus I can do it.

[2019-09-28 16:44] sindresorhus opened #402 ""No bad browser APIs" rule ideas"
Would be useful to prevent use of some bad browser APIs.

For example, it's not recommended to use `document.cookie` directly as it's easy to get the string wrong. See https://github.com/sindresorhus/eslint-plugin-unicorn/issues/299 and https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie Instead, the user should use a cookie library.

What other browser APIs are not recommended to use

[2019-09-28 16:46] sindresorhus commented on #299
You can still bundle them manually. It's just JavaScript. Nothing Node.js specific.

I don't disagree with that, but for making rules, we prefer to go with the absolute best solution.

[2019-09-28 16:46] sindresorhus commented on #299
Closing in favor of https://github.com/sindresorhus/eslint-plugin-unicorn/issues/402.

[2019-09-28 16:46] #299 closed

[2019-09-28 17:37] sindresorhus commented on #107
If anyone wants to work on this, see the previous attempt in https://github.com/sindresorhus/eslint-plugin-unicorn/pull/227. You should probably continue from there.

[2019-09-29 01:11] fisker commented on #402
I don't like this idea checking unrelated things together, how about a single rule just for cookie, maybe `no-cookie-access-directly`

Other api should not use directly, I think `IndexedDB` also has a horrible design, hard to use

[2019-09-29 04:11] sindresorhus commented on #402
Sure, we can make them separate rules, but it's still valuable to have one issue here where we can discuss potential ideas.

I would call it `no-document-cookie-api`.

[2019-09-29 08:58] ark120202 opened #403 "`expiring-todo-comments` package conditions don't work in a multi-package project layout"
Currently `expiring-todo-comments` loads `package.json` data during initial load and resolves it from working directory. However, in case of monorepo-structured project, linted files may have a closer `package.json` file. Not sure how much that would affect performance, but I think it makes sense to resolve it for every file individually.

[2019-09-30 13:07] MrHen commented on #403
Can you post a specific example of your monorepo structure? In the monorepo structure I've used, the linting runs are always done at the project level -- not at the monorepo level.

I'm personally okay letting this be an exception but we could call it out in the documentation.

[2019-09-30 13:11] MrHen commented on #402
The first couple that come to mind are `window.history` and `window.location`. I don't think there is inherently anything _wrong_ with using them but `window.location.href = foo` versus `window.location = foo` versus `window.location.assign(foo)` is pretty confusing.

[2019-09-30 13:19] ark120202 commented on #403
Most of open source monorepos I've seen appear to use it that way:

- [Babel](https://github.com/babel/babel/blob/master/Makefile#L60)
- [Jest](https://github.com/facebook/jest/blob/master/package.json#L86)
- [Lerna](https://github.com/lerna/lerna/blob/master/package.json#L10)
- [React](https://github.com/facebook/react/blob/master/scripts/eslint/index.js#L14)
- [TypeScript ESLint](https://github.

[2019-09-30 15:06] MrHen commented on #403
Awesome, thanks for the links. I guess the repos I've maintained were cross-language so we couldn't use one tool for all of included the projects.

[2019-10-01 07:56] amankkg commented on #391
Seems like another case for an issue:
[code]

`1:43` points to second function, e.g. `([x, y]) => direction =>`

Seems like currying is not handled properly because refactoring to this removes ESLint error:
[code]

[2019-10-02 14:17] fisker commented on #402
Nerver heard `window.location.assign(foo)` before :(

I always use `window.location.href = foo`, but I've seen my colleague use `window.location = foo` and `document.location`, though `document.location` is the same, i prefer `window.location`

[2019-10-03 07:32] sindresorhus commented on #271
👍

[2019-10-03 07:32] sindresorhus commented on #271
@fisker Can you provide some code examples of this?

[2019-10-03 07:33] sindresorhus commented on #271
I think we should make `checkProperties` false by default for now.

[2019-10-03 07:37] sindresorhus commented on #271
@sobolevn That's weird. According to our docs, [`checkShorthandProperties`](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prevent-abbreviations.md#checkshorthandproperties) is false by default.

[2019-10-03 07:44] #398 closed

[2019-10-03 08:26] #371 closed

[2019-10-03 13:11] fisker opened #407 "CI problem with xo"
The master branch has the green result, when I was working on #404 the CI says

[code]

so I thought this is the `eslint-plugin-unicorn` required by `xo` version problem , and I made #405 #406 to confirm my thought, turns out #405 (did't remove `eslint-disable`) failed, and #406 (removed `eslint-disable`) successed, I thought #406 should fix this problem, but after I merge it into master the CI fa

[2019-10-04 00:38] #342 closed

[2019-10-07 02:00] JoshSchreuder opened #410 "prefer-includes fix breaks utility library usage (eg. lodash)"
`prefer-includes` rule autofix incorrectly applies to usages of utility libraries like lodash.

For example:

[code]

Becomes
[code]

After the fix is applied, which is semantically different and leads to bugs.

[2019-10-07 04:42] fisker commented on #410
just realize `fromIndex` also not considered

[code]

[2019-10-08 10:24] sindresorhus commented on #347
I'm gonna keep a list of things that could be improved with type information:
- We could exclude built-in types here: https://github.com/sindresorhus/eslint-plugin-unicorn/issues/367

[2019-10-08 10:25] futpib commented on #407
The problem is that `unicorn/expiring-todo-comments` ignores dates in PRs, so it is indeed never reported in CI for PRs.

https://github.com/sindresorhus/eslint-plugin-unicorn/blob/48d6356d4cc430727bb928eab0f4274c4275a526/rules/expiring-todo-comments.js#L256-L258

[2019-10-08 10:46] #407 closed

[2019-10-08 10:47] #271 closed

[2019-10-08 10:47] #367 closed

[2019-10-10 13:56] MrHen commented on #410
The only way we could realistically handle this is to add a `blacklist` configuration option where it will ignore certain identifiers.

Aside from that, I would recommend turning the rule off for your project (and maybe using the [eslint-plugin-lodash variant](https://github.com/wix/eslint-plugin-lodash/blob/master/docs/rules/prefer-includes.md) instead.)

[2019-10-10 14:01] MrHen opened #415 "Rule proposal: `prefer-negative-index` for things like `foo.slice`"
See https://github.com/sindresorhus/eslint-plugin-unicorn/pull/409/files#diff-1e364de46e721b05ccf3d616d4248ebdR37

Functions that support negative indexing should use that feature instead of calculating from `length`.

## Fail
[code]

## Pass
[code]

## Functions

* [Array.prototype.includes](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes#Syntax) bu

[2019-10-10 16:43] fisker commented on #415
It's good to have  this rule to prevent this accident happen.

Can't remember any other method use negative index except `substr`(should not use at all)

[2019-10-10 16:54] MrHen commented on #415
I added a few examples of where this is supported. Surprisingly, `Array` and `String` have different support.

[2019-10-10 18:03] sindresorhus commented on #415
Good idea!

[2019-10-10 18:59] #410 closed

[2019-10-10 22:08] JoshSchreuder commented on #410
Have turned it off for our project, however I think it's a little irresponsible to include a rule in your recommended configuration that could cause bugs on `--fix`. Any fixable rule outputs should be equivalent functionally IMO.

[2019-10-11 00:58] fisker commented on #415
test on chrome

includes

[code]

indexOf

[code]

lastIndexOf

[code]

[2019-10-11 09:05] fisker commented on #415
If nobody is working on it, I'm going to do it

[2019-10-11 11:07] fisker commented on #415
I've done basic implementation.

Need discussion

1. different literal member, but same result, this is already done

[code]

2. different type member, but same result

[code]

3. complicated length calculate

[code]

4. call/apply/bind

[code]

5. I simply remove `foo.length`, should we care about whitespace ?

@MrHen @sindresorhus

[2019-10-11 15:21] MrHen commented on #415
I think we should flag any usage of `.length` as an error but only auto-fix if the parameter is trivial. Other test cases worth noting:

[code]

[2019-10-11 15:49] fisker commented on #415
Can't agree to this, we suppose to make `length -  n`  equal to  `- n`, not taking care of haw he calculate index, one example

[code]

[2019-10-11 17:42] MrHen commented on #415
Ah, yeah, I didn't think of that case.

Then I'd just limit it to looking for a single `BinaryExpression` with an operator of `-`.

Even more test cases:

[code]

To answer one of your other questions:

[code]

This gets weird because the math is bad but giving `slice` a number that is far too big will be more correct than giving it a valid but incorrect index. I don't want to maintain some sort o

[2019-10-15 06:42] yangmingshan opened #418 "`no-fn-reference-in-iterator` autofix might break code"
Origin code
[code]
After autofix
[code]

[2019-10-15 13:20] fisker commented on #418
I just check the orignal proposal https://github.com/sindresorhus/eslint-plugin-unicorn/issues/91 , isn't this by design?

I don't think this rule is fixable, we should remove the fixer.

[2019-10-15 13:25] fisker commented on #366
Can we close this? @MrHen

[2019-10-15 13:29] fisker opened #419 "Add empty file check to all rule test"
https://github.com/sindresorhus/eslint-plugin-unicorn/pull/388#discussion_r328034531

[2019-10-15 19:22] #366 closed

[2019-10-16 10:04] fisker commented on #415
I just found simple remove `foo.length` is not right for many cases.

[code]

`n` should be positive value, how do you suggest to fix? @MrHen

[2019-10-16 10:09] fisker commented on #415
new proposal, only fix

[code]

and I think

will be too annoying

[2019-10-18 00:06] maximelkin commented on #130
Can I take this?

[2019-10-19 04:21] jamesgeorge007 opened #423 "Rule Proposal: use Array.prototype.some() instead of repeated conditional checks"
Say that we've to show up help information when both `-h` and `--help` flags are fired in.

## The Approach

[code]

## What Intended
[code]

[2019-10-19 07:22] sindresorhus commented on #423
I don't think I've ever seen this done before.

[2019-10-19 07:22] sindresorhus commented on #423
I think this could be part of the [`prefer-includes`](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prefer-includes.md) rule.

[2019-10-19 08:52] jamesgeorge007 commented on #423
Oops! that was a typo.

[2019-10-19 08:58] jamesgeorge007 commented on #423
I would love to submit a PR :+1:
@sindresorhus it would be great if you could guide me through as I'm new to the codebase :clap:

[2019-10-19 09:04] sindresorhus commented on #423
Let's first see if the other maintainers agree on this change.

[2019-10-20 03:29] futpib commented on #423
I think we could report expressions like `x === a || x === b || ...` when there is more than 3 (or a configurable number) of comparisons to suggest that the list of options has likely grown enough to deserve it's own constant definition.

[code]

But we should not fix this into `[a, b, ...].includes(x)` (or into anything else) unconditionally because IMO the best fix depends on complex factors suc

[2019-10-28 12:02] buschtoens commented on #372
I have a very similar case.

[code]

If I lift the `assert` reference out of the `for` loop, the false negative vanishes.

[code]

I did not look at the rule source code yet, but it looks like only the root function body scope is checked for references.

[2019-10-29 01:32] MrHen commented on #423
Personally, I've never been a big fan of using `includes` in this manner _for JavaScript_ because it causes the code to read "backwards". I want to see the variable on the left and the compared value on the right.

That being said, I think this is a valid stylistic check. Super long conditionals are irritating and whenever there are two ways it smells like a valid lint rule.

I agree with @futpib,

[2019-10-29 17:37] voxpelli commented on #423
I don't think should be a rule that's active by default, especially not if applying even to 2 values.

I would also push for making it possible to configure the threshold to something higher than 2, so one could eg. require this just for checks against at least 3 or 4 values

[2019-10-29 21:01] robatwilliams opened #427 "Rule proposal: no-improper-camelcase"
This rule would fail when the constituent part of closed-form compound words are capitalised.

### Fail
[code]

### Pass
[code]

### Problem statement
Compound words are formed by joining together two or more other words. Closed-form compound words do that without a hyphen/space. They are words in their own right, and should be treated as such when applying programming casing conventions.

Time an

[2019-10-30 05:51] sindresorhus commented on #427
I haven't really seen this problem myself, but it makes sense as a rule.

How do you plan to gather the words? Do you have a source in mind or is it going to be a manually made list?

I think we could reuse a lot of the machinery for the [`prevent-abbreviations` rule](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prevent-abbreviations.md) for this.

[2019-10-30 09:25] robatwilliams commented on #427
I think it's more common when developers with less good English are (or previously were) working on a project.

A clever approach for the word list might analyse a Hunspell dictionary to identify compound words, either at plugin build-time or at runtime. I'm not convinced that effort would be justified, so a manual list of words that come up in development would be simpler and sufficient.

[2019-10-30 11:18] fisker commented on #427
How about make a dictionary, and use https://github.com/sindresorhus/eslint-plugin-unicorn/blob/f79cd8389398926757c6f7321e95e622ad92dd88/rules/prevent-abbreviations.js#L277 to spit words and check all combinations

[2019-10-31 08:06] fisker commented on #423
@jamesgeorge007  https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/new-rule.md#creating-a-new-rule

[2019-10-31 08:27] fisker opened #428 "Test rule examples"
It would be great, if we can test examples in `docs/` automatically, is this can be done?

[2019-11-05 17:24] jorgegonzalez opened #429 "Rule proposal: `prefer-optional-chaining`"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining

[code]

[2019-11-05 17:47] yakov116 commented on #429
@jorgegonzalez `Experimental. Expect behavior to change in the future.`
maybe in a year or 2

[2019-11-05 18:16] jorgegonzalez commented on #429
It's in Stage 3 and already landed in Babel and TypeScript 🤷‍♂

[2019-11-05 21:50] himynameisdave commented on #423
FWIW I just wanted to add a minor point here: The performance of the `.includes` version is always going to be _slightly_ worse than a string of conditional checks (presumably because of the array initialization). I still think we should add this as an option to the `prefer-includes` rule, but maybe the default should be for it to not be on?

[Here's a simple benchmark](http://jsben.ch/Lg5l8) if y

[2019-11-05 23:25] fisker commented on #429
why close?

[2019-11-06 06:24] sindresorhus commented on #429
Big 👍, but we have to wait for ESLint to add support for it in their parser first.

[2019-11-06 22:06] jorgegonzalez commented on #429
Can I implement this when the time comes? I've always wanted to learn how to write an ESLint rule!

[2019-11-07 15:33] kalbert312 opened #430 "[filename-case] error for file name with exact name the rule suggests."
Hello. Today I received some strange error related to filename-case:

On the left: create-react-app `npm run start`, On the right: `npm run lint` -> `eslint 'src/**/*.{js,jsx,ts,tsx}'`
I'm using the `EXTEND_ESLINT=true` flag for create-react-app.
![Screen Shot 2019-11-07 at 10 31 36 AM](https://user-images.githubusercontent.com/5498623/68402759-d53ce680-0149-11ea-8fc5-7dae773dae0a.png)
This was af

[2019-11-07 16:44] evilebottnawi commented on #395
WIP on the `whitelist` option.

Other case - i use `eslint-plugin-markdown` for linting code in Markdown files (using `kebabCase` and `pascalCase` values) so the `filename-case` rule report on some files, for example `.github/ISSUE_TEMPLATE` can be written in `kebabCase` or `pascalCase`.

Also many developers use `README.md` and `CHANGELOG.md` as standard practice.

[2019-11-07 16:47] evilebottnawi commented on #395
Maybe we should use `ignore` name because eslint uses `ignore` as options in some rules, anyway it will be easy to rename

[2019-11-08 08:04] fisker commented on #395
`ignore` sounds better

[2019-11-08 08:15] fisker commented on #430
can't reproduce, I ran test on `src/util/query-param-util.ts` passed, have you set options on this rule?

[2019-11-08 08:25] fisker commented on #430
I also test with options: `{cases: {kebabCase: true, pascalCase: true}}`,

`queryParamUtil.ts` got

``Filename is not in kebab case or pascal case. Rename it to `query-param-util.ts` or `QueryParamUtil.ts` ``

and `query-param-util.ts` no error

[2019-11-08 11:03] sindresorhus commented on #395
Let’s go with `ignore`.

[2019-11-08 14:42] kalbert312 commented on #430
Options are kebab case and pascal case. Even if I rename the still to something else (`query-params.ts`), the error suggests renaming it to `query-param-util.ts` or `queryParamUtil.ts`, but only during create-react-app dev. ESLInt on the command line works fine. Still trying to debug it.
![Screen Shot 2019-11-08 at 9 42 25 AM](https://user-images.githubusercontent.com/5498623/68484852-1eee0580-020

[2019-11-08 15:04] thierry2015 opened #432 "Allow pre-release todo comments"
As a developer, I want to be able to use todo comments with major release expiration while developing a pre-release version so I can progressively fix those todos without CI errors.

I am currently working on a 1.0.0-beta.1 version, and I want to deprecate a method, indicating that it will be removed in the official release (1.0.0). I want to have a `TODO` reminder that the method should be remove

[2019-11-08 15:22] fisker commented on #430
How this even possible... there must be something wrong, good luck

[2019-11-08 15:25] kalbert312 commented on #430
Beats me... I just ended up disabling it.

[2019-11-08 18:29] sindresorhus commented on #432
@lubien Thoughts?

[2019-11-11 16:18] kripod opened #433 "Rule proposal: `prefer-replace-all`"
As the `replaceAll` method is [being added](https://v8.dev/features/string-replaceall) to strings, I think it would be a great opportunity to create a rule which warns on patterns similar to:

[code]

Auto-fixing may also be possible:

[code]

[2019-11-12 08:43] fisker commented on #433
other cases:

1.

[code]

2.

[code]

[2019-11-12 08:59] sindresorhus commented on #247
There seems to be something weird with using `default` in the ESLint rule schema: https://github.com/sindresorhus/eslint-plugin-unicorn/pull/332

One task for this issue is to try to identify if this is an ESLint bug and if so report it there.

[2019-11-12 09:05] sindresorhus commented on #157
This is up for grabs again. If anyone wants to tackle this, you can probably continue where https://github.com/sindresorhus/eslint-plugin-unicorn/pull/261 left off.

[2019-11-12 09:08] sindresorhus commented on #36
This is up for grabs again. If anyone wants to tackle this, you can probably continue where https://github.com/sindresorhus/eslint-plugin-unicorn/pull/233 left off. Make sure you address the feedback given there.

[2019-11-12 09:13] sindresorhus commented on #122
This is up for grabs again. If anyone wants to tackle this, you can probably continue where https://github.com/sindresorhus/eslint-plugin-unicorn/pull/224 left off. Make sure you address the feedback given there.

[2019-11-12 13:44] lubien commented on #432
First of all, thanks for pointing this issue @thierry2015 and for the clear explanation.

**tl;dr:** I think I found a solution that doesn't require any additional options.

----------

Explaining for future reference:

SO basically the point of `semver.coerce` was to handle not fully written versions such as `1` or `1.0`. Little did I know about how it handles pre-releases.

As of [this](https://

[2019-11-12 19:21] thierry2015 commented on #432
Great investigation job @lubien !

[2019-11-14 05:45] #395 closed

[2019-11-14 07:24] fisker commented on #430
can we close this?

[2019-11-15 04:45] #432 closed

[2019-11-15 20:01] Torhal commented on #347
This would be especially helpful for the "prevent-abbreviations" rule. At the moment, I can't use it with TypeScript because the fix removes the typings for function/method parameters which is disastrous for parameter objects.

[2019-11-15 21:22] kalbert312 commented on #430
I guess. It's no longer affecting me but I never determined what the cause was.

[2019-11-16 00:15] #430 closed

[2019-11-16 08:10] sindresorhus opened #438 "Make `prevent-abbreviations` rule work better with TypeScript ESLint"
Currently, the rule's auto-fixer removes all types. Would be useful to make it preserve types when https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser is the parser.

[2019-11-16 08:10] sindresorhus commented on #347
@Torhal Agreed. Moved it into a new issue: https://github.com/sindresorhus/eslint-plugin-unicorn/issues/438

[2019-11-18 10:54] evilebottnawi opened #439 "Rule proposal: `prefer-trim-start-end` evaluating"
Prefer `trimStart` over `trimLeft` (alias) and `trimEnd` over `trimRight` (alias)

Ref: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimstart
Ref: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimend

Maybe better name for rule

[2019-11-18 14:14] sindresorhus commented on #439
PR welcome :)

[2019-11-18 15:09] fisker commented on #439
name: `prefer-trim-start-end`, shorter

<details>
<summary>rules by name length</summary>
<code><pre>
no-unreadable-array-destructuring
prefer-exponentiation-operator
no-fn-reference-in-iterator
consistent-function-scoping
prefer-trim-start-and-end  // No.5
prefer-add-event-listener
no-abusive-eslint-disable
prefer-starts-ends-with
custom-error-definition
expiring-todo-comments
prevent-abbreviatio

[2019-11-19 01:17] fisker commented on #439
I'm going to work on this, should be very simple

[2019-11-19 06:14] #307 closed

[2019-11-23 14:29] sindresorhus opened #441 "Support the ESLint Suggestions API"
There have been many cases where we could not provide auto-fixers because it was either not safe or there were multiple possible fixes. The [Suggestions API](https://eslint.org/docs/developer-guide/working-with-rules#providing-suggestions) enables us to provide multiple fixes that can be manually chosen by a user in an editor.

We should go through existing rules with no auto-fixers or with incomp

[2019-11-23 15:03] fisker commented on #441
we need `eslint-ava-rule-tester` support right?

[2019-11-23 15:10] sindresorhus commented on #441
Maybe. Could simply be that we need to add a condition for it here: https://github.com/jfmengels/eslint-ava-rule-tester/blob/67878c62376c0f45e534eef00202be49d3c37fc5/index.js#L30-L32

[2019-11-24 09:27] #157 closed

[2019-11-27 03:16] jorgegonzalez commented on #429
https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/prefer-optional-chain.md

[2019-11-27 06:17] fisker opened #443 "`prevent-abbreviations` fixer bug on deconstructing"
just run `prevent-abbreviations` against a large code base, found two fixer bug

input:

[code]

fix:

[code]

expect:

[code]

[2019-11-27 06:20] fisker commented on #443
just found #330 is part of this

[2019-11-27 06:39] fisker commented on #443
only report when using `babel-eslint` parser

[2019-11-27 08:32] fisker commented on #443
another bug, only on `babel-eslint` parser

[code]

fix to

[code]

should be

[code]

[2019-11-27 08:45] fisker opened #445 "`prevent-abbreviations` fixer bug on global variable"
found this duration #444 , it's in our test

https://github.com/sindresorhus/eslint-plugin-unicorn/blob/a496e96d1e8c4572bffa5c0c4dbb9a8404eb4360/test/prevent-abbreviations.js#L974-L988

but, `property` in first one could be a global variable.

--- FYI: I've checked this code bellow is right

[code]
fix to

[code]

[2019-11-27 09:37] #439 closed

[2019-11-27 09:40] sindresorhus commented on #155
This is up for grabs again. If you want to work on this, you can continue where https://github.com/sindresorhus/eslint-plugin-unicorn/pull/220 left off. Make sure you address the review comments from that PR.

[2019-11-27 12:56] #415 closed

[2019-11-29 08:59] sindresorhus commented on #433
This is accepted. PR welcome.

[2019-11-29 09:07] sindresorhus commented on #418
Yeah, let's remove the fixer for now, and we can bring it back for TypeScript users when we do https://github.com/sindresorhus/eslint-plugin-unicorn/issues/347.

[2019-11-29 09:09] sindresorhus commented on #418
Actually, we could convert it into a suggestion => https://github.com/sindresorhus/eslint-plugin-unicorn/issues/441

[2019-11-29 09:12] sindresorhus commented on #401
Are you still interested in working on this? No pressure at all. Just want to open this issue up for other if you're busy :)

[2019-11-29 09:14] sindresorhus commented on #144
@SamVerschueren Can you check?

[2019-11-29 09:17] #330 closed

[2019-11-29 09:17] #443 closed

[2019-11-29 09:59] fisker commented on #418
just checked the rule, this NumberOfArguments is not right, more than 1/2 arguments , some of those methods may have up to 4 arguments, if I remember correctly

https://github.com/sindresorhus/eslint-plugin-unicorn/blob/567c9700e1557dce326001b7f2fe2ad1c7b0adc7/rules/no-fn-reference-in-iterator.js#L4-L14

[2019-11-29 11:58] merlinnot opened #446 "(v14): false-positive "Invalid regular expression: Lone quantifier brackets""
Hi! I noticed a bug in the latest release with some regular expressions, as this one:

[code]

It makes ESLint crash (not report an error, actually crash).

[2019-11-29 11:59] gcangussu opened #447 "regex-shorthand suggesting invalid regular expression"
I have this error
[code]

But the regex `/([\s-.@_])/u` is invalid, as it is trying to say a range between `\s` and `.` (`\s-.`).

If I manually change it to `/[\s.@_-]/u`, which is correct, I get:
[code]

My change is correct, as `-` at the end of a match group means literally `-`. But the optimization suggestion is wrong because it means a range.

I had had these problems with eslint-plugin-unic

[2019-11-29 12:08] merlinnot opened #448 "(v14): false-positive "Invalid regular expression: Invalid character class""
Hi! I noticed a bug in the latest release with some regular expressions, as this one:

[code]

It makes ESLint crash (not report an error, actually crash).

[2019-11-29 12:44] sindresorhus commented on #448
// @jdanil

[2019-11-29 12:44] sindresorhus commented on #447
// @jdanil

[2019-11-29 13:18] lubien commented on #401
@sindresorhus Interested for sure but I'm afraid my free time wont be enough for a couple weeks or so.

Sorry for delaying this but would be best if we open this issue for another person for now but I'm eager to return contributing soon anytime by December so whenever I can help please tag me.

[2019-11-29 13:32] yangmingshan opened #449 "`prefer-trim-start-end` document seems to be wrong"
`Fail` and `Pass` need to switch.

Ref: https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prefer-trim-start-end.md

[2019-11-29 13:59] fisker commented on #449
yes, its not right. thanks

[2019-11-29 15:27] #449 closed

[2019-11-29 17:15] fisker commented on #447
@gcangussu what version of `eslint-plugin-unicorn` on your case?

[2019-11-29 19:10] gcangussu commented on #447
@fisker It was eslint-plugin-unicorn@14.0.0

[2019-11-29 23:57] fisker commented on #447
thank you, it's bug

[2019-11-30 03:31] brettz9 opened #453 "(v14): Make character class sorting in `regex-shorthand` optional or at least documented"
Hi,

With the latest 14.0.0, I'm getting the following false positive for `regex-shorthand` (besides those reported).

The rule is expecting sorting within character classes, though this is not advertised as being part of the rule in the docs. E.g., `/#([^)'"]+)/` can be optimized to `/#([^"')]+)/` . I think this should be either advertised as such, or, better yet, made into an option, since it is

[2019-11-30 06:36] fisker commented on #453
We are using `regexp-tree` to optimize them since 14.0.0, unfortunately seems there  is no option to avoid sorting character class https://github.com/DmitrySoshnikov/regexp-tree/tree/master/src/optimizer#transforms

I guess we can document this.

[2019-11-30 09:01] #446 closed

[2019-11-30 09:01] #447 closed

[2019-11-30 09:01] #448 closed

[2019-11-30 09:03] sindresorhus commented on #453
Yes, let's document it.

[2019-11-30 18:00] fisker opened #460 "Disscuss `dir => direction` replacement"
I was trying to do something about `prevent-abbreviations`, found something interesting about `dir => direction` replacement,

@futpib suggested this first, https://github.com/sindresorhus/eslint-plugin-unicorn/pull/237#issuecomment-467945046

@sindresorhus decided to drop it https://github.com/sindresorhus/eslint-plugin-unicorn/pull/237#issuecomment-470940285

then added it again https://github.c

[2019-11-30 19:12] fisker opened #463 "Proposal changes on `prevent-abbreviations`"
I did a little research on how people use `prevent-abbreviations`, found some reasonable usecase

I think we should add them to whitelist

`EmberENV`
https://api.emberjs.com/ember/3.10/classes/Ember.EmberENV/properties
https://github.com/ClarkSource/eslint-config/blob/3f6ca81b44bddbfd6a5cd4a9e00950aa3f2fb213/packages/eslint-config-node/index.js#L28
also `launch_in_dev`
https://guides.emberjs.com/v

[2019-12-01 02:48] brettz9 commented on #453
@fisker : Thank you for the background info.

I've filed https://github.com/DmitrySoshnikov/regexp-tree/issues/199 in the hopes it may be possible to configure in the future.

[2019-12-01 09:21] sindresorhus commented on #460
My comment was before we started supporting combinations like `sortDir`, which does make sense. I don't think we should do anything about this. However, what will help a lot would be to support the [ESLint suggestions API](https://github.com/sindresorhus/eslint-plugin-unicorn/issues/441), which would let users interactively choose a fix in their editor.

[2019-12-01 09:24] sindresorhus commented on #463
I agree with everything except for `launch_in_dev` and `devServer`. Those are too generic.

[2019-12-01 09:30] sindresorhus commented on #463
One more: `getInitialProps`

[2019-12-01 10:00] fisker commented on #463
envs -> environments
app -> application

what do you think

[2019-12-01 10:08] sindresorhus commented on #463
Yes to the first two.

Not sure about the last one. I have never seen it used before and it could be ambiguous.

[2019-12-01 10:11] fisker commented on #463
https://github.com/search?q=tit+%E6%A0%87%E9%A2%98&type=Code

[2019-12-01 10:19] fisker opened #465 "Integration test need refactor"
never able to scroll to the end on CI

https://travis-ci.org/sindresorhus/eslint-plugin-unicorn/jobs/619179777?utm_medium=notification&utm_source=github_status

even raw log is colored

https://api.travis-ci.org/v3/job/619179777/log.txt

really hard to debug

[2019-12-01 10:35] sindresorhus commented on #463
Alright, we can try adding `tit`.

[2019-12-01 10:43] fisker commented on #460
Let's do suggestions later

[2019-12-01 10:43] #460 closed

[2019-12-02 10:38] #465 closed

[2019-12-03 05:41] #463 closed

[2019-12-03 07:27] voxpelli commented on #453
I agree that this is problematic.

One part of it is that different languages sort characters in different ways. Eg. in Swedish `åäö` is last in the alphabet and in that order and this rule eg. wants to resort `åä` to `äå`. To makes matter even more complicated, German sorts those letters after their dot-less equivalents, so `ä` after `a` and `ö` after `o` – so one universal true rule is not reall

[2019-12-03 09:50] voxpelli commented on #453
I did find a way to deactivate character sorting @fisker, you can find it in #468

[2019-12-03 13:56] fungiboletus commented on #453
May I suggest to disable character class sorting disabled by default ? The optimisation seems unnecessary and it makes regexps less readable.

[2019-12-03 15:58] fisker opened #469 "Rename `regex-shorthand` rule?"
`regex-shorthand` do more than just `shorthand` now, should we rename it?
also [`no-unsafe-regex` is buggy](https://github.com/sindresorhus/eslint-plugin-unicorn/issues/153) and already `off` by default, and I looked around, didn't found a better solution, maybe we can remove it, if we found a better way to do it, maybe we can add a option to `regex-shorthand` rule.

[2019-12-05 22:46] jorgegonzalez commented on #429
https://regex101.com/r/DiaDQr/3/

[2019-12-06 06:13] fisker commented on #429
Optional chaining is now stage 4!

[2019-12-06 06:21] fisker opened #471 "Rule Proposal: prefer-nullish-coalescing"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator

https://github.com/tc39/proposal-nullish-coalescing

[code]

anyway, it not safe for `foo || bar` -> `foo ?? bar`, we should [use ESLint suggestion api](#441)

[2019-12-06 06:32] sindresorhus commented on #471
For inspiration: https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/prefer-nullish-coalescing.md

This obviously has to wait until ESLint supports `??`.

[2019-12-06 06:33] sindresorhus commented on #469
Some name suggestions:

- `better-regex`
- `improved-regex`
- `optimized-regex`

[2019-12-06 06:49] yakov116 commented on #469
Optimized-regex

[2019-12-09 06:05] rsml opened #472 "regex-shorthand autofix changes the meaning of regex"
Using rule: `"unicorn/regex-shorthand": 2,`

This line:
`'a0'.split(/[ ;-]/g)`
=> `["a0"]`

Gets autofixed to:
`'a0'.split(/[ -;]/g)`
=> `["a", ""]`

To work around, I just added a blackslash before the `-`.

I think the autofix for `unicorn/regex-shorthand` should preserve the position of any hyphens at the beginning or end of a character class.

[2019-12-09 11:00] sindresorhus commented on #472
Can you open an issue on https://github.com/DmitrySoshnikov/regexp-tree? Which is what we use to optimize the regex. I think we should also disable that optimization for now until it's fixed in `regex-tree`.

[2019-12-09 18:03] EvgenyOrekhov opened #473 "unicorn/regex-shorthand vs eslint-plugin-optimize-regex"
What's the difference between `unicorn/regex-shorthand` and `optimize-regex/optimize-regex` from [eslint-plugin-optimize-regex](https://github.com/BrainMaestro/eslint-plugin-optimize-regex)?

[2019-12-09 19:55] rsml commented on #472
It was reported a year ago over there: https://github.com/DmitrySoshnikov/regexp-tree/issues/163. I agree with disabling it for now.

[2019-12-12 14:34] Stanzilla opened #475 "File extension option for filename-case rule"
Hey there, any way we could get an option to also (or just) check file name extensions with this rule?

[2019-12-12 19:08] sindresorhus commented on #475
What's the use-case? Would be good to see an example of how you would use such an option.

[2019-12-12 19:15] Stanzilla commented on #475
Mainly because my editors keep checking in .PNG/.JPG etc. Currently using a pre-commit hook to prevent that but alerting before would be nice.

[2019-12-17 02:28] ai opened #477 "Wrong unicorn/regex-shorthand fix"
Code:

[code]

ESLint output:

[code]

But `/[ \n\t\r\f{}()'"\\;/[\]#]/g` is not equal to `/["#'()/;[\\\]{}]/g` (space symbols were missed).

eslint-plugin-unicorn@14.0.1

[2019-12-17 03:05] fisker commented on #473
currently there is not much difference for `RegexLiteral`, they are all based on `regexp-tree`

`unicorn/regex-shorthand` also optimize `RegExp` with string arguments, which `eslint-plugin-optimize-regex` doesn't.

`unicorn/regex-shorthand` disabled optimize for regex with `u` flag, because `regexp-tree` can't handle well

https://github.com/sindresorhus/eslint-plugin-unicorn/pull/437#issuecomment

[2019-12-17 03:51] fisker commented on #477
found minimal reproduction regex `/[ \n\t\r\]]/g`

[2019-12-17 05:38] #473 closed

[2019-12-17 09:00] KostiantynKopytov opened #478 "[Bug] Invalid shorthand fix"
`/^[-0-9a-z]+$/i` is replaced with `/^[\d-a-z]+$/i` by moving first dash after \d it breaks it.

[2019-12-17 10:26] momakes opened #479 "Error while loading rule unicorn/expiring-todo-comments"
`ESLint: Error while loading rule 'unicorn/expiring-todo-comments': Invalid Version: null Occurred while linting`

I keep getting it on every ESLint run in VS Code on any file that has a TODO comment with version. Wasn't like this before. Tried updating, no luck.

What else can I provide?

[2019-12-17 10:47] sindresorhus commented on #479
// @lubien

[2019-12-17 11:16] momakes commented on #479
Update: Here's a GIF to demonstrate (it's annoying!)
![CleanShot 2019-12-17 at 14 44 51](https://user-images.githubusercontent.com/56743114/70991031-f47d4b00-20db-11ea-8ae0-d0744f1e25a7.gif)

[2019-12-17 11:25] futpib commented on #478
This looks like a duplicate of #472.

@KostiantynKopytov if that's not the case, please explain why and we'll reopen.

[2019-12-17 11:25] #478 closed

[2019-12-18 13:43] SimenB commented on #479
FWIW 12.1.0 works, >=13 has the error

[2019-12-19 19:01] lagden opened #480 "prefer-string-slice bad example"
A better example may help. Because it's not 1:1

[code]

[2019-12-19 19:49] sindresorhus commented on #480
Why is the example bad?

[2019-12-21 00:29] fisker commented on #469
for now `optimized-regex` sounds reasonable, if we try combine `no-unsafe-regex` with this one, I perfer `better-regex`

[2019-12-22 16:58] sindresorhus commented on #477
Maybe there's an optimization we can disable? This should also be reported to https://github.com/DmitrySoshnikov/regexp-tree.

[2019-12-22 17:27] #344 closed

[2019-12-22 19:50] jmoore914 commented on #433
I'll give it a go!

[2019-12-23 00:38] ai commented on #477
@sindresorhus I like this rule a lot 😍

What do we need to report to `regexp-tree`? Does it generate wrong AST?

[2019-12-23 18:02] fobdy commented on #372
Have the similar issue at line 2 with the following:

[code]

[2019-12-23 18:26] bmish opened #481 "v15 is incompatible with Node 8"
[v15](https://github.com/sindresorhus/eslint-plugin-unicorn/releases/tag/v15.0.0) was just released and is incompatible with Node 8 due to the dependency on semver being upgraded.

[code]
I understand that Node 8 is end-of-life soon, so if this breaking change is intentional, it would help if it was documented in the release notes / CHANGELOG / README.

If the change is not intentional, then semve

[2019-12-23 18:48] #481 closed

[2019-12-23 18:50] sindresorhus commented on #481
This was not intentional. I'll make sure it doesn't happen again: https://github.com/sindresorhus/np/issues/480

Because npm doesn't enforce the `engine` field. It's really stupid.
https://docs.npmjs.com/misc/config#engine-strict

[2019-12-23 19:19] gurpreetatwal opened #483 "Docs: direct users towards core `prefer-exponentiation-operator` rule"
eslint's `6.7.0` release has a [`prefer-exponentiation-operator`](https://eslint.org/docs/rules/prefer-exponentiation-operator) rule.

I don't think it's worthwhile removing the rule entirely from the plugin (users might be stuck on older version of eslint), but a good first step towards deprecation might be to start directing users to the core rule on the docs.

Thoughts?

[2019-12-24 18:17] jmoore914 opened #486 "Rule proposal: `prefer-ternary`"
This rule would enforce using ternary expressions to simple if/then/else statements.

# Fail
[code]
# Pass
[code]
[code]

This rule could have options for whether it would be enabled for various situations (e.g. variable assignments, return statements, function calls).

I've already written this rule as a normal ESLint plugin so it would just need some minor rewriting to conform to the unicorn lin

[2019-12-24 18:35] jmoore914 opened #487 "Scripts in `package.json` throw errors on Windows systems"
Windows is unable to interpret ```./``` at the start of the lint and integration scripts and throws this error:
[code]

Replacing the  './' with 'node ' would fix this issue on Windows systems.

[2019-12-25 15:32] fregante commented on #480
Because apparently it suggests that `slice(4,4)` is the same as `substr(4,4)` but in fact the former means nothing as the result is always `''`

[2019-12-25 15:35] fregante commented on #480
The actual example uses `1, 3` as indexes; the slice one should be `1, 4` to have the same result afaik

https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prefer-string-slice.md

[2019-12-25 15:50] fregante commented on #402
Honestly I’d block `location.href =` usage too. Often people use it instead of `location.replace()` for redirects and break the back button.

 `href` still makes sense when it’s inside a click listener but even then sometimes it’s just people not realizing they can use a plain anchor. It could be a `eslint-disable-line` exception

[2019-12-26 15:35] jmoore914 commented on #295
I can take this one!

[2019-12-27 03:29] fisker commented on #295
@jmoore914 I thought this is fixed by #476 , but apparently `ArrayPattern` is missed, I just send a follow up PR #489 fix this.

@sindresorhus @MrHen I missed this issue, when I review #476, we already do destructuring in the `for...of`.

[2019-12-27 06:50] fisker opened #491 "Need improve `number-literal-case` rule"
Problem:

Exponential number is not considered. `0E1` will fixed to `0e1`, but `1E1` is not fixed to `1e1`.

We should either check strict with `/^0[box]/` or handle more cases like `1.0e+1` `1.0e-1`

[2019-12-27 09:17] fisker commented on #491
One more thing: should also test Numeric separator, like `0xdead_BEEF`

[2019-12-30 15:32] #483 closed

[2019-12-30 22:49] #491 closed

[2020-01-01 02:28] oprogramador opened #493 "why major dump to v15?"
Why did you upgrade major version to v15?
Are there any breaking changes?

[2020-01-01 02:59] sindresorhus commented on #493
If we add new rules, it’s a breaking change as the new rule might cause a long error which can break your build/CI.

[2020-01-01 02:59] #493 closed

[2020-01-01 03:56] oprogramador commented on #493
OK, thanks

[2020-01-03 06:28] fisker commented on #479
@momakes Can you test if #494 fixes your problem?

You can add this by `yarn add fisker/eslint-plugin-unicorn#fix-expiring-todo-comments` or `npm i fisker/eslint-plugin-unicorn#fix-expiring-todo-comments`(not sure this command is correct)

[2020-01-03 09:23] fisker opened #495 "Rule proposal: `prefer-set-has`"
Enforce use `Set` for existence check over `Array#includes`.

# Fail

[code]

# Pass

[code]

This rule might should not fail on this

[code]

Maybe only check variables and check references. Also perhaps the rule name `prefer-set-has` ?

real world case: https://github.com/sindresorhus/eslint-plugin-unicorn/blob/d638e5477d7240ea777dcaf249d0121a5a1910eb/rules/prefer-node-append.js#L6-L17

[2020-01-03 11:12] yakov116 commented on #495
@fisker your would need to know that the array is never used anywhere else. Maybe items are pushed on laster that will have duplicate values.

[2020-01-03 11:40] fisker commented on #495
@yakov116 Yes, need check all references only called `#includes()` or `#indexOf()`, and not exported.

[2020-01-05 23:57] SimenB commented on #479
@fisker works in my project 👍

[2020-01-06 00:23] fisker commented on #479
@SimenB Thanks.

[2020-01-06 05:47] sindresorhus commented on #495
👍

I don't think it could consider `indexOf` as it's not just used for existence checks, and we already have a rule to enforce `includes` over `indexOf`.

---

I think this would be a useful rule, but I don't think it should be auto-fixable.

[2020-01-06 08:01] fisker commented on #327
@sindresorhus I have a problem on report message, if we treat match as `RegExp`

[code]

How do we report?

1. Message: ``Prefer `github.com`.``
2. Add `pattern.message`, and default to ``Prefer `github.com`.``
3. Report the pattern, Message ``Prefer `github.com` over `/https\?:\/\/www\\.github\\.com/gu`.``
4. Don't support `RegExp`

Another problem, this rule original idea to fix `'` to `’`, so d

[2020-01-06 08:21] sindresorhus commented on #327
I would go with both 2 and 3. Default to 3, but allow overriding the message.

We could make the key be the match:

[code]

And allow setting it to `false`. Then the user could either override or disable with:

[code]

[2020-01-09 23:08] kevinoid commented on #375
My apologies for the late follow-up, but I don't believe this issue is completely fixed.

With ESLint 6.8.0, eslint-plugin-unicorn 15.0.1, and "extends": "plugin:unicorn/recommended" I still observe the same error with the original example code.  #378 appears to have fixed the issue if `module.exports = ` is not present, but when it is present (as in the original example) the issue still occurs.

[2020-01-17 09:19] brettz9 opened #497 "`prefer-node-remove`: prevent fixer when using return value"
`prefer-node-append` currently checks for use of the return value since the replacement of `appendChild`, `append`, does not return a value.

`prefer-node-remove` should do the same, since the old `replaceChild` returned a value (the removed node) while `ChildNode.remove()` does not return a value.

[2020-01-20 13:58] PopGoesTheWza opened #499 "erroneous unicorn/regex-shorthand"
Just to add another case of erroneous regex fix:

This regex `/^[a-z][a-z0-9\-]{5,29}$/` is changed to `/^[a-z][\d-a-z]{5,29}$/`...

Replacing `[0-9]` with `[\d]` is fine but changing `\-` into `-`, without moving it to first position breaks the regex.

Either `/^[a-z][-\da-z]{5,29}$/` or `/^[a-z][\d\-a-z]{5,29}$/` would be acceptable solutions.

Here is a [Repl.it link](https://repl.it/@PopGoesTh

[2020-01-20 17:55] #487 closed

[2020-01-21 02:22] brettz9 opened #501 "Testing enhancement: Testing individual rules or cases"
For `eslint-plugin-jsdoc`, we have added a convenient testing feature that allows us to run tests like `npm run test-index --rule=xyz --invalid=3-5` or `npm run test-index --rule=xyz --valid=-1` (with slice-like ranges/indexes/negative indexes). This alone has been extremely helpful for rapid testing and development, and I would suggest it be considered for `eslint-plugin-unicorn`.

Alternatively,

[2020-01-21 02:33] brettz9 commented on #428
One could use a Markdown parser to grab the contents and execute those tests, though you'd need the config to be parseable.

Alternatively, https://github.com/gajus/gitdown could be used. We're using this in `eslint-plugin-jsdoc` to have the tests and their config/results ported into the final docs as part of a document build process. (unicorn wouldn't need to use eslint-plugin-jsdoc's approach of

[2020-01-21 05:52] #497 closed

[2020-01-21 07:06] #479 closed

[2020-01-21 10:17] sindresorhus commented on #501
Yes, that would indeed be useful.

[2020-01-21 10:18] sindresorhus commented on #428
I don't think we should generate the doc examples from tests. I think the examples should be hand-picked.

[2020-01-21 10:19] sindresorhus commented on #495
Accepted

[2020-01-21 10:19] sindresorhus commented on #486
Accepted

[2020-01-21 11:52] fregante commented on #208
I see two separate rules:

- "disallow objects as defaults" unless they're empty objects (this issue)
- "prefer default parameters to `foo = foo || 2`", unless it's a (complex) object (https://github.com/sindresorhus/eslint-plugin-unicorn/issues/29)

### `prefer-default-parameters`

If you already use default parameters, this rule should never complain. This is more about moving obsolete "default

[2020-01-21 11:54] fregante commented on #29
@MrHen this doesn't seem to be valid ES:

[code]

[2020-01-21 12:45] brettz9 commented on #501
I have something working locally as a patched version of `eslint-ava-rule-tester`.

However, as I see no good way to get ava to dynamically ignore a test after the tests have begun, I see no way to avoid getting messages for each ignored file such as "No tests found in test/prefer-trim-start-end.js".

I suppose we could instead dynamically build a CLI glob pattern but besides feeling hacky and req

[2020-01-23 12:01] Moeriki opened #502 "`expiring-todo-comments`: add regex option"
I would love to be able to allow certain regexes.

### Use Case

I want to allow TODOs that reference a JIRA or GitHub issue id.

Eg.

[code]

Could this be something useful to be included?

[2020-01-23 12:16] sindresorhus commented on #502
Can you elaborate more on how the regex option would work? Maybe illustrate it with an example of how it’s config would look like.

[2020-01-23 12:48] Moeriki commented on #502
### Config

[code]

### Example

[code]

### Code

The code should be [extended here](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/rules/expiring-todo-comments.js#L131) to iterate over the `allowArguments`.

### Notes

* The docs should make clear they run after the built-in matchers. Because in case of overlapping matches the `allowArguments` will not run.
* It makes no sense

[2020-01-26 07:01] #453 closed

[2020-01-26 19:48] jmoore914 commented on #501
I have a VSCode configuration to run/debug an individual test file that I can share if that would be helpful.

[2020-01-30 10:37] Moeriki commented on #502
If there is interest I could prepare a PR.

[2020-02-01 05:42] sindresorhus commented on #502
So you want to make `expiring-todo-comments` ignore the comment altogether? If so, I think just an `ignore` option that accepts an array of regexes that are matched on everything after `TODO ` would be more flexible.

[2020-02-01 10:43] #433 closed

[2020-02-01 11:02] sindresorhus opened #505 "Convert regexes to use named groups"
More info here: https://2ality.com/2017/05/regexp-named-capture-groups.html

You can see the first one done here: https://github.com/sindresorhus/eslint-plugin-unicorn/commit/d2ffe2c80fed224ead7a51066bc514bb1bd9f1d7#diff-5461aa51f131881046023a34787dcee0L8-R12

If the capture group is not used, it should be converted from `(group)` to `(?:group)`.

[code]

[2020-02-01 13:32] Moeriki commented on #502
That certainly would be more flexible.

So I would set the config to this.

[code]

So neither of these will give a warning.

[code]

[2020-02-01 14:09] sindresorhus commented on #502
Correct. PR welcome for that.

[2020-02-02 07:03] brettz9 opened #506 "`prefer-node-remove`: Remove requirement for `removeChild` to be on `parentElement` or `parentNode`"
There is a requirement specific to `prefer-node-remove` which expects the parent to be named "parentNode" or "parentElement".

There is no such requirement in `prefer-modern-dom-apis` with `replaceChild` or `insertBefore`, and I think there need be no such requirement.

[2020-02-02 07:14] fisker commented on #506
Can you point me the line ? Can't find

[2020-02-02 07:20] brettz9 commented on #144
When the `env` has `node`, `no-global-assign` will only report if one attempts to overwrite the whole variable, e.g., `global = 'bar';`. See https://runkit.com/brettz9/5e3676fecfe2f1001a4f9159 .

The rule won't report for adding to global properties as in the original post. See https://runkit.com/brettz9/5e36777bfa499e001b98ecb4 .

[2020-02-02 07:22] brettz9 commented on #506
Sure. https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/rules/prefer-node-remove.js#L63-L64

[2020-02-02 07:26] brettz9 commented on #144
Particularly in the age of ES modules, this sounds like a great rule. Even a rule to prevent reading from the global object (besides exceptions) would be great (including for checking imported code, as a kind of privilege checker).

[2020-02-02 07:34] fisker commented on #506
Sorry , I thought talking about `prefer-modern-dom-apis` haha.

Indeed, it seem unnessary, I think the old one mean to fix only  `foo.parentNode.removeChild(foo)` but accidentally also allow `parentNode.removeChild(foo)`.

Question is ` can bar.removeChild(foo)` fix to `foo.remove()`, I think its safe.

[2020-02-02 07:38] brettz9 commented on #506
Yes, I think it would be. And sometimes I even use `parentNode` as the variable name, e.g., `const {parentNode} = node;` so end up with `parentNode.removeChild(foo)` or, as in your example, `bar.removeChild(foo)`.

[2020-02-02 07:42] fisker commented on #506
Also I think old one  allow `foo.parentNode.removeChild(bar)` since argument and caller is  not compared. so this check is meaningless. Can you confirm this for me? Not on my laptop

[2020-02-02 07:46] brettz9 commented on #506
`foo.parentNode.removeChild('bar')` is a valid test case (i.e., it is not reported).

I think it should be reported thoug since `foo` could be a sibling of `bar`.

[2020-02-02 07:49] fisker commented on #506
No this case is not what I mean , Literal cant pass argument check `bar` without quotes

[2020-02-02 07:50] brettz9 commented on #506
Oh, oops, yeah, I see... Let me check.

[2020-02-02 07:50] brettz9 commented on #506
You're right, `foo.parentNode.removeChild(bar)` is reported as invalid and fixed to `bar.remove()`.

[2020-02-02 07:51] fisker commented on #506
Ok, accepted. remove that check, PR welcome

[2020-02-02 07:59] fisker commented on #506
Other things  to be done,

1. check arguments length, as we do in other similar cases
2. fix the argument check, should allow other types like `removeChild(foo.bar)` `removeChild(foo[0])` , it should allow any type except some type that cant be a `Node` like literal type

[2020-02-02 09:00] brettz9 commented on #506
Ok, I've done #1 (including for `prefer-node-append`, where I also changed to include the callee property name inside the selector).

I'm not sure what you mean about the parentheses in #2.

[2020-02-02 09:04] brettz9 commented on #506
And I've added the callee type within the selector for `prefer-modern-dom-apis`.

[2020-02-02 09:06] brettz9 commented on #506
I don't know if you want to crowd any more than one condition into the selectors, even though it appears possible per https://eslint.org/docs/developer-guide/selectors#restricting-syntax-with-selectors .

[2020-02-02 09:18] fisker commented on #506
for 2, `foo.removeChild(foo.bar)` is not fixed, because arguments[0] is not `Identifier` or `ThisExpression`.

Abount I mean , `foo.removeChild(await bar())` can't fix to `await bar().remove()` should be `(await bar()).remove()`

And

[code]
to
[code]
still not right, this is right. (but we can forget about this, too hard)
[code]

[2020-02-02 09:23] fisker commented on #506
I think only check `callee.property.name` in selector is good enough, you can add more if you want.

[2020-02-02 16:17] fisker opened #510 "Rule proposal: Uppercase hex code point in string"
There are 3 types of escape notation in string can have hex value, should print in uppercase, just like [number-literal-case](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/number-literal-case.md):

1. `\uXXXX` (where XXXX is 4 hex digits; range of 0x0000–0xFFFF)
2. `\u{X}` ... `\u{XXXXXX}` (where X…XXXXXX is 1–6 hex digits; range of 0x0–0x10FFFF)
3. `\xXX` (where XX

[2020-02-02 16:44] sindresorhus commented on #510
How is this different from [`escape-case`](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/escape-case.md)?

[2020-02-02 21:23] fisker commented on #510
Sorry... I  didn't know it's already exits.

[2020-02-02 21:23] #510 closed

[2020-02-03 05:53] coreyfarrell opened #511 "prefer-replace-all: Could it handle regexp with the 'u' flag?"
[code]

Is it for technical reasons that this cannot be reported (ie regexp-tree failing to parse it)?  If not it would be nice if use of the unicode flag did not bypass this rule.  The primary use case is for code that has already been updated to comply with `require-unicode-regexp`.

[2020-02-03 06:30] sindresorhus commented on #511
// @jmoore914

[2020-02-03 06:36] sindresorhus commented on #144
I agree, this could be useful.

It should prevent setting properties on `window`, `global`, and `globalThis`.

[2020-02-03 06:36] sindresorhus commented on #144
I don't see how that's feasible in a browser environment. Pretty much everything are globals.

[2020-02-03 06:37] sindresorhus commented on #144
// @fisker Thoughts on this rule?

[2020-02-03 07:22] fisker commented on #144
How do we do with setting `windows` properties, `location`, `name`, `cookie`? those setters are sometimes useful, make a list?

[2020-02-03 08:31] sindresorhus commented on #144
We should only disallow setting nonexistent properties.

[2020-02-03 08:32] sindresorhus commented on #144
`self` too, yes.

[2020-02-03 08:33] fisker commented on #506
@brettz9 I thought about this today again. The fix maybe more complicate, say we have this

[code]

I think we just fix it to

[code]
someDomLib('div')
	.one()
	.two()
	.three()
	.four()
	.getParent(); // do a lot of stuff , and return the parent at last
bar.remove();
[code]

[2020-02-03 08:37] fisker commented on #144
By `nonexistent properties`, what about `window.JSON = require('json2')`  ?

I guess, `JSON` should considered `exist`, maybe people could allow it by `// eslint-disable`

[2020-02-03 22:22] jmoore914 commented on #511
Yes, there is no reason that this can't be updated to include the 'u' flag. If a unicode pattern was used (e.g. /\p{L}/gu) then the function `isLiteralCharactersOnly` would return false anyway. This is a quick fix so I should be able to put in a PR for it this weekend.

[2020-02-03 22:28] jmoore914 commented on #486
Progress so far: https://github.com/jmoore914/eslint-plugin-unicorn/tree/prefer-ternary

Just need to find time to add documentation which might take a while because of all the different options available.

[2020-02-04 20:59] Moeriki commented on #502
Question. Given this config.

[code]

Should this be a warning?

[code]

[2020-02-04 21:41] sindresorhus commented on #502
No, `ignore` would *ignore* the comment altogether if matched.

[2020-02-06 03:26] brettz9 commented on #144
@sindresorhus : If you mean that users need to access their own variables, besides the case of ESM where users don't need to access globals for such functionality, users can add their globals to `/* globals */` (or in their `.eslintrc.*`).

If you mean that the HTML APIs are globals, yes, but I had been thinking the rule could allow permitting certain globals (e.g., a `dom` option could enable acc

[2020-02-07 15:58] #505 closed

[2020-02-10 09:49] JounQin commented on #499
It maybe a bug of JavaScript itself: https://regexper.com/#%2F%5B%5Cd-a-z%5D%2F

But we have to "fix" it. :(

[2020-02-10 10:08] JounQin commented on #171
@sindresorhus Can we have an option for it? `slightly longer` is such redundant like ``#${setting}``.

[2020-02-10 11:08] sindresorhus commented on #171
@JounQin No, just disable the rule if you don't want it.

[2020-02-10 13:55] PopGoesTheWza commented on #499
@JounQin It should be fixed with https://github.com/DmitrySoshnikov/regexp-tree/issues/163

[2020-02-10 14:02] fisker commented on #499
We need add test on this case, so we can close this issue.

[2020-02-10 14:27] JounQin commented on #499
@PopGoesTheWza I checked my `yarn.lock`, the version of `regexp-tree` is `0.1.18`, but it does not work.

[2020-02-11 16:52] sindresorhus commented on #469
Let's go with `better-regex`.

[2020-02-11 18:33] fisker opened #521 "Enable `import/order` rule"
Temporary disabled in https://github.com/sindresorhus/eslint-plugin-unicorn/pull/504#discussion_r377442585 , possible bug on windows https://github.com/benmosher/eslint-plugin-import/pull/1651 , need enable when bug fixed.

[2020-02-11 19:20] fisker commented on #469
Need a better rule description

`Enforce the use of regex shorthands to improve readability` (old)

and error message

`Use regex shorthands to improve readability.` (old)

[2020-02-12 01:23] fisker opened #524 "`escape-case` fixer bug"
[code]

fixed to

[code]

Should be

[code]

[2020-02-12 08:19] #524 closed

[2020-02-12 11:45] sindresorhus commented on #144
Yes

[2020-02-12 11:48] sindresorhus commented on #144
Yes, this is what I meant.

[2020-02-12 11:49] sindresorhus commented on #144
I feel like this would be better as just an option to https://eslint.org/docs/rules/no-implicit-globals to prevent assigning to known globals.

[2020-02-12 14:54] sindresorhus commented on #469
Let's first summarize what the rule does now:

- Enforces shorthands readability
- Sorts character classes for consistency
- What else?

[2020-02-12 15:19] fisker commented on #469
https://github.com/DmitrySoshnikov/regexp-tree/tree/master/src/optimizer#transforms

[2020-02-12 15:36] sindresorhus commented on #469
We don't need to mention all of those though. We can link to it in the docs.

So in summary:
- Enforces shorthands readability
- Sorts character classes for consistency
- Makes regexes safer

So for description, maybe:

As for the error message, that really depends on the transformation being done though.

[2020-02-12 22:40] sindresorhus opened #537 "Don't auto-fix `.onmessage` in `prefer-add-event-listener` rule"
See: https://github.com/xojs/xo/issues/400

[2020-02-13 08:45] #122 closed

[2020-02-13 08:49] #469 closed

[2020-02-13 08:56] #537 closed

[2020-02-13 10:04] #506 closed

[2020-02-13 10:33] fisker opened #548 "`prefer-node-remove`: Do not remove `callee` from `.removeChild()`"
Ref: https://github.com/sindresorhus/eslint-plugin-unicorn/pull/507#issuecomment-585156112

`parentNode.removeChild()` call can have complicated `callee`

Eg:

[code]

Currently, we fix this to `childNode.remove()`, which is not safe.

Maybe we should not fix in this rule, or use [suggestion](https://eslint.org/docs/developer-guide/working-with-rules#providing-suggestions).

Another related issue:

[2020-02-13 10:43] fisker opened #549 "`prefer-node-remove`: Allow more types of `childNode`"
Ref: https://github.com/sindresorhus/eslint-plugin-unicorn/pull/507#issuecomment-585156112

Currently, this rule only check that `childNode` is `ThisExpression` or `Identifier`, should allow more AST Types, like:

[code]

More cases: https://github.com/sindresorhus/eslint-plugin-unicorn/blob/fe711c851b75d663c04bfa1c2e07649cb7ba58c0/test/prefer-node-remove.js#L61-L65

Note: some case may hard to fi

[2020-02-14 18:23] #391 closed

[2020-02-14 18:23] #372 closed

[2020-02-14 19:45] fisker opened #556 "Missing `no-fn-reference-in-iterator` case"
https://github.com/sindresorhus/eslint-plugin-unicorn/pull/553#discussion_r379110727

Not confirmed yet. Will post details, once confirmed.

[2020-02-15 06:08] pat841 opened #557 "SublimeLinter error since v16.0.0"
Linting with v15.0.1:
- Command Line: No issue, runs without error
- SublimeLinter: No issue, runs without error

Linting with v16.0.0 and after (I have tried every version since):
- Command Line: No issue, runs without error
- SublimeLinter: `SublimeLinter: ERROR: SyntaxError: Failed to load plugin 'unicorn'`

Exact error output:
[code]

Currently working around this by using v15.0.0.

[2020-02-15 06:20] sindresorhus commented on #557
You need to upgrade your Node.js version.

[2020-02-15 07:17] pat841 commented on #557
@sindresorhus

[code]

[2020-02-15 07:38] sindresorhus commented on #557
SublimeLinter doesn't necessarily use the Node.js version in your `$PATH`.

http://www.sublimelinter.com/en/stable/troubleshooting.html

Tests are passing here, so this is not a bug in eslint-plugin-unicorn.

[2020-02-15 07:38] #557 closed

[2020-02-15 19:43] pat841 commented on #557
@sindresorhus I dont think its an issue with `$PATH` since v15 works but v16 doesnt.

[2020-02-15 20:05] pat841 commented on #557
I also tried adding `"env": { "PATH":"/usr/local/bin/" }` which did not fix the issue.

[2020-02-15 22:13] san4io commented on #557
Ok, found solution.

**If you're using JetBrains IDE you should configure lint manually, choose node interpreter above 10**:

![image](https://user-images.githubusercontent.com/12079341/74595956-fff3e080-5050-11ea-8946-59b8bca06a89.png)

[2020-02-16 05:39] fisker opened #561 "`catch-error-name` fixer bug"
[code]

This rule try to rename `e` -> `error`, but `error` already defined.

Code from https://github.com/eslint/eslint/blob/41de9df41a30a4300243bfe4ca26f716a787b2fc/lib/init/npm-utils.js#L107-L118

[2020-02-16 07:55] fisker commented on #556
Not bug, only because we disabled `no-fn-reference-in-iterator`

https://github.com/sindresorhus/eslint-plugin-unicorn/blob/f489ce204e546b379b867e15f381b7fff9bf068f/index.js#L34

[2020-02-16 07:55] #556 closed

[2020-02-16 09:21] fisker commented on #392
[code]

What do we do with function `foo`?

1. ignore
1. move to top of `useEffect`
1. move to top of `file`

[2020-02-16 09:39] #374 closed

[2020-02-16 09:39] #375 closed

[2020-02-20 20:23] hatched-tom commented on #392
@fisker I believe 2 makes the most sense here, unless I'm missing something

[2020-02-22 14:25] sindresorhus opened #566 "Rule proposal: No moot try/catch"
I sometimes see code like this:

[code]

In this case, the try/catch is moot as the error is just directly rethrown.

So the rule would trigger if the only thing in the catch block is `throw errorVariableName;`.

[2020-02-24 17:20] futpib commented on #90
@sindresorhus Isn't this a better definition for your error that passes the rule?

[code]

I thinks the rule is right here.

[2020-02-25 18:35] mrmlnc opened #567 "prevent-abbreviations: whitelist has no effect on file name"
### Environment

* OS Version: Windows 10
* Node.js Version: `13.7.0`
* ESLint: `6.8.0`
* `eslint-plugin-unicorn`: `16.1.1`

### Actual behavior

[code]

### Expected behavior

There are no errors, because `e2e` is a valid word.

Also this works for the variable name, but not for file name.

### Steps to reproduce

1. `npm i eslint eslint-plugin-unicorn`
2. Create `.eslintrc.json` file
3. Create `

[2020-02-25 18:47] mrmlnc commented on #567
This behavior is related to the line:

https://github.com/sindresorhus/eslint-plugin-unicorn/blob/875c471be0ce5023a9b9af9f8cf62cd59efe634c/rules/prevent-abbreviations.js#L305-L306

[code]

[2020-02-26 16:45] kanadgupta commented on #557
I'm seeing this issue as well. It's causing SublimeLinter to completely break for me. I believe it has to do with the changes to these regular expressions in https://github.com/sindresorhus/eslint-plugin-unicorn/pull/534 by @fisker:
https://github.com/sindresorhus/eslint-plugin-unicorn/blob/875c471be0ce5023a9b9af9f8cf62cd59efe634c/rules/escape-case.js#L5-L6

It looks like these changes may have in

[2020-02-27 11:38] fisker commented on #567
It was me implement this word split method, but I have no idea how to fix this case.

If we split word includes the number, `err2` will get pass, since we are replacing `err` not `err2`.

If we ignore `e2e` like replace `some.spec.e2e` to `some.spec._placeholder_`, works for this case  but, if we choice ignore `e` , ` err` will get pass again.

[2020-02-27 11:57] fisker commented on #567
`var e2e = 1;` is ignored because the whole `e2e` can be ignore before splitting into words. for filename, you can also get pass, if your file name is `e2e.js`. And if you name `var is_e2e =true` you will get the same failed result as `some.spec.e2e.js`, they are the  same logic.

[2020-02-27 21:03] silverwind opened #568 "no-fn-reference-in-iterator: false-positive on non-iterator and CallExpression"
[code]

`.filter` is not an iterator here. I think the rule confuses it with `Array.prototype.filter` and the false-positive seems specifically triggered by a `CallExpression` argument.

The autofixer produces broken code for this case.

[2020-02-27 22:38] silverwind commented on #566
FWIW, this is already implemented in rule [sonarjs/no-useless-catch](https://github.com/SonarSource/eslint-plugin-sonarjs/blob/master/docs/rules/no-useless-catch.md).

[2020-02-28 00:11] sindresorhus commented on #566
@silverwind It would still be useful here though. I’m not going to depend on the SonarJS plugin just for one rule. It’s also a very simple rule to make.

[2020-03-02 10:17] #472 closed

[2020-03-02 10:17] #499 closed

[2020-03-02 17:12] kanadgupta opened #573 "SublimeLinter error with named groups in RegEx"
### Environment
OS Version: macOS 10.15.2
Node.js Version: `v10.16.0`
ESLint: `6.8.0`
eslint-plugin-unicorn: `16.1.1`

Bumping the issue @pat841 was seeing in #557 since the usage of named groups (introduced in #513 by @fisker) breaks SublimeLinter: https://github.com/sindresorhus/eslint-plugin-unicorn/blob/875c471be0ce5023a9b9af9f8cf62cd59efe634c/rules/escape-case.js#L5-L6

Here's the error:
[cod

[2020-03-03 00:25] fisker commented on #573
How did you comfirm?

[2020-03-03 07:26] sindresorhus commented on #573
Submit a failing test and we'll look into this, but I'm almost certain this is caused by SublimeLinter using an older Node.js version on your system.

[2020-03-03 08:43] brettz9 opened #574 "Prefer `matchAll`"
Not offering a PR here, but just thought such a rule could possibly fit your project...

Namely, preferring `String.prototype.matchAll` to `while` loop `exec` assignments.

As per https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/matchAll#Examples , one can replace this:

[code]

..with the likes of:

[code]

I find it quite a bit more elegant and semantic, an

[2020-03-03 08:52] sindresorhus commented on #574
I like it, but the rule needs to be off by default for now as `.matchAll` requires Node.js 12.

[2020-03-03 09:07] sindresorhus commented on #90
@futpib I agree.

---

We still need to do this though:

[2020-03-03 12:19] sindresorhus commented on #208
@fregante That sounds good to me. However, the fixer you're suggesting might not be feasible as destructuring with default value and object-spread have slightly different behavior. Object-spread elements overwrite the defaults even if the value is undefined, destructuring default doesn't. Which makes the destructuring default a better alternative.

[2020-03-03 12:36] fregante commented on #208
My last example should be fixed if `...a` was moved before `b`, I think that was my mistake. Are you referring to that one?

[2020-03-03 13:50] sindresorhus commented on #208
I'm referring to that one, yes. The above example is definitely not correct. Now `b` will always override the input no matter what.

[2020-03-03 15:34] fregante commented on #208
I suppose you’re talking about `function ({a=1, b=2})`. My suggestion (which is OP’s suggestion actually) preserves `arguments[0]` as an object, if you need it.

[2020-03-03 15:42] sindresorhus commented on #208
Yes, but it still changes the behavior, so it cannot really auto-fix to that.

[2020-03-03 16:26] kanadgupta commented on #573
Closing this. I was convinced that my `nvm` configuration was using my default Node version (which is v10.16.0) but after some further investigation it was due to my usage of `nvm` as opposed to `n` (see [this comment](https://github.com/SublimeLinter/SublimeLinter/issues/128)). Thanks so much and apologies for the false alarm.

[2020-03-03 16:26] #573 closed

[2020-03-05 13:29] #254 closed

[2020-03-05 15:37] coreyfarrell opened #579 "prevent-abbreviations: Inappropriate suggested rename for `pkg`"
[code]

Following this suggestion produces a parse error in strict / ES module mode as `package` is a reserved name.  I've just renamed the variable to `packageFile` but still wanted to share this finding so you would be aware.  Not sure what an appropriate generic suggestion would be, maybe this rule could ignore `pkg` but still suggest `pkgFile` -> `packageFile`?

[2020-03-05 16:08] sindresorhus commented on #579
Weird. In those cases it’s supposed to suggest `package_`.

[2020-03-05 18:04] lo1tuma commented on #192
Should this be the default behavior or should we just add another option to provide a regex pattern that the catch binding must match?
Another disadvantage for descriptive error names would be that we don’t get auto-fixing.

I would be willing to implement this feature once we have figured out the details of how it should work.

[2020-03-05 18:13] pvdlg commented on #192
I imagine you can still auto-fix the case `e` => `error` which is the most common.

[2020-03-06 11:14] fregante opened #580 "Rule proposal: `indent` for template literals"
This looks fine:

<img width="298" alt="ok" src="https://user-images.githubusercontent.com/1402241/76078551-f278a900-5fb3-11ea-8b70-a046b1ae49ef.png">

But is it?

<img width="301" alt="ko" src="https://user-images.githubusercontent.com/1402241/76078560-f4426c80-5fb3-11ea-9fc6-2a55d3106640.png">

## Description

Template literals are awkward because their indentation may be significant, but I thin

[2020-03-06 11:25] fregante commented on #580
I'll add: The indentation in my example cannot be fully fixed because the parser has no concept of opening/closing tags **inside** the template literal, so:

[code]

can only be fixed to

[code]

or

[code]

and **not** as the expected:

[code]

However:

1. The first erro is still useful
2. The second part can still be an **optional** error, e.g. "unexpected significant whitespace in template lit

[2020-03-06 11:41] sindresorhus commented on #192
How about we change the `name` option to accept a regex instead?

[2020-03-06 11:46] sindresorhus commented on #566
Oh, interesting. Seems it didn't catch https://github.com/sindresorhus/npm-name/pull/38#discussion_r382889830 as it was not enabled yet then: https://github.com/xojs/eslint-config-xo/commit/28608a4f28b2eb9f0ccccd8f6daecf97bc7f633d

[2020-03-06 11:46] #566 closed

[2020-03-06 13:53] lo1tuma commented on #192
@sindresorhus That would be sufficient for my needs. But in this case we would also lose the ability to auto-fix detected problems. Or we provide a second option that specifies which name should be used for auto-fixing ,e.g. `{ pattern: '^error$|^.+Error$', nameForAutoFixing: 'error' }`.

[2020-03-06 14:59] sindresorhus commented on #192
@lo1tuma Are we talking about the same thing? As the `pattern` would be **allowed error names**, so there's no auto-fixing needed.

[2020-03-06 15:03] sindresorhus commented on #192
I've been thinking about this some more, and I think we should just continue auto-fixing to `error${index}`, but also change the `caughtErrorsIgnorePattern` option default to `^_$|^error|error$`. This way we have a sane default auto-fix, but users can still rename the fixed error names to something more descriptive.

[2020-03-06 15:35] lo1tuma commented on #192
Great idea. So basically we already have everything to support this use-case. I’m going to open a PR.

[2020-03-07 20:53] stephen-dirtcreative opened #582 "unicorn/better-regex rule missing (16.1.1)"
*Environment*:
eslint v6.8.0
eslint-plugin-unicorn v16.1.1

*eslintrc.js*:
[snip]
rules: {
  ...
  'unicorn/better-regex': 'error',
  ...
}
[/snip]

*Expected*:
Rule exists

*Actual*:
'Definition for rule ... not found'

*Triage*:
Looking in the package files (./node_moduels/eslint-plugin-unicorn/rules/ shows there is no better-regex.js file

[2020-03-08 00:15] fisker commented on #582
`unicorn/better-regex` was named `unicorn/regex-shorthand` https://github.com/sindresorhus/eslint-plugin-unicorn/pull/522 ,[this change](https://github.com/sindresorhus/eslint-plugin-unicorn/pull/522) has not been released.

[2020-03-08 11:00] #327 closed

[2020-03-08 11:22] sindresorhus commented on #582
https://github.com/sindresorhus/eslint-plugin-unicorn/releases/tag/v17.0.0

[2020-03-08 11:22] #582 closed

[2020-03-08 12:47] brettz9 opened #583 "`better-regex` rule not found"
Apologies if this ends up being more of a tooling issue, but as it impacts a new unicorn rule, I thought I'd bring it up in case it is due to some config.

After updating to Unicorn 17.0.0, when I use my IDE (Atom) with the `linter-eslint` package, I am getting an error in my linter, even after IDE restart, that "Definition for rule 'unicorn/better-regex' was not found. (unicorn/better-regex)". Ye

[2020-03-08 12:58] yakov116 commented on #583
https://github.com/sindresorhus/eslint-plugin-unicorn/releases

[2020-03-08 13:03] brettz9 commented on #583
Yes, thanks, but I'm trying with that new rule,`better-regex`. I just mentioned the `regex-shorthand` to contrast that it is working while `better-regex` is not. Despite my having updated to the version which should have `better-regex` and appears to.

[2020-03-08 22:44] brettz9 commented on #583
Still getting this after #584 / v17.0.1 upgrade (and Atom restart)...

[2020-03-09 00:10] brettz9 commented on #583
Figured it out... My home directory had an older copy of unicorn. The IDE's algorithm (FWIW, in `getRelativePath` of `linter-eslint/src/worker-helpers.js`) to set a base path was to look for an `.eslintignore`, and in this case, as I didn't have one in that project, it looked in the home directory and finding one there, it set that HOME path to be the linting path. Adding an `.eslintignore` to my

[2020-03-09 00:10] #583 closed

[2020-03-09 04:05] sindresorhus commented on #327
Rewarding this issue is blocked by a dumb IssueHunt bug: https://spectrum.chat/issuehunt/general/error-when-accessing-an-issue-page~edd3be59-9228-472f-ae32-ce888e56bc1c?m=MTU4MzcyNjY3MjIxOQ==

[2020-03-09 18:19] #192 closed

[2020-03-10 21:45] kevinoid opened #586 "consistent-function-scoping false positive for uninitialized let variable"
Running ESLint 6.8.0 with eslint-plugin-unicorn 17.1.0 and `"extends": "plugin:unicorn/recommended"` on a file with the following reduced example code:

[code]
gives the following output:

    /path/to/example.js
      6:3  error  Move function to the outer scope  unicorn/consistent-function-scoping

    ✖ 1 problem (1 error, 0 warnings)

The error seems incorrect since the `onEnd` function can't

[2020-03-11 05:56] #586 closed

[2020-03-11 08:07] fisker opened #591 "Style: rename functions starts with `check` and return `boolean`"
We have a lot of functions named `check…`, those functions don't return a boolean value are fine, but when I read some function like this https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/rules/consistent-function-scoping.js#L81 , it's really hard to understand what `true` mean.

<details>
<summary>Check result with `unicorn/no-keyword-prefix` rule</summary>
<pre><code lang="text">

[2020-03-11 09:55] #392 closed

[2020-03-11 09:58] #579 closed

[2020-03-11 11:06] sindresorhus commented on #591
I agree. We should prefix with `is`, `has`, or `can` if they return a boolean.

[2020-03-11 13:21] kevinoid commented on #586
Thanks for the very fast fix @fisker and @sindresorhus!  Works great for me.

[2020-03-11 13:38] sindresorhus opened #594 "Rule proposal: Prefer `Number` methods"
### Fail

[code]

### Pass

[code]

This rule cannot be auto-fixable as the globals methods have slightly different behavior. However, it **should** use the ESLint suggestions API.

Should we also enforce `Number.NaN` over `NaN`? They equivalent. I'm leaning towards "yes", for consistency, and also less use of floating globals.

[2020-03-11 15:08] fisker commented on #594
I  never  see anyone use `Number.NaN`, but  we  can make a option to enable it.

Relate issue on eslint https://github.com/eslint/eslint/issues/8894

[2020-03-11 15:24] sindresorhus commented on #594
Maybe we could just try enforcing `Number.NaN` and see if anyone cares enough to complain?

[2020-03-11 15:42] fisker commented on #594
One  note, please  use this `isShadowed` check https://github.com/sindresorhus/eslint-plugin-unicorn/blob/cdfedd8451bffa613f3e0bfbadbda71335b5f1c8/rules/new-for-builtins.js#L20 when  implementing.

[2020-03-12 04:15] garyking opened #596 "Option to ignore arrow functions in `consistent-function-scoping`"
Please allow the option to ignore arrow functions in the `consistent-function-scoping` rule. Sometimes I create a one liner function, and I don't want to have to move it to the highest scope.

[2020-03-12 06:38] fisker opened #598 "Dead code in `no-keyword-prefix`"
`options.ignoreDestructuring` is used  https://github.com/sindresorhus/eslint-plugin-unicorn/blob/054e04b22a2b08bb5b996206add0b657c1f3b394/rules/no-keyword-prefix.js#L144

There is no such option in both [`schema`](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/054e04b22a2b08bb5b996206add0b657c1f3b394/rules/no-keyword-prefix.js#L186-L209), [docs](https://github.com/sindresorhus/eslint-

[2020-03-12 06:41] fisker commented on #596
Any real world case?

[2020-03-12 06:47] fisker commented on #574
I think difficult part of this is how to detect this.

Maybe check any assignment of `.exec()` call in `while` loop?

[2020-03-12 07:34] fisker opened #599 "Rule proposal: fix tailing underscore"
Currently `catch-error-name` and `prevent-abbreviations` auto-fix may add `_` to variables, like `error_` to avoid syntax error. Main purpose of this rule is to remove  unnessassary tailing underscore.

Run `prevent-abbreviations` against this code

[code]

will fix to

[code]

Someday, we decide not to use `current` anymore, so the tailing underscore of `current_` and `current__` become weird, we

[2020-03-12 08:44] sindresorhus commented on #574
This is now accepted. PR welcome :)

[2020-03-12 08:45] sindresorhus commented on #598
Remove it.

[2020-03-12 09:01] sindresorhus commented on #599
Is this actually solving a problem for you?

I don't think I ever had more than one `_` or number added.

[2020-03-12 09:22] fisker commented on #599
One `_`: yes. More: not yet.
Number: yes and many, mostly from refactor, people just remove `foo`, and left `foo2`.

[2020-03-12 13:43] PopGoesTheWza opened #602 "Rule `unicorn/string-content` should allow more "safe" tags"
this new rule has great potential value, especially with its configurable `patterns` property.

But in some (too many) of my projects I dynamically generate SQL like statements which involves quite a few single quotes.

Would it be possible to add `sql` to the current list of "safe" tags? An even better option would be to make the list of said tags user configurable like `patterns`.

[2020-03-12 14:39] sindresorhus commented on #602
Can you share an example on what such statements look like? Are you using tagged template literals?

[2020-03-12 15:28] PopGoesTheWza commented on #602
Here is a random pick of where a filter clause is computed. Input is an email address to match with any of two columns.

[code]

This one is very basic. Having single quotes in the template is important for two reasons:
- syntax/grammar correctness (though the quoting could be delegated to the tag function)
- visual cue to the dev (who is already managing similar queries with different tools/inter

[2020-03-12 18:23] garyking commented on #596
I enabled this rule, and got dozens of warnings, so I do have some examples. Many are legitimate warnings, but some are for one-liner arrow functions that I don't feel like it makes sense to extract them.

One example, for an NBA app, written in TypeScript; this function returns a formatted lead for either the away or home team. For the team that's winning in a live game, it shows `(+5)` to indica

[2020-03-12 18:28] garyking commented on #596
Another example I have is this piece of code, which is used to show the Git branches of a project. The final line, accepts two functions. I've split the functions off, rather than passing them directly, since I think it's easier to read this way. This rule reports errors on both functions.

[code]

[2020-03-13 08:46] fisker commented on #477
The result is different now.

[code]

But seems still not right `[\s]` should equivalent to `[ \f\n\r\t\v\u00a0\u1680\u2000-\u200a\u2028\u2029\u202f\u205f\u3000\ufeff]` , https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions/Character_Classes#Types

[2020-03-13 08:54] #598 closed

[2020-03-13 14:43] isghe commented on #327
It's a dangerous rule https://github.com/xojs/xo/pull/439#issuecomment-598751860

[2020-03-13 18:38] fisker commented on #495
@sindresorhus Why do you think it should  not auto-fixable?

I've made a prototype works fine with auto-fix.

[2020-03-14 07:23] sindresorhus commented on #495
I guess if you can confidently check all references, it's fine.

[2020-03-14 07:25] #445 closed

[2020-03-15 17:35] silverwind commented on #495
What would be the limitations of this rule? Say a external API passes a `Array`. Would the rule require me to convert that to a `Set` first? Or does it only operate on arrays declared via literals?

[2020-03-16 00:12] fisker commented on #495
@silverwind I'm going to make it only work on `ArrayExpression` first, so external `Array` will not reported. You can  help review #604

[2020-03-16 03:36] #477 closed

[2020-03-16 04:45] fisker commented on #475
I'm going to close this, you should not run eslint on any `.png/.jpg` file.

[2020-03-16 04:45] #475 closed

[2020-03-16 04:48] fisker commented on #334
@zamboney Still interested to implement this rule?

[2020-03-16 05:18] #480 closed

[2020-03-16 10:02] fisker opened #612 "Rule proposal: `no-null`"
https://github.com/sindresorhus/meta/issues/7

# Fail

[code]

# Pass

[code]

Exclude `Object.create`

[code]

- There is already a plugin do this, https://github.com/nene/eslint-plugin-no-null/blob/master/index.js
- Rule proposal: no-null in `ESLint` project https://github.com/eslint/eslint/issues/6701
- TypeScript Coding guidelines https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines#

[2020-03-16 11:09] silverwind commented on #495
I also wonder for cases where I have a small `Array` which I need to check for existance of an item but which I'd then need to pass on as `Array` to an external consumer. I imagine the conversation to `Set` and back may end up being worse performance than just calling `.includes` on a short array.

[2020-03-16 11:58] fisker commented on #495
You can alway use `eslint-disable` to disable it on small array, or we can option to do add length check later.

[2020-03-16 13:11] silverwind commented on #495
Yeah of course. I generally try to avoid using `eslint-disable`, but this rule should still be good for manually checking a code base for inefficiencies related to `.includes`.

[2020-03-16 15:12] PopGoesTheWza commented on #602
Other common use case of template string requiring the single quote character is when interacting with spreadsheets. Typically using [Google Apps Script](https://developers.google.com/apps-script/) and [Microsoft Graph](https://docs.microsoft.com/en-us/graph/api/resources/excel?view=graph-rest-1.0)

[2020-03-17 08:57] fisker commented on #347
#608 Didn't cover `prefer-event-key` yet

[2020-03-17 14:30] #438 closed

[2020-03-18 11:44] EvgenyOrekhov commented on #591
@sindresorhus What about other verbs like `should` or `are`? Examples: `shouldAbortEarly`, `areSettingsValid`.

[2020-03-18 12:25] EvgenyOrekhov commented on #334
I like [JSLint's stance on import/export](http://jslint.com/help.html#import):

I don't really see benefit in this:

[code]

over this:

[code]

I would say that it's the `export ... from` syntax that's unnecessary.

[2020-03-19 16:10] fregante opened #617 "Rule proposal: only functions names can have verbs (get, set, create, remove)"
## OK

[code]

## NOT OK

[code]

[2020-03-19 16:21] sindresorhus commented on #617
Have you actually experienced this being a problem in the wild?

[2020-03-19 16:21] sindresorhus commented on #617
What if it's a factory?

[code]

[2020-03-19 16:22] fregante commented on #617
`getRandom` is a function

[2020-03-19 16:24] fregante commented on #617
Yep, twice today, you just saw it too

https://github.com/yakov116/refined-github/commit/12711ca7d45e32c0cddd8b5356a672fb6900900c#diff-f12ecb2375f1a7fe299ae1d0f3a1e55dR23

https://github.com/yakov116/refined-github/commit/12711ca7d45e32c0cddd8b5356a672fb6900900c#diff-f12ecb2375f1a7fe299ae1d0f3a1e55dR23

[2020-03-19 16:30] fregante commented on #591
`will`, `does` as well. These could either be `boolean` or `() => boolean`

[2020-03-19 16:39] fregante commented on #344
Was this not added to config-xo? This was not marked as error:

https://github.com/sindresorhus/refined-github/blob/86af70b3b9a816081af9e87e12036c3b54042df4/source/features/deep-blame.tsx#L63

[2020-03-19 16:44] sindresorhus commented on #617
But how do we statically detect that? It will only work if you actually call `getRandom` in the current scope or a child scope.

[2020-03-19 16:46] fregante commented on #617
TypeScript?

[2020-03-19 16:47] fisker commented on #344
@fregante I'm not sure
if  it's added, but even  added, this rule won't report on this
 case , see  https://github.com/sindresorhus/eslint-plugin-unicorn/issues/549

[2020-03-19 17:12] sindresorhus commented on #617
Related: https://github.com/sindresorhus/eslint-plugin-unicorn/issues/347

[2020-03-20 02:03] fisker opened #618 "Rule proposal: `no-unnecessary-type-casting`"
# FAIL

[code]

[code]

[code]

[code]

Not sure about the last one, the example seems need fail, but [this](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/2e273e9830bfda68a7327fa614fee205c90fd9a1/rules/expiring-todo-comments.js#L21) and [this](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/cea134612a7be8de1ce91082caba5ce4d73166b2/rules/number-literal-case.js#L17) seems mor

[2020-03-20 02:12] fisker commented on #591
Guys, I'm taking about code style on our codebase, should I change this to a rule proposal?

[2020-03-20 03:16] fisker commented on #521
`xo` disabled it by default now, will remove override in #619 .

[2020-03-20 04:13] #521 closed

[2020-03-20 06:43] fisker commented on #594
Name suggestion? How about `no-global-number-method`? But `Number.NaN` is not a method

[2020-03-20 06:47] fisker commented on #594
`prefer-number-member`?

[2020-03-20 06:59] fisker commented on #594
Should we suggest `Number.POSITIVE_INFINITY` and `Number.NEGATIVE_INFINITY` over `Infinity`

[2020-03-20 07:17] sindresorhus commented on #594
👍

No, `Infinity` is still better. The difference between positive/negative `Infinity` doesn't matter in 99% of cases.

[2020-03-20 22:27] fregante commented on #591
No need: https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/naming-convention.md

It should be configured in XO because it's a generic rule.

Found via https://github.com/typescript-eslint/typescript-eslint/issues/515 via https://github.com/sindresorhus/meta/issues/12

[2020-03-22 07:20] sindresorhus commented on #334
@EvgenyOrekhov I disagree. But you can just disable the rule if you don't want this.

[2020-03-22 08:07] sindresorhus opened #623 "Rule proposal: No reduce"
Using `Array#reduce` is in most cases not the right solution. It just makes code harder to read.

https://twitter.com/jaffathecake/status/1213077702300852224

I think it's better to just use "eslint-disable"  comments when it's actually needed for summing number, which is rare.

[2020-03-23 10:02] silverwind opened #625 "prefer-starts-ends-with: Add autofix"
It'd be very useful if [`prefer-starts-ends-with`](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prefer-starts-ends-with.md) would have a autofix available.

[2020-03-23 14:12] papb commented on #623
Hmm 🤔 interesting... I also don't like reduce generally, but I've seen people that do. I would probably enable this rule in my projects.

I think it should not be part of `plugin:unicorn/recommended` though. Or maybe it could be, but as a warning. An error by default would probably make many people angry.

[2020-03-23 15:27] sindresorhus commented on #623
It should be on by default as an error. I’m not concerned about angry users. We do what’s best for code readability regardless of whether it might be controversial. Users can just disable the rule.

[2020-03-24 13:48] #495 closed

[2020-03-24 13:52] #502 closed

[2020-03-24 18:51] himynameisdave commented on #618
Is this similar to [this rule in `@typescript-eslint`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unnecessary-boolean-literal-compare.md)?

Do we need type information to make this rule work, or is it more just ensuring that we're not doing an extra boolean cast in conditional statements?

[2020-03-24 21:00] himynameisdave commented on #568
I'm willing to take a stab at this, but I'm not sure where to start. Is it even possible to determine if `filter` (or [any other array iterator method](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/rules/no-fn-reference-in-iterator.js#L4-L14)) is from the `Array.prototype` vs some other object?

[2020-03-25 01:50] papb commented on #568
Hi @himynameisdave, may I give a suggestion?

One thing that seems quite unexpected to me is that:

The reason for my surprise is that my first guess for a cause of this bug would be the rule implementation just looking for `.filter(` calls without extra care if they are really from `Array.prototype`. However, if this was the correct explanation, false positives should happen more often than only

[2020-03-25 02:00] papb commented on #618
I think this has to be a pass... If it fails, what about the following examples?

[code]

[2020-03-25 02:10] fisker commented on #618
@papb  Sorry, I missed details, we should check `foo` is only in `if` or `ternary`.

So

[code]

[2020-03-25 02:13] fisker commented on #568
We should just disable auto-fix on this rule https://github.com/sindresorhus/eslint-plugin-unicorn/issues/418#issuecomment-542207903

[2020-03-25 13:11] papb commented on #618
@fisker Yeah, that solves my example 1, but what about example 2?

[2020-03-25 13:13] papb commented on #568
@fisker I agree that a 'more urgent' action is to disable the auto-fix, but we don't want the rule mistakenly reporting errors anyway.

[2020-03-25 13:23] fisker commented on #618
@papb Right, I didn't thought about that before, but  we can just remove `Boolean`, right ?

[2020-03-25 17:23] papb commented on #618
Maybe... But I think it's getting too complicated to ensure the rule does not claim an error where it's not;

Also, back to the other point, as you said:

And I fully agree. So let's stick with operations directly performed inside an if condition or ternary operator...

[2020-03-26 12:31] sindresorhus opened #630 "Remove `string-content` default pattern?"
I think it's too opinionated. We can have it in the docs instead.

Thoughts?

[2020-03-26 12:38] fisker commented on #630
Agree.

[2020-03-26 12:44] #594 closed

[2020-03-27 01:13] himynameisdave commented on #612
While I wouldn't personally use this rule (as I prefer to use `null` instead of `undefined`, [sorry Crockford](https://www.youtube.com/watch?v=PSGEjv3Tqo0&t=9m21s)), I can start a PR for this.

Wondering if we want to make it configurable, so perhaps `prefer-null-or-undefined`, where the user can specify which they prefer (but not both), but for now I will go forward with just `no-null`.

[2020-03-27 04:56] sindresorhus commented on #612
I would prefer to keep it to only prevent `null`.

[2020-03-30 12:21] #630 closed

[2020-03-30 16:56] mrmlnc commented on #567
Sorry for the delay. Unfortunately, I don't see the right solution here.

It seems that the safest way is to have a separate whitelist of words for file names and cut them out of the file names.

Most likely, this issue describes the edge case.

[2020-03-31 05:07] fisker opened #648 "`catch-error-name` bugs"
[Example in docs](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/catch-error-name.md) says

[caughtErrorsIgnorePattern](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/catch-error-name.md#caughterrorsignorepattern) options says

----

https://github.com/sindresorhus/eslint-plugin-unicorn/blob/b1ae9822926cca47d3621f8f7685f9c9b78e16b8/test/c

[2020-03-31 10:27] yvele opened #651 "New rule request: Enforce a maximum number of lines to try"
The rule name may be called `unicorn/try-maximum-lines`.
The idea is to avoid `try` on whole code blocks and encourage the developer to explicitly snipe the code that is expecting to throw.

Should we add a parameter to customize the maximum number of line or only set to to 1 line of code? 🤔

Note that I'm not a native english speaker so please fix the rule/option names.

# Enforce a maximum numbe

[2020-03-31 10:41] yvele opened #652 "Rule proposal: `prefer-await`"
The rule name may be named `unicorn/prefer-await`.

This only applies for ES6 code that have the [`await`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/await) keyword available.

#  Prefer `await` over `Promise#then()`, `Promise#catch()` and `Promise#finally()`

Prefer using [`await`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/await)

[2020-03-31 10:49] yvele commented on #651
Should this pass? 🤔

[code]

This may pass. I think we can limit this rule to count the number of lines, not the number of instructions.

[2020-03-31 11:08] fisker commented on #652
How about `no-promise-catch`.

[2020-03-31 11:42] fisker commented on #107
This case should has one error, `err2` is not allowed.

[2020-03-31 11:59] yvele commented on #652
Yeah right `prefer-await` fits better and will forbid using `.then()`, `.catch()` and `.finally()` methods.

[2020-03-31 12:12] fisker commented on #652
There is one rule called [`prefer-await-to-then`](https://github.com/xjamundx/eslint-plugin-promise/blob/master/rules/prefer-await-to-then.js).

There is also proposal in eslint project, https://github.com/eslint/eslint/issues/9649 and also a PR https://github.com/eslint/eslint/pull/11962 :smile:

[2020-03-31 13:40] #107 closed

[2020-03-31 20:46] yvele commented on #652
Sure but the repo looks a bit abandoned.

There is also sommes issues with this rule 😅 like [this one](https://github.com/xjamundx/eslint-plugin-promise/issues/179). Or that fact that it [only catches `.then()` and not `.catch()` used alone](https://github.com/xjamundx/eslint-plugin-promise/blob/5b935bdd3c3760a2e58eea9b89c86b6d3243e321/rules/prefer-await-to-then.js#L42). Also the rule is not fixab

[2020-04-01 02:25] fisker opened #655 "Proposal: Remove `name` option from `catch-error-name` rule"
[`name` option](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/catch-error-name.md#name)

I guess the original idea is to allow `err`, this conflict with `prevent-abbreviations` rule.

I don't think it's useful.

[2020-04-01 02:29] fisker commented on #655
After posting this, I searched github, turns out there is lot of people use `name: err`

[Ref](https://github.com/search?q=unicorn%2Fcatch-error-name+name+err&type=Code)

[2020-04-01 02:38] fisker opened #656 "Proposal: always allow descriptive names in `catch-error-name`"
We have [`caughtErrorsIgnorePattern`](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/catch-error-name.md#caughterrorsignorepattern) default pattern to ignore descriptive names like `networkError`, but if we want ignore something like `error2`, we have to use

[code]

I don't think there is no reason to forbid `networkError` as a error name, so we should alway allow `^

[2020-04-02 07:23] silverwind opened #658 "Rule proposal: `jsx-unique-key`"
Not sure if JSX-specific rules are in scope here, but I'd propose a rule that triggers if it detects duplicate `key` properties on the same nesting level/same array because React renders very weird things in such a scenario and it's certainly never intended. For example:

[code]

[2020-04-02 08:18] sindresorhus commented on #658
Seems like this would be a better fit for https://github.com/yannickcr/eslint-plugin-react?

[2020-04-02 08:49] silverwind commented on #658
Indeed, I will investigate, no need to "pollute" this module with React-specific rules.

[2020-04-02 08:49] #658 closed

[2020-04-02 16:09] sindresorhus commented on #652
I'm :+1: on adding a `prefer-await` rule here. @fisker ?

[2020-04-02 16:13] #648 closed

[2020-04-02 16:49] fisker commented on #652
I like this, remember I was looking for similar rule before. We need discuss details.

1. Do we supply auto fix?  I hate rewrite those promises.

2. If not inside asyc functions, how do we handle?We can't change function to async, since old function could return both `Promise` and other types.

3. top level `await`? Behind option?

[2020-04-03 02:44] #561 closed

[2020-04-03 02:45] #655 closed

[2020-04-03 03:32] sindresorhus commented on #652
1. We could do so for the simple cases, but it's not important to me as all my code is already using only async/await and I only need this rule to enforce so for new contributions.
2. We cannot fix then, but we should still report. We could maybe add a suggestion (suggestions API) to add the `async` keyword and then fix, but not sure it's worth the effort.
3. Nah, we can open an issue about it and

[2020-04-03 08:17] fisker commented on #151
I'm going to rewrite `no-fn-reference-in-iterator` when I have time.

[2020-04-03 09:22] fisker commented on #567
Came up a solution, check #662 .

[2020-04-03 14:21] fregante commented on #651
I don't like this but I think it can help. I usually stick a lot of code inside `try` just because I don't want to do use `let`:

[code]

and instead I use `const`:

[code]

[2020-04-03 16:13] yvele commented on #651
The purpose of that rule is to avoid having bunch of code inside a `try` 🤷‍♂

I don't see the problem with `let` 🤔

[2020-04-03 16:40] fregante commented on #651
`const` is preferred because it forces you to double-check any changes you make to the variable.
Also `const` is one line while the alternative is 2:

[code]

[2020-04-03 17:24] sindresorhus commented on #651
I'm lukewarm on this. I fear it will be more annoying than useful.

For example, here, I don't want to expose an intermediate variable outside the try scope.

[code]

Maybe it should instead enforce *only one function call inside "try"*?

[2020-04-03 17:29] fregante commented on #651
`.slice` is also a function

[2020-04-03 17:40] sindresorhus commented on #651
That's the problem though. What is a sensible line limit? There's no universal answer. I used to have the built-in ESLint line limit rules enabled, but ended up having to turn them off as measuring things by line numbers is too limiting and annoying.

[2020-04-04 09:14] sindresorhus commented on #651
The example was obviously artificial just to show that sometimes it makes sense to use multiple lines.

Here are some examples I grepped from my projects:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-04-04 09:15] sindresorhus commented on #651
How would it handle nested try/catch?

[2020-04-04 09:51] yvele commented on #651
<br>

---------

<br>

[code]

<br>

---------

<br>

If `t.fail()` it self throws, you don't want to catch it and make the test to pass.

You may use [`expect().toThrow()`](https://jestjs.io/docs/en/expect#tothrowerror) test assertion (Jest as an example). I'm pretty sure you testing framework as a proper solution to assert errors are thrown.

[code]

<br>

---------

<br>

[code]

<br>

--------

[2020-04-04 09:52] yvele commented on #651
The same way.. only n lines of code allowed in `try`

[2020-04-05 12:51] #656 closed

[2020-04-05 13:15] #548 closed

[2020-04-05 13:15] #549 closed

[2020-04-06 07:49] OmgImAlexis opened #663 "Weird "no-nested-ternary" fix result"
I ran `xo --fix` and got this result. The brackets are a little excessive.

[code]

It swapped the first code block with the second.

[code]

[code]

[2020-04-06 08:08] OmgImAlexis commented on #663
Interestingly the more I run this the more brackets I get yet the error still persists.

[code]

[2020-04-06 11:09] fisker commented on #663
We'll look into it.

[2020-04-07 02:20] fisker commented on #663
@OmgImAlexis I can't reproduce this bug, are you using a different parser?

[2020-04-07 02:20] OmgImAlexis commented on #663
I’m using xo

[2020-04-07 02:28] fisker commented on #663
Seems bug with `@typescript-eslint/parser`, sending PR to fix it.

[2020-04-07 02:45] OmgImAlexis commented on #663
I’m using the defaults that xo provides.

[2020-04-07 02:53] fisker commented on #663
If so, is your file `.ts`?

[2020-04-07 02:57] fisker commented on #663
You can test my PR with `yarn add fisker/eslint-plugin-unicorn#issue-663` or `npm install fisker/eslint-plugin-unicorn#issue-663`

[2020-04-07 03:55] #663 closed

[2020-04-07 07:36] felixfbecker opened #667 "prevent-abbreviations: event_ is suffixed with underscore"
Why is `event_` suffixed with underscore? 🤔
[code]

[2020-04-07 08:01] felixfbecker commented on #347
I have another case where `React.Children.map().flat()` gets flagged by `prefer-flatmap` even though `React.Children` has no `flatMap()` 😕

[2020-04-07 08:10] fisker commented on #568
I Don't think this is bug, and the auto-fix will be removed in #666

[2020-04-07 08:23] fisker commented on #667
Can you check your code? I guess `event` is used somewhere.

[2020-04-07 08:27] fisker commented on #347
@felixfbecker Can you open a separate issue about this? Thank you

[2020-04-08 01:54] fisker commented on #368
ESLint v7 can't test ruleId, closing this.

[2020-04-08 01:54] #368 closed

[2020-04-08 02:42] fisker commented on #90
I've fixed duplicated reports on that, anything else need to be done to close this?

[2020-04-08 14:45] #90 closed

[2020-04-08 14:46] sindresorhus commented on #90
I don't think so.

[2020-04-08 15:52] fisker opened #670 "Rule proposal: prefer-optional-catch-binding"
There is  already a  proposal in  eslint  project, but not  accepted there, I'd like to have it here .

Orignal proposal: https://github.com/eslint/eslint/issues/10434

Autofix for no-unused-vars "caughtErrors: all" is  also rejected  https://github.com/eslint/eslint/issues/11640

[2020-04-08 16:08] sindresorhus commented on #670
Accepted

[2020-04-09 11:55] fisker commented on #652
I tried a little bit to implement this rule, starting on fixing `.then`, really complicated...

[2020-04-09 12:45] #130 closed

[2020-04-09 13:42] fregante opened #675 "Rule proposal: Don't pass default values to functions"
# Fail

[code]
[code]
[code]
[code]
[code]

And any other common defaults pattern (unless already blocked by other rules like [`prefer-object-spread`](https://eslint.org/docs/rules/prefer-object-spread))

# Pass

[code]

# Exclude

If `run` depends on arity/`arguments.length`

[2020-04-09 14:18] papb commented on #675
Your fourth example is not a "defaults pattern"... It is probably a mistake, since it overwrites the `always` option entirely... What you probably meant is:

[code]

[2020-04-09 14:19] fregante commented on #675
Heh, indeed. I rarely use that pattern so I always get it wrong

[2020-04-09 14:23] papb commented on #675
Actually your last example is wrong too haha, should be:

[code]

[2020-04-09 14:25] fregante commented on #675
That's what happens when I code in a `<textarea>` :D

[2020-04-09 14:33] papb commented on #675
@fregante You forgot to fix it in the [ESLint issue](https://github.com/eslint/eslint/issues/13168) 😅

[2020-04-09 14:37] fregante commented on #675
I'll hire you to follow my comments.

[2020-04-09 14:49] papb commented on #675
@fregante 🤣

[2020-04-09 15:01] fisker commented on #675
How much will you pay him? I only need half.

[2020-04-09 15:09] fregante commented on #675
I never mentioned pay. It's all about exposure.

[2020-04-10 02:52] fisker commented on #652
[code]

Shouldn't fix to

[code]

`onRejected` should not handle `onFulfilled` errors, right?

So, the following one is right?

[code]

[2020-04-10 03:08] bmish opened #677 "`escape-case` only catches first escape sequence in string"
I'm seeing [escape-case](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/escape-case.md) only catch and autofix/uppercase the first escape sequence character.

Before: `const x = '\uff10\uff11'`
After: `const x = '\uFF10\uff11'`

[2020-04-10 03:39] fisker commented on #677
This rule only fix one character once, with `--fix` you'll get all fixed.

[2020-04-10 03:52] bmish commented on #677
I'm a bit unsure what you mean? I did use `eslint --fix` but only the first escape sequence gets fixed.

[2020-04-10 04:00] fisker commented on #677
Right, I broke it in https://github.com/sindresorhus/eslint-plugin-unicorn/pull/534

[2020-04-10 05:14] fisker commented on #677
Should be fixed by #678

[2020-04-10 09:08] yvele commented on #652
@fisker maybe the rule should not fix that kind of case (that requires a new variable).. and the rule should be partially fixable.

Note that this is not an acceptable fix because we don't want to catch `onFulfilled`:

[code]

[2020-04-10 09:32] fisker commented on #652
I have lots of legacy codes need rewrite from my work, I want a fix so much.

[2020-04-10 12:18] yvele commented on #652
Yeah but what if a `result` variable already exists on the same scope? Will this use case be the limit of what is fixable?

[2020-04-10 14:53] #677 closed

[2020-04-11 16:57] fregante opened #681 "Add some sort of whitelist to `string-content`"
Rule: https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/string-content.md

Issues reported in https://github.com/xojs/xo/pull/439#issuecomment-598751860

I initially suggested this rule in https://github.com/sindresorhus/eslint-plugin-unicorn/issues/327 but I'm not able to use it because it applies to strings that shouldn't be changed.

I think this rule should instead b

[2020-04-11 17:22] fisker commented on #681
I think node selector is a good idea, but people might not familiar with that syntax.

[2020-04-11 17:24] fisker commented on #681
People do use that https://github.com/search?l=JSON&q=indent+ignoredNodes&type=Code

[2020-04-11 17:27] fregante commented on #681
Indeed.

I use it too, but I just copy-pasted it from some GitHub issue.

https://github.com/hankxdev/one-click-extensions-manager/blob/03dca4c0f5289cf446b42282714e132e58a2b1b9/package.json#L29-L37

[2020-04-12 05:57] #612 closed

[2020-04-12 06:02] #418 closed

[2020-04-13 18:43] bschlenk opened #682 "Rule proposal: Disallow calling add/removeEventListener with the result of a bound function call"
Calling `this.addEventListener('event', myFunc.bind(this))` and `this.removeEventListener('event', myFunc.bind(this))` has always been an indication of an error to me. The corresponding `removeEventListener` isn't actually doing anything because the `.bind` call creates a new function.

Not sure what I'd call this rule. `disallow-anonymous-event-handler` ?

This was [requested in eslint](https://g

[2020-04-14 01:30] fisker opened #683 "Rule proposal: `no-useless-undefined`"
# Fail

[code]

[code]

[code]

[code]

[code]

[code]

[code]

# Pass

[code]

[code]

[code]

[code]

[code]

[code]

[code]

Discussion https://github.com/sindresorhus/eslint-plugin-unicorn/pull/636#discussion_r407150865

Not sure about this,

[code]

[2020-04-14 05:53] sindresorhus commented on #682
I don't really see why we should disallow `addEventListener`. Disallowing using `.bind` in `removeEventListener` totally makes sense though. The rule name should be focused on that.

[2020-04-14 05:58] sindresorhus commented on #683
Yes

[2020-04-14 08:03] fisker commented on #682
Is this even valid code?

[code]

How to remove listener with a total new function

[2020-04-14 11:16] bschlenk commented on #682
It’s valid code in that it doesn’t throw any errors, but it doesn’t remove the event listener. That would be the reason to have this rule.

What about this case:

[code]

I’ve seen someone write this code too. The `removeEventListener` call isn’t using bind, but it is still broken.

Maybe it can be configurable which methods it disallows? I’d set it up to fail on both, since there are plenty of al

[2020-04-14 15:06] kevinoid opened #685 "consistent-function-scoping: option to exclude IIFE"
For code intended to run in a shared global scope (e.g. client-side libraries), it is not uncommon to use an [immediately invoked function expression (IIFE)](https://en.wikipedia.org/wiki/Immediately_invoked_function_expression) to wrap parts of the code to avoid adding functions to the global scope.  This currently runs afoul of the `unicorn/consistent-function-scoping` rule:

[code]

Disabling `

[2020-04-16 18:22] SimenB opened #686 "Enforce directory casing in `filename-case`"
We'd like to enforce casing of both files and directories. Is that possible, or would it need some kind of "root" directory to avoid caring about directory name outside of the project? Easy enough to achieve with js config files I guess. There is `context.getCwd()`, could probably work as well